<template>
<div class="">
    <ul v-if="curriculumList.length > 0" class="curriculum-list">
        <li v-for="(curr, index) in curriculumList" :key="curr.id" :class="{'curr-watch' : curr.overlay == 100}">
            <div class="overlay-curriculum" >
                <div class="overlay-curriculum-first" :style="{ width: curr.overlay +'%' }">
                </div>
                <div class="overlay-curriculum-second" :style="{ width: (100 - curr.overlay) +'%' }">
                </div>
            </div>
            <div v-if="viewOptions.setWatchBtn" @click.prevent="setCurrWatch( curr.overlay!=100, curr.uid )" class="before" :title="curr.overlay == 100 ? '취소' : '체크'">
            </div>

            <div class="lection">
                <svg class="utouch-icon utouch-icon-play-button-2"><use xlink:href="#utouch-icon-play-button-2"></use></svg>
                <a v-if="curr.thumbnail_s" @click.prevent="showVideoPage(curr)" style="margin-right:20px;"><img :src="curr.thumbnail_s" /></a>
                <a @click.prevent="showVideoPage(curr)" class="h6 title">{{curr.title}}</a>
                <a v-if="curr.preview" class="btn btn-x-small btn--green-light">
                    Preview
                </a>

                <a v-if="viewOptions.status && !curr.enable" class="btn btn-x-small btn--red">
                    {{curr.status}}
                </a>
            </div>
            <div class="lection-time">
                <svg class="utouch-icon utouch-icon-clock-1"><use xlink:href="#utouch-icon-clock-1"></use></svg>
                {{ transTimeToPlaytime(curr.playtime) }}

                <div v-if="viewOptions.editBtn || viewOptions.deleteBtn" class="action-button-group c-gray normal" style="margin-left:20px;">
                    <a :href="'/video/'+ curr.uid + '/edit'" v-if="viewOptions.editBtn" class="edit-button" title="수정">
                        <i class="fas fa-pen-square"></i>
                    </a>
                    <a @click.prevent="deleteVideoConfirm(curr)" v-if="viewOptions.deleteBtn" class="delete-button" title="삭제">
                        <i class="fas fa-minus-square"></i>
                    </a>
                </div>
            </div>
        </li>
    </ul>

    <div v-else class="">
        <p v-if="viewOptions.noDataCommentOn">{{ viewOptions.noDataComment }}</p>
    </div>
</div>
</template>

<script>
import eventHub from '../../event.js'

export default {
    data(){
        return {
            curriculumList:[],
            recordsList:[],
            viewOptions:{
                deleteBtn:false,
                editBtn:false,
                setWatchBtn:true,
                noDataCommentOn:false,
                noDataComment:'',
                status:false
            },
            accessAllow:null,
        }
    },
    props:{
        curriculumProp:{
            required:true,
            type:Array
        },
        viewOptionsProp:{
            type:Object
        },
        recordsProp:{
            type:Array
        },
        accessAllowProp:{
            type:Boolean
        }
    },
    mounted(){
        let self = this

        if(this.recordsProp){
            this.recordsList = this.recordsProp
        }

        this.curriculumList = this.curriculumProp

        this.accessAllow = this.accessAllowProp

        _.forEach(this.curriculumList, function(value, key) {
            Vue.set(value, 'overlay', self.checkRecord(value.id, value.playtime))
        });


        if(this.viewOptionsProp){
            _.forEach(this.viewOptionsProp, function(value, key) {
                Vue.set(self.viewOptions, key, value)
            });
        }

        eventHub.$on('deleteVideo', this.deleteVideo)

        eventHub.$on('registeredTutorial', this.registeredTutorial)

    },
    methods:{
        registeredTutorial(value){
            console.log(value)
            this.accessAllow = value
        },
        showVideoPage(curr){
            if(curr.enable && curr.preview){
                window.location.href = "/video/" + curr.uid
            } else if(this.accessAllow && curr.enable){
                window.location.href = "/video/" + curr.uid
            } else {
                if(!this.accessAllow){
                    $('#alarm #title').text('강좌 접근 권한 알림')
                    $('#alarm #content').html('해당 강좌 접근 권한이 없습니다. 강좌를 수강신청하시면 내용을 보실 수 있습니다.')
                    $('#alarm').modal('show')
                    setTimeout(function(){ $('#alarm').modal('hide') }, 3000)
                } else if(!curr.enable){
                    $('#alarm #title').text('강좌 접근 에러')
                    $('#alarm #content').html('해당 강좌에 오류가 있습니다. 관리자에게 문의해 주세요.')
                    $('#alarm').modal('show')
                    setTimeout(function(){ $('#alarm').modal('hide') }, 3000)
                }
            }
        },
        async deleteVideo(data){
            console.log(data)
            $('#deleteVideo').modal('hide')
            let response = await axios.delete('/video/'+data.data.uid)

            console.log(response)
            let index = _.findIndex(this.curriculumList, ['uid', data.data.uid])
            this.curriculumList.splice(index, 1)
        },
        deleteVideoConfirm(curr){
            $('#deleteVideo').modal('show')
            eventHub.$emit('deleteVideoConfirm', curr)
        },
        async setCurrWatch(data, uid){
            let response = await axios.post('/video/'+uid+'/watch', {watch:data})

            let check1 = _.findIndex(this.curriculumList, ['uid', uid])
            let id = this.curriculumList[check1]['id']

            let check2 = _.findIndex(this.recordsList, ['video_id', id])
            if(check2 > -1){
                this.recordsList[check2]['watch'] = data
            } else {
                this.recordsList.unshift(response.data);
            }

            if(data) {
                Vue.set(this.curriculumList[check1], 'overlay', 100)
            } else {
                Vue.set(this.curriculumList[check1], 'overlay', this.checkRecord(id, this.curriculumList[check1]['playtime']))
            }
        },
        checkRecord(id, playtime){
            let check = _.findIndex(this.recordsList, ['video_id', id])
            console.log(check)
            if(check > -1){
                if(!this.recordsList[check]['watch'])
                    return this.recordsList[check]['progress'] / playtime * 100
                else
                    return 100
            } else {
                return 0
            }
        },
        transTimeToPlaytime(duration){
            return Math.round( duration / 60 ) + ' min'
        }
    }
}
</script>
