<template>
    <div class="modal fade" tabindex="-1" role="dialog" v-bind:id="modalId ? modalId : 'interestTutorialModal'">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ content.title }}</h4>
          </div>
          <div class="modal-body">
            <p>{{ content.body }}</p>

            <div class="form-group">
                <label for="title">관심 그룹 설정</label>
                <v-select taggable push-tags v-model="category" :options="categories" label="category">
                </v-select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" @click.prevent="confirm(0)">{{content.cancel}}</button>
            <button type="button" class="btn btn-primary" @click.prevent="confirm(1)">{{content.submit}}</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>

<script>
import eventHub from '../../event.js'

export default {
    data() {
        return {
            content:{
                title:'관심 강좌 등록',
                body:'관심 강좌 등록을 해주세요. 관심 강좌에서 삭제를 원하시면 아래 관심 강좌 취소 버튼을 클릭해 주세요. 아래 관심 그룹을 설정하시면 관심 강좌를 그룹별로 분류할 수 있어요. 미 선택 시 관심 강좌 전체 보기에서 보실 수 있어요.',
                cancel:'관심 강좌 취소',
                submit:'관심 강좌 등록'
            },
            receivedData:null,
            categories:[],
            category:null,
        }
    },
    props:{
        modalId:{
            type:String
        },
        contentProp:{
            type:Object
        },
        eventEmitName: {
            type: String
        },
        eventOnName: {
            type: String
        },
        categoriesProp:{
            type:Array
        }
    },
    mounted(){
        let self = this
        if(this.contentProp){
            _.forEach(this.contentProp, function(value, key) {
                Vue.set(self.content, key, value)
            });
        }

        if(this.categoriesProp)
            this.categories = this.categoriesProp

        eventHub.$on(this.eventOnName, this.setData)
    },
    methods:{
        setData(data){
            this.receivedData = data
        },
        confirm(type){
            let category
            if(typeof(this.category) === 'object')
                category = this.category.category
            else
                category = this.category ? this.category : null
            eventHub.$emit(this.eventEmitName, {data: this.receivedData, category:category, type:type})
        }
    }
}
</script>
