<template>
<div class="">
    <form class="contact-form leave-reply" id="review-form">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>리뷰 남기기</h3>
            <p>기존에 작성한 리뷰를 수정하기 원하시면 오른쪽 아래 My Review에 수정 버튼을 누르세요. 기존에 남기신 리뷰가 있을 경우 이전 리뷰를 업데이트 하게 됩니다.</p>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <v-select @input="reviewSelect" v-model="reviewSel" :options="options" label="value">
                        <template slot="option" slot-scope="option">
                            <span v-html="option.html" style="color:#FECF39;"></span>
                            {{ option.text }}
                        </template>
                        <template slot="selected-option" slot-scope="option">
                          <div class="selected d-center">
                              <span v-html="option.html"></span>
                              {{ option.text }}
                          </div>
                        </template>
                    </v-select>
                </div>

                <div class="with-icon comment-text-div">
                    <textarea @keyup="commentLimit" v-model="body" autofocus="autofocus" name="message" class="comment-text" required="" placeholder="리뷰 내용" style="min-height: 160px;"></textarea>
                    <svg class="utouch-icon utouch-icon-edit"><use xlink:href="#utouch-icon-edit"></use></svg>

                    <span>{{ bodyLen }} / {{ maxLen }}</span>
                </div>
            </div>


            <div class="col-lg-4">
                <a href="" @click.prevent="createReview" class="btn btn-small btn--green btn--with-shadow full-width" >
                    리뷰저장
                </a>
            </div>


        </div>

        <div v-if="errorMessage != ''" class="summit-message" style="margin-top:50px;">
            <p class="summit-error" v-html="errorMessage"></p>
        </div>
    </form>
</div>
</template>

<script>
import eventHub from '../../event.js'

export default {
    data(){
        return {
            user:codewwwave.user,
            maxLen:1000,
            bodyLen:0,
            body:null,
            errorMessage:null,
            review:null,
            reviewSel:null,
            options:[{value:'2', text:'별로에요. 도움이 안돼요.', html:'<i class="utouch-icon fas fa-star"></i><i class="utouch-icon far fa-star"></i><i class="utouch-icon far fa-star"></i><i class="utouch-icon far fa-star"></i><i class="utouch-icon far fa-star"></i>'},
            {value:'3', text:'별로에요. 실망스러워요.', html:'<i class="utouch-icon fas fa-star"></i><i class="utouch-icon fas fa-star-half-alt"></i><i class="utouch-icon far fa-star"></i><i class="utouch-icon far fa-star"></i><i class="utouch-icon far fa-star"></i>'},
            {value:'4', text:'기대만 못해요', html:'<i class="utouch-icon fas fa-star"></i><i class="utouch-icon fas fa-star"></i><i class="utouch-icon far fa-star"></i><i class="utouch-icon far fa-star"></i><i class="utouch-icon far fa-star"></i>'},
            {value:'5', text:'그저그래요', html:'<i class="utouch-icon fas fa-star"></i><i class="utouch-icon fas fa-star"></i><i class="utouch-icon fas fa-star-half-alt"></i><i class="utouch-icon far fa-star"></i><i class="utouch-icon far fa-star"></i>'},
            {value:'6', text:'보통이에요', html:'<i class="utouch-icon fas fa-star"></i><i class="utouch-icon fas fa-star"></i><i class="utouch-icon fas fa-star"></i><i class="utouch-icon far fa-star"></i><i class="utouch-icon far fa-star"></i>'},
            {value:'7', text:'보통이에요. 조금 도움이 되었어요.', html:'<i class="utouch-icon fas fa-star"></i><i class="utouch-icon fas fa-star"></i><i class="utouch-icon fas fa-star"></i><i class="utouch-icon fas fa-star-half-alt"></i><i class="utouch-icon far fa-star"></i>'},
            {value:'8', text:'좋아요. 도움이 되었어요.', html:'<i class="utouch-icon fas fa-star"></i><i class="utouch-icon fas fa-star"></i><i class="utouch-icon fas fa-star"></i><i class="utouch-icon fas fa-star"></i><i class="utouch-icon far fa-star"></i>'},
            {value:'9', text:'정말 좋아요. 많은 도움이 되었어요.', html:'<i class="utouch-icon fas fa-star"></i><i class="utouch-icon fas fa-star"></i><i class="utouch-icon fas fa-star"></i><i class="utouch-icon fas fa-star"></i><i class="utouch-icon fas fa-star-half-alt"></i>'},
            {value:'10', text:'좋아요. 기대이상이에요.', html:'<i class="utouch-icon fas fa-star"></i><i class="utouch-icon fas fa-star"></i><i class="utouch-icon fas fa-star"></i><i class="utouch-icon fas fa-star"></i><i class="utouch-icon fas fa-star"></i>'}]
        }
    },
    props:{
        urlPath:{
            type:String
        }
    },
    mounted(){
        eventHub.$on('editReviewToForm', this.editReviewShowForm)
    },
    methods:{
        commentLimit(){
            if(this.body.length > this.maxLen)
                this.body = this.body.substring(0, this.maxLen)

            this.bodyLen = this.body.length
        },
        async createReview(){
            if(this.user.authenticated){
                let self = this
                let error = false
                let response = await axios.post(this.urlPath, {review:this.review, content:this.body}).catch(e => {
                    self.errorMessage = '수강중인 강좌에 리뷰를 남기실 수 있습니다'
                    setTimeout(function(){ self.errorMessage= '' }, 3000);
                    error = true
                })

                if(error){
                    return false
                }

                self.errorMessage= '리뷰가 성공적으로 전송되었습니다'
                eventHub.$emit('createReviewDone', response.data)
                this.body = null
                this.review = null
                this.reviewSel = null
                setTimeout(function(){ self.errorMessage= '' }, 3000);

            } else {
                $('#alarm #title').text('리뷰 남기기 실패')
                $('#alarm #content').html('리뷰를 남기기 원하시면 로그인을 먼저해주세요')
                $('#alarm').modal('show')

                setTimeout(function(){ $('#alarm').modal('hide') }, 3000)
                return false
            }
        },
        reviewSelect(){
            if(this.reviewSel){
                this.review = this.reviewSel.value
            }
        },
        editReviewShowForm(data){
            this.review = data.review
            this.body = data.content
            this.reviewSel = this.options[data.review - 2]
        }
    }
}
</script>
