<template>
<div>
    <div class="">
        <ul v-if="loadFlag && reviews.length > 0" class="reviews-list">
            <li v-for="(review, index) in reviews" :key="review.id" class="crumina-module crumina-reviews-item" style="position:relative;">

                <div class="reviews-thumb">
                    <img :src="review.user.photo" alt="review author">
                </div>

                <div class="reviews-content">
                    <div class="author-rait-wrap">
                        <a href="#" class="h6 reviews-item-name">{{review.user.name}}</a>
                        <ul class="rate-stars" v-html="starRate(review.review)">
                        </ul>
                    </div>
                    <p v-html="$sanitize(review.content)">
                    </p>
                </div>

                <div v-if="review.user.id == user.id" class="action-button-group c-gray">
                    <a @click.prevent="editReview(review)" class="edit-button" title="수정">
                        <i class="fas fa-pen-square"></i>
                    </a>
                    <a @click.prevent="deleteReview(review)" class="delete-button" title="삭제">
                        <i class="fas fa-minus-square"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <template v-if="loadFlag && 'last_page' in pagination && pagination.last_page > 1">

        <pagination for='reviews' :pagination="pagination" />

    </template>
</div>
</template>

<script>
import eventHub from '../../event.js'
import Pagination from '../Pagination'
//import marked from'marked'

export default {
    data(){
        return {
            user:codewwwave.user,
            reviews:[],
            meta:null,
            links:null,
            pagination: {
                'current_page':null,
                'first':null,
                'from':null,
                'last':null,
                'last_page':null,
                'next':null,
                'path':null,
                'per_page':null,
                'prev':null,
                'to':null,
                'total':null
            },
            loadFlag:false,
        }
    },
    props:{
        urlPath:{
            required:true,
            type:String
        }
    },
    components: {
        Pagination
    },
    mounted(){
        this.loadReviews(1)

        eventHub.$on('reviews-pagination', this.pageChange)

        eventHub.$on('deleteReviewDone', this.deleteReviewDone )

        eventHub.$on('createReviewDone', this.createReviewDone)
    },
    methods:{
        starRate(score){
            let i = 0
            let html = ''
            let scoreLeft = score
            for(i=0; i<5; i++){
                if(scoreLeft >= 2){
                    html+= '<li><a><i class="utouch-icon fas fa-star"></i></a></li>'
                } else if(scoreLeft >= 0.5) {
                    html+= '<li><a><i class="utouch-icon fas fa-star-half-alt"></i></a></li>'
                } else {
                    html+= '<li><a><i class="utouch-icon far fa-star"></i></a></li>'
                }
                scoreLeft -= 2
            }
            return html
        },
        async loadReviews(page = 1){
            let response = await axios.get(this.urlPath+'?page='+page)

            this.reviews = response.data.data
            this.meta = response.data.meta
            this.links = response.data.links

            this.paginationSet()
        },
        paginationSet(data){
            Vue.set(this.pagination, 'current_page', this.meta.current_page)
            Vue.set(this.pagination, 'first', this.links.first)
            Vue.set(this.pagination, 'from', this.meta.from)
            Vue.set(this.pagination, 'last', this.links.last)
            Vue.set(this.pagination, 'last_page', this.meta.last_page)
            Vue.set(this.pagination, 'next', this.links.next)
            Vue.set(this.pagination, 'path', this.meta.path)
            Vue.set(this.pagination, 'per_page', this.meta.per_page)
            Vue.set(this.pagination, 'prev', this.links.prev)
            Vue.set(this.pagination, 'to', this.meta.to)
            Vue.set(this.pagination, 'total', this.meta.total)
            this.loadFlag = true
        },
        pageChange(page, path){
            this.loadReviews(page)
        },
        /*sanitizeMarkedBody(body){
            return marked(body, { sanitize : true })
        },*/
        editReview(review){
            eventHub.$emit('editReviewToForm', review)
        },
        deleteReview(review){
            $('#deleteMyReview').modal('show')
            eventHub.$emit('deleteMyReviewConfirm', {'id':review.id, 'review':review.review} )
        },
        createReviewDone(review){
            //console.log(review)
            this.loadReviews(1)
        },
        deleteReviewDone(data){
            let self= this
            // 현재 리스트에 있는 경우
            let tempIndex = _.findIndex(self.reviews, ['id', data.id]);
            if(tempIndex > -1){
                this.reviews.splice(tempIndex, 1)
                this.loadReviews(1)
            }
        }
    }

}
</script>
