<template>
  <div class="row">
      <div class="col-lg-9" style="float: none; margin: 0px auto;">
          <h3>강좌설정</h3>
          <div class="form-group">
              <label for="visibility">강좌 공개</label>
              <p>강좌의 공개를 원하면 public으로 비공개 설정 시 private으로 선택해주세요. 강좌의 세부 내용 및 개별 비디오를 모두 업로드 후 강좌를 오픈 하고 싶을 때는 비공개로 설정 후 전체 완료후에 공개로 전환해주세요. 연재 형태의 규칙적인 일정에 따라 강좌를 업로드 하실 때는 공개로 설정하시기 바랍니다. <span style="font-weight:bold; color:red;">공개 시 채널을 구독중인 유저들에게 알림 메일이 전송됩니다.</span></p>
              <select class="" id="visibility" name="visibility" v-model="visibility">
                  <option v-bind:value="vis" v-for="(vis, index) in visibilities" :key="index">{{vis}}</option>
              </select>
          </div>

          <div class="form-group">
              <label for="visibility">강좌 상태</label>
              <p>강좌 연재의 진행 상태에 따라 상태를 선택해주세요. 일정상 연기나 임시 중지는 연재 임시 중지를 선택해주세요.</p>
              <select class="" name="progress_status" v-model="progress_status">
                  <option v-bind:value="index" v-for="(status, index) in progressStatus" :key="index">{{status}}</option>
              </select>
          </div>

          <div class="description-toggle" style="margin-top:30px;">
              <div class="description-toggle-content">
                  <div class="h6">강좌 리뷰</div>
                  <p>구독자들이 강좌에 리뷰를 남기고 리뷰가 보여집니다</p>
              </div>

              <div class="togglebutton">
                  <label>
                      <input v-model="allow_reviews" type="checkbox" checked=""><span class="toggle"></span>
                  </label>
              </div>
          </div>

          <div class="description-toggle" style="margin-top:30px;">
              <div class="description-toggle-content">
                  <div class="h6">강좌 좋아요</div>
                  <p>구독자들이 강좌 좋아요를 남길 수 있습니다</p>
              </div>

              <div class="togglebutton">
                  <label>
                      <input v-model="allow_votes" type="checkbox" checked=""><span class="toggle"></span>
                  </label>
              </div>
          </div>

          <div class="description-toggle" style="margin-top:30px;">
              <div class="description-toggle-content">
                  <div class="h6">강좌 댓글</div>
                  <p>구독자들이 댓글을 남길 수 있습니다</p>
              </div>

              <div class="togglebutton">
                  <label>
                      <input v-model="allow_comments" type="checkbox" checked=""><span class="toggle"></span>
                  </label>
              </div>
          </div>

          <a @click.prevent="update" class="btn btn-border btn--with-shadow c-orange-light full-width" style="margin-bottom: 10px; margin-top:30px;">
              업데이트
          </a>

          <div v-if="errorMessage != ''" class="summit-message" style="margin-top:20px;">
              <p class="summit-error" v-html="errorMessage"></p>
          </div>

      </div>
  </div>
</template>

<script>

import eventHub from '../../event.js'


export default {
    data(){
        return {
            visibility:tutorial.visibility,
            allow_reviews:tutorial.allow_reviews,
            allow_comments:tutorial.allow_comments,
            allow_votes:tutorial.allow_votes,
            progress_status:tutorial.progress_status,
            visibilities:visibilities,
            progressStatus:progressStatus,
            errorMessage:null,

        }
    },
    props:{

    },
    updated(){

    },
    mounted(){

    },
    methods:{
        async update(){
            let self = this
            let check = false
            let response = await axios.post('/tutorial/'+tutorial.slug+'/updateSetting', {
                visibility:this.visibility,
                progress_status:this.progress_status,
                allow_reviews:this.allow_reviews,
                allow_comments:this.allow_comments,
                allow_votes:this.allow_votes
            }).catch(e => {
                console.log(e)
                check = true
                this.errorMessage = '강좌 설정에 실패하였습니다'
                setTimeout(function(){ self.errorMessage = '' }, 5000);
            })

            if(check){
                return false
            }

            this.errorMessage = '강좌 설정이 업데이트되었습니다'
            setTimeout(function(){ self.errorMessage = '' }, 5000);

        }
    }
}
</script>
