<template >
    <div class="row">
        <div class="col-lg-9" style="float: none; margin: 0px auto;">
            <h3>강좌정보</h3>
            <form class="">
                <div class="form-group">
                      <label for="title">강좌 이름</label>
                      <p class="help-block" >강좌이름 변경시 페이지가 다시 열립니다</p>
                      <input type="text" class="" placeholder="강좌 이름" v-model="form.title" >
                      <input type="text" style="display: none;" hidden />
                </div>

                <div class="form-group">
                    <label for="channel">채널 선택</label>
                    <p>강좌가 속하는 채널을 선택해 주세요.</p>
                    <select id="channel" class="" name="channel" v-model="form.channel_id">
                        <option value="">선택해주세요</option>
                        <option v-bind:value="channel.id" v-for="(channel, index) in channels" :key="channel.id">{{channel.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="skill">강좌 레벨 선택</label>
                    <p>원리와 언어 등 기초적인 강좌의 경우 Beginner, 기본을 넘어 다양한 기술적 설명이 있는 강좌는 Intermediate, 프로젝트 레벨이나 전문가 수준의 강좌는 Expert, 기초부터 핵심까지 모든 레벨을 포함한다면 All Levels를 선택해주세요</p>
                    <select class="" id="skill" name="skill" v-model="form.skill">
                        <option value="">선택해주세요</option>
                        <option v-bind:value="skill" v-for="(skill, index) in skills" :key="index">{{skill | capitalize}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="description">강좌 소개</label>
                    <froala :tag="'textarea'" :config="froalaConfig" v-model="form.description"></froala>
                </div>

                <div class="form-group" style="margin-top:50px;">
                    <label for="description">태그</label>
                    <p style="margin-bottom:5px;">특수 문자는 제외됩니다 &#40;&#38;&#91;&#92;&#93;
&#94;&#47;&#35;&#44;&#43;&#40;&#41;&#36;&#126;&#37;&#39;&#34;&#58;&#59;&#42;&#63;&#33;&#38;&#60;&#61;&#62;&#123;&#124;&#125;&#41;</p>
                    <multiselect :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="false" :close-on-select="false" :options-limit="50" :limit="20" :limit-text="limitText" @search-change="asyncFind" id="ajax" v-model="form.tag" :options="tags" :taggable="true" @tag="addTag" tag-placeholder="새로운 태그를 추가하세요" :max="maxTags" placeholder="태그를 검색하세요">
                        <template slot="maxElements">
                            최대 20개까지 태그를 입력하실 수 있습니다.
                        </template>
                    </multiselect>
              </div>

              <a @click.prevent="update" class="btn btn-border btn--with-shadow c-orange-light full-width" style="margin-bottom: 10px; margin-top:30px;">
                  업데이트
              </a>

              <div v-if="errorMessage != ''" class="summit-message" style="margin-top:20px;">
                  <p class="summit-error" v-html="errorMessage"></p>
              </div>
            </form>

        </div>
    </div>
</template>

<script>

import eventHub from '../../event.js'

export default {
    data(){
        return {
            form:{
                title:tutorial.title,
                description:tutorial.description,
                channel_id:tutorial.channel_id,
                skill:tutorial.skill,
                tag:tags,
            },
            channels:channels,
            skills:skills,
            basicFormType:'content',
            tags:tags,
            isLoading: false,
            maxTags:20,
            errorMessage:null,
            froalaConfig: {
                imageDefaultWidth:0,
                requestHeaders: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },
                saveInterval: 0,
                saveURL: '/tutorial/updateDescription/'+tutorial.slug,
                saveParams: {id: tutorial.id},
                language: 'ko',
                imageUploadParam: 'imageFile',
                imageUploadURL: '/editor/uploadToS3',
                imageUploadMethod: 'POST',
                imageMaxSize: 2 * 1024 * 1024,
                imageUploadParams: {id: tutorial.id, type: 'tutorials', width:800, mode:'resize', limitWidth:1920, limitHeight:1000, fileSize:2},
                imageAllowedTypes: ['jpeg', 'jpg', 'png', 'gif', 'svg'],
                heightMin: 500,
                heightMax: 1000,
                fontFamily: {
                  'Arial,Helvetica,sans-serif': 'Arial',
                  'Georgia,serif': 'Georgia',
                  'Impact,Charcoal,sans-serif': 'Impact',
                  'Tahoma,Geneva,sans-serif': 'Tahoma',
                  "'Times New Roman',Times,serif": 'Times New Roman',
                  'Verdana,Geneva,sans-serif': 'Verdana',
                  'Helvetica,sans-serif':'Helvetica',
                  "'Helvetica Neue',sans-serif":'Helvetica Neue',
                  "'Roboto', sans-serif":'Roboto',
                  "'Nunito', sans-serif":  'Nunito',
                  "'Nunito Sans', sans-serif":'Nunito Sans',
                  "'Montserrat', sans-serif": 'Montserrat',
                  "'Oswald', sans-serif":'Oswald',
                  "'Raleway', sans-serif":'Raleway',
                  "'Nanum Gothic', sans-serif":'나눔 고딕 Nanum Gothic',
                  "'Nanum Myeongjo', serif":'나눔 명조 Nanum Myeongjo',
                  "'Nanum Pen Script', cursive":'나눔 펜 스크립트 Nanum Pen Script',
                  "'Nanum Gothic Coding', monospace":'나눔 고딕 코딩 Nanum Gothic Coding',
                  "'Nanum Brush Script', cursive":'나눔 브러쉬 스크립트 Nanum Brush Script',
                  "'Song Myung', serif":'송명 Song Myung',
                  "'Poor Story', cursive":'푸어 스토리 Poor Story',
                  "'Gugi', cursive":'구기 Gugi',
                  "'Gothic A1', sans-serif":'고딕 A1 Gothic A1',
                  "'Black Han Sans', sans-serif":'블랙 한글 Sans Black Han Sans',
                  "'Do Hyeon', sans-serif":'도현 Do Hyeon',
                  "'Hi Melody', cursive":'하이 멜로디 Hi Melody',
                  "'Sunflower', sans-serif":'썬프라워 Sunflower',
                  "'Jua', sans-serif":'주아 Jua',
                  "'Gamja Flower', cursive":'감자 플라워 Gamja Flower',
                  "'East Sea Dokdo', cursive":'동해 독도 East Sea Dokdo',
                  "'Gaegu', cursive":'개구 Gaegu',
                  "'Stylish', sans-serif":'스타일리쉬 Stylish',
                  "'Black And White Picture', sans-serif":'블랙 앤 화이트 픽쳐 Black And White Picture',
                  "'Kirang Haerang', cursive":'키랑 해랑 Kirang Haerang',
                  "'Cute Font', cursive":'큐트 폰트 Cute Font',
                  "'Yeon Sung', cursive":'연성 Yeon Sung',
                  "'Dokdo', cursive":'독도 Dokdo'
                },
                //fontFamilySelection: true,
                toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '|', 'insertLink', 'insertImage', 'insertVideo', 'insertTable', '|', 'emoticons', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'print', 'help', 'html', '|', 'undo', 'redo'],
                events : {
                    'froalaEditor.image.error': function (e, editor, error, response){
                        console.log(error)
                        console.log(response)
                        $('#alarm #title').text('이미지 업로드 에러')
                        $('#alarm #content').html('이미지 업로드에 실패하였습니다')
                        // Bad link.
                        if (error.code == 1) {
                            $('#alarm #content').html('유효한 링크가 아닙니다')
                        }

                        // No link in upload response.
                        else if (error.code == 2 || error.code == 3 || error.code == 4 || error.code == 7) {
                            $('#alarm #content').html('업로드 가능한 본문 이미지는<br>사이즈 2Mbytes 이하<br>폭 1920픽셀 이하<br>높이 1000픽셀 이하입니다')
                            if(response){
                                let re = JSON.parse(response)
                                if('message' in re){
                                    let message = ''
                                    _.forEach(re.message, function(value, key) {
                                          message += value
                                          message += '<br>'
                                     });
                                     $('#alarm #content').html(message)
                                }
                            }
                        }

                        // Image too text-large.
                        else if (error.code == 5) {
                            $('#alarm #content').html('업로드 가능한 본문 이미지의 사이즈는 2Mbytes 이하입니다')
                        }

                        // Invalid image type.
                        else if (error.code == 6) {
                            $('#alarm #content').html('업로드 가능한 이미지 타입은 jpeg, jpg, png, gif, svg 입니다')
                        }
                        $('#alarm').modal('show')
                    },
                    'froalaEditor.image.uploaded' : function (e, editor, response) {
                        // Image was uploaded to the server.
                        console.log('froalaEditor.image.uploaded')
                    },
                    'froalaEditor.image.inserted' : function (e, editor, $img, response) {
                          // Image was inserted in the editor.
                          console.log('froalaEditor.image.inserted')
                          editor.save.save()
                    },
                    'froalaEditor.image.replaced' : function (e, editor, $img, response) {
                      // Image was replaced in the editor.
                      console.log('froalaEditor.image.replaced')

                    },
                    'froalaEditor.image.removed' : async function (e, editor, $img) {
                        console.log('froalaEditor.image.removed')
                        let response = await axios.post('/editor/deleteImage', {src: $img.attr('src'), type:'s3'})
                        editor.save.save()
                    }
                }
            },
        }
    },
    props:{

    },
    updated(){

    },
    mounted(){

    },
    methods:{
        validate(){
            var errorChk = true
            this.errorMessage = ''

            if(this.form.title == ''){
                errorChk = false
                this.errorMessage = '강좌 제목을 작성해주세요'
                return false
            }
            if(this.form.channel == ''){
                errorChk = false
                this.errorMessage = '강좌가 속할 채널을 선택해주세요'
                return false
            }
            if(this.form.skill == ''){
                errorChk = false
                this.errorMessage = '강좌 레벨을 선택해주세요'
                return false
            }
            if(this.form.description == ''){
                errorChk = false
                this.errorMessage = '강좌 소개글을 작성해주세요'
                return false
            }
            return errorChk
        },
        async update(){
            if(this.validate()){
                this.errorMessage = '강좌 업데이트 중 ...'
                let response = await axios.post('/tutorial/'+tutorial.slug+'/updateContent', this.form)

                if(response.data.result == 'success'){
                    if(tutorial.slug != response.data.tutorial.slug){
                        this.errorMessage = '업데이트 완료. 페이지가 다시 열립니다. 기다려주세요.'
                        setTimeout(function(){ window.location.href = "/tutorial/"+ response.data.tutorial.slug+'/edit'}, 1500);
                    } else {
                        this.errorMessage = '업데이트 완료'
                        // 업데이트 이벤트 발생
                        eventHub.$emit('tutorialInfoUpdate', response.data.tutorial, response.data.channel)
                    }
                } else if(response.data.result == 'error') {
                    this.errorMessage = '업데이트 실패. 다시 시도해 주세요.'

                    if('errors' in response.data){
                      this.errorMessage = ''
                      let message = ''
                      _.forEach(response.data.errors, function(value, key) {
                            message += value
                            message += '<br>'
                       });
                       this.errorMessage = message
                    }
                }
            }
        },
        addTag (newTag) {
            newTag = _.trim(newTag)
            newTag = newTag.replace(/[&\/\\#,+()$~^%\['\]":;*?!&<=>{|}]/g,'')
            //console.log(newTag)

            this.form.tag.push(newTag)
            this.tags.push(newTag)
        },
        asyncFind (query) {
            let self =this
              this.isLoading = true
              axios.get('/search/tags?q=' +escape(query))
                .then(response => {
                    self.tags = []
                    _.forEach(response.data, function(value, key) {
                        self.tags.push(value.name)
                    })
                    this.isLoading = false
                    //console.log(response)
                })
                .catch(e => {
                    console.log(e)
                })
        },
        clearAll () {
            this.form.tag = []
        },
        limitText (count) {
          return `외 ${count} 태그들이 선택됨`
        },
    }
}
</script>
