<template >
    <div class="row">
        <div class="col-lg-9" style="float: none; margin: 0px auto;">
            <h3>강좌이미지</h3>
            <form>
                <div class="form-group">
                    <label for="headImage">강좌 상단 이미지</label>
                    <div class="img-container">
                        <img :src="form.head_image ? form.head_image : '/img/tutorials/head_image.jpg'" id="headCrop" class="crop-image">
                    </div>
                    <div class="btn-group image-button-group">
                        <a @click.prevent="imageCancel(0)" class="btn btn-small btn--orange-light" style="margin-bottom: 10px; ">이미지 취소
                        </a>
                        <label title="Upload image file" for="headImage" class="btn btn-small btn--primary">
                            <input type="file" accept="image/*" name="headImage" id="headImage" class="hide input-image-file">
                            이미지 선택
                        </label>
                    </div>
                    <p class="help-block">옵션사항입니다. 미지정 시 기본 이미지가 보여집니다.</p>
                </div>

                <div class="form-group" style="margin-top:50px;">
                    <label for="thumbImage">강좌 대표 이미지</label>
                    <div class="img-container">
                        <img :src="form.thumbnail ? form.thumbnail : '/img/tutorials/thumbnail.jpg'" id="thumbCrop" class="crop-image">
                    </div>
                    <div class="btn-group image-button-group">
                        <a @click.prevent="imageCancel(1)" class="btn btn-small btn--orange-light" style="margin-bottom: 10px; ">이미지 취소
                        </a>
                        <label title="Upload image file" for="thumbImage" class="btn btn-small btn--primary">
                            <input type="file" accept="image/*" name="thumbImage" id="thumbImage" class="hide input-image-file">
                            이미지 선택
                        </label>
                    </div>
                    <p class="help-block">옵션사항입니다. 미지정 시 기본 이미지가 보여집니다.</p>
                </div>

                <a @click.prevent="updateImage" class="btn btn-border btn--with-shadow c-orange-light full-width" style="margin-bottom: 10px; margin-top:30px;">
                    업데이트
                </a>

                <div v-if="errorImageMessage != ''" class="summit-message" style="margin-top:20px;">
                    <p class="summit-error" v-html="errorImageMessage"></p>
                </div>
            </form>

        </div>
    </div>
</template>

<script>

import eventHub from '../../event.js'

export default {
    data(){
        return {
            form:{
                thumbnail:tutorial.thumbnail,
                head_image:tutorial.head_image
            },
            images:[],
            croppers:[],
            inputImage:[],
            defaultImage:[],
            waveHeadImage:null,
            waveThumbImage: null,
            cropOptions: {},
            getOptions:{},
            cropperImages:['waveHeadImage', 'waveThumbImage'],
            headDefault: '/img/tutorials/head_image.jpg',
            thumbDefault: '/img/tutorials/thumbnail.jpg',
            cropperLoad:false,
            errorImageMessage:null,
        }
    },
    props:{

    },
    updated(){
        let self = this
        this.$nextTick(function () {
            //self.runCropInit()
            console.log('image update')
        })

    },
    beforeMount(){

        if(tutorial.head_image)
            this.defaultImage.push(tutorial.head_image)
        else
            this.defaultImage.push('/img/tutorials/head_image.jpg')
        if(tutorial.thumbnail)
            this.defaultImage.push(tutorial.thumbnail)
        else
            this.defaultImage.push('/img/tutorials/thumbnail.jpg')

            console.log('image beforeMount')
    },
    mounted(){
        let self = this

        // set options
        this.getOptions = {
            waveHeadImage :{
                width: 1920,
                height: 639,
                minWidth: 256,
                minHeight: 256,
                maxWidth: 2000,
                maxHeight: 1500,
                imageSmoothingEnabled: false,
                imageSmoothingQuality: 'high'
            },
            waveThumbImage: {
                width: 360,
                height: 220,
                minWidth: 30,
                minHeight: 30,
                maxWidth: 1000,
                maxHeight: 1000,
                imageSmoothingEnabled: false,
                imageSmoothingQuality: 'high'
            }
        }
        this.cropOptions = {
            waveHeadImage: {
                aspectRatio: 3,
                viewMode: 2,
                highlight:true,
                modal:false,
                autoCropArea: 1,
                minCanvasWidth:100,
                minCanvasHeight:100,
                minCropBoxWidth:100,
                minCropBoxHeight:100,
                  ready: function (e) {
                      self.getImageCrop(0, self.getOptions['waveHeadImage'])
                  },
                  cropstart: function (e) {},
                  cropmove: function (e) {},
                  cropend: function (e) {
                      self.getImageCrop(0, self.getOptions['waveHeadImage'])
                  },
                  crop: function (e) {},
                  zoom: function (e) {}
            },
            waveThumbImage: {
                aspectRatio: 1.64,
                viewMode: 2,
                highlight:true,
                modal:false,
                autoCropArea: 1,
                minCanvasWidth:30,
                minCanvasHeight:30,
                minCropBoxWidth:30,
                minCropBoxHeight:30,
                  ready: function (e) {
                      self.getImageCrop(1, self.getOptions['waveThumbImage'])
                  },
                  cropstart: function (e) {},
                  cropmove: function (e) {},
                  cropend: function (e) {
                      self.getImageCrop(1, self.getOptions['waveThumbImage'])
                  },
                  crop: function (e) {},
                  zoom: function (e) {}
            }
        }
        self.runCropInit()

        console.log('image mounted')
    },
    methods:{
        async updateImage(){

            this.errorImageMessage = ''
            let self = this
            let runCheck = false
            let check = false

            let data = new FormData();
            // image set
            if(this.inputImage[0].value && this.waveHeadImage != null){ //head image
                data.append('head_image', this.waveHeadImage)
                runCheck = true
            }

            if(this.inputImage[1].value && this.waveThumbImage != null){ //logo image
                data.append('thumbnail', this.waveThumbImage)
                runCheck = true
            }

            if(!runCheck){
                return false
            }

            let response = await axios.post('/tutorial/'+tutorial.slug+'/updateImage', data, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).catch(e => {
                this.errorImageMessage = '이미지 변경에 실패하였습니다. 다시 시도해주세요.'
                setTimeout(function(){ self.errorImageMessage = null }, 5000);
                check = true
            })
            if(check){
                return false
            }

            this.errorImageMessage = '이미지 변경에 성공하였습니다. 변경된 이미지가 반영되기까지 시간이 조금 필요합니다.'
            setTimeout(function(){ self.errorImageMessage = null }, 5000);
        },
        runCropInit(){
            let self = this
            setTimeout(function(){ self.runCrop() }, 1500);
        },
        runCrop(){
                // Images get
                this.images = document.querySelectorAll('.crop-image')
                // get Imput images
                this.inputImage = document.querySelectorAll('.input-image-file')
            //if(!this.cropperLoad){
                let self = this
                // cropper set
                let length = this.images.length

                for (let i = 0; i < length; i++) {

                    this.croppers[i] = new Cropper(this.images[i], this.cropOptions[this.cropperImages[i]]);

                    this.inputImage[i].onchange = function () {
                        let files = this.files;
                        let file;
                        let URL = window.URL || window.webkitURL;

                        if (self.croppers[i] && files && files.length) {
                            file = files[0];

                            if (/^image\/\w+/.test(file.type)) {
                                //console.log(file.size)
                                //console.log(file.size / (1024 * 1024))
                              self.images[i].src = URL.createObjectURL(file);
                              self.croppers[i].destroy();
                              self.croppers[i] = new Cropper(self.images[i], self.cropOptions[self.cropperImages[i]]);
                            } else {
                              window.alert('이미지 파일을 선택해 주세요.');
                            }
                        }
                    }
                }
                this.cropperLoad = true
            //}
        },
        getImageCrop(index, option){
            let self = this
            this.croppers[index].getCroppedCanvas(option).toBlob(function (blob) {
                if(index == 0)
                    self.waveHeadImage = blob
                else
                    self.waveThumbImage = blob
            })
        },
        imageCancel (num) {
            this.resetInputImage(num)
        },
        resetInputImage(num){
            this.images[num].src = this.defaultImage[num];
            this.croppers[num].destroy();
            this.croppers[num] = new Cropper(this.images[num], this.cropOptions[this.cropperImages[num]]);
            this.inputImage[num].value = null;
            if(num == 0)
                this.waveHeadImage = null
            else
                this.waveThumbImage = null
        },
    }
}
</script>
