<template>
<div class="">
    <div class="form-group" style="margin-top:30px;">
        <label for="title">채널명 변경</label>
        <input type="text" v-model="channel.name" />
        <p class="help-block">채널명 변경시 페이지가 다시 열립니다</p>
    </div>
    <div class="form-group">
        <label for="headImage">채널 상단 이미지</label>
        <div class="img-container">
            <img :src="getHeadImage()" id="headCrop" class="crop-image">
        </div>
        <div class="btn-group image-button-group">
            <a @click.prevent="imageCancel(0)" class="btn btn-small btn--orange-light" style="margin-bottom: 10px; ">이미지 취소
            </a>
            <label title="Upload image file" for="headImage" class="btn btn-small btn--primary">
                <input type="file" accept="image/*" name="headImage" id="headImage" class="hide input-image-file">
                이미지 선택
            </label>
        </div>
        <p class="help-block">옵션사항입니다. 미지정 시 기본 이미지가 보여집니다.</p>
    </div>
    <div class="form-group" style="margin-top:30px;">
        <label for="title">채널 상단 메세지</label>
        <input type="text" v-model="channel.status_message" :maxlength="255" />
    </div>
    <div class="form-group">
        <label for="logoImage">채널 로고</label>
        <div class="img-container">
            <img :src="getLogoImage()" id="logoCrop" class="crop-image">
        </div>
        <div class="btn-group image-button-group">
            <a @click.prevent="imageCancel(1)" class="btn btn-small btn--orange-light" style="margin-bottom: 10px; ">이미지 취소
            </a>
            <label title="Upload image file" for="logoImage" class="btn btn-small btn--primary">
                <input type="file" accept="image/*" name="logoImage" id="logoImage" class="hide input-image-file">
                이미지 선택
            </label>
        </div>
        <p class="help-block">옵션사항입니다. 미지정 시 기본 이미지가 보여집니다.</p>
    </div>

    <div class="form-group">
        <label for="description">채널 소개</label>
        <froala :tag="'textarea'" :config="froalaConfig" v-model="channel.description"></froala>
    </div>

    <a @click.prevent="updateProfile" class="btn btn-border btn--with-shadow c-orange-light full-width" style="margin-bottom: 10px; margin-top:30px;">
        업데이트
    </a>

    <div v-if="this.errorMessage != ''" class="summit-message" style="margin-top:50px;">
        <p class="summit-error" v-html="this.errorMessage"></p>
    </div>
</div>
</template>

<script>
import eventHub from '../../event.js'
import VueFroala from 'vue-froala-wysiwyg'
Vue.use(VueFroala)

export default {
    data (){
        return {
            channel:null,
            images:[],
            croppers:[],
            inputImage:[],
            defaultImage:[],
            waveHeadImage:null,
            waveLogoImage: null,
            cropOptions: {},
            getOptions:{},
            cropperImages:['waveHeadImage', 'waveLogoImage'],
            headDefault: '/img/channels/head_image.png',
            logoDefault: '/img/channels/logo_image.png',
            cropperLoad:false,
            errorMessage:'',
            froalaConfig: {
                imageDefaultWidth:0,
                requestHeaders: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },
                saveInterval: 0,
                saveURL: '/channel/updateDescription/'+this.channelProp.slug,
                saveParams: {id: this.channelProp.id},
                language: 'ko',
                imageUploadParam: 'imageFile',
                imageUploadURL: '/editor/uploadToS3',
                imageUploadMethod: 'POST',
                imageMaxSize: 2 * 1024 * 1024,
                imageUploadParams: {id: channelInfo.id, type: 'channels', width:800, mode:'resize', limitWidth:1920, limitHeight:1000, fileSize:2},
                imageAllowedTypes: ['jpeg', 'jpg', 'png', 'gif', 'svg'],
                heightMin: 500,
                heightMax: 1000,
                fontFamily: {
                  'Arial,Helvetica,sans-serif': 'Arial',
                  'Georgia,serif': 'Georgia',
                  'Impact,Charcoal,sans-serif': 'Impact',
                  'Tahoma,Geneva,sans-serif': 'Tahoma',
                  "'Times New Roman',Times,serif": 'Times New Roman',
                  'Verdana,Geneva,sans-serif': 'Verdana',
                  'Helvetica,sans-serif':'Helvetica',
                  "'Helvetica Neue',sans-serif":'Helvetica Neue',
                  "'Roboto', sans-serif":'Roboto',
                  "'Nunito', sans-serif":  'Nunito',
                  "'Nunito Sans', sans-serif":'Nunito Sans',
                  "'Montserrat', sans-serif": 'Montserrat',
                  "'Oswald', sans-serif":'Oswald',
                  "'Raleway', sans-serif":'Raleway',
                  "'Nanum Gothic', sans-serif":'나눔 고딕 Nanum Gothic',
                  "'Nanum Myeongjo', serif":'나눔 명조 Nanum Myeongjo',
                  "'Nanum Pen Script', cursive":'나눔 펜 스크립트 Nanum Pen Script',
                  "'Nanum Gothic Coding', monospace":'나눔 고딕 코딩 Nanum Gothic Coding',
                  "'Nanum Brush Script', cursive":'나눔 브러쉬 스크립트 Nanum Brush Script',
                  "'Song Myung', serif":'송명 Song Myung',
                  "'Poor Story', cursive":'푸어 스토리 Poor Story',
                  "'Gugi', cursive":'구기 Gugi',
                  "'Gothic A1', sans-serif":'고딕 A1 Gothic A1',
                  "'Black Han Sans', sans-serif":'블랙 한글 Sans Black Han Sans',
                  "'Do Hyeon', sans-serif":'도현 Do Hyeon',
                  "'Hi Melody', cursive":'하이 멜로디 Hi Melody',
                  "'Sunflower', sans-serif":'썬프라워 Sunflower',
                  "'Jua', sans-serif":'주아 Jua',
                  "'Gamja Flower', cursive":'감자 플라워 Gamja Flower',
                  "'East Sea Dokdo', cursive":'동해 독도 East Sea Dokdo',
                  "'Gaegu', cursive":'개구 Gaegu',
                  "'Stylish', sans-serif":'스타일리쉬 Stylish',
                  "'Black And White Picture', sans-serif":'블랙 앤 화이트 픽쳐 Black And White Picture',
                  "'Kirang Haerang', cursive":'키랑 해랑 Kirang Haerang',
                  "'Cute Font', cursive":'큐트 폰트 Cute Font',
                  "'Yeon Sung', cursive":'연성 Yeon Sung',
                  "'Dokdo', cursive":'독도 Dokdo'
                },
                //fontFamilySelection: true,
                toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '|', 'insertLink', 'insertImage', 'insertVideo', 'insertTable', '|', 'emoticons', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'print', 'help', 'html', '|', 'undo', 'redo'],
                events : {
                    'froalaEditor.image.error': function (e, editor, error, response){
                        console.log(error)
                        console.log(response)
                        $('#alarm #title').text('이미지 업로드 에러')
                        $('#alarm #content').html('이미지 업로드에 실패하였습니다')
                        // Bad link.
                        if (error.code == 1) {
                            $('#alarm #content').html('유효한 링크가 아닙니다')
                        }

                        // No link in upload response.
                        else if (error.code == 2 || error.code == 3 || error.code == 4 || error.code == 7) {
                            $('#alarm #content').html('업로드 가능한 본문 이미지는<br>사이즈 2Mbytes 이하<br>폭 1920픽셀 이하<br>높이 1000픽셀 이하입니다')
                            if(response){
                                let re = JSON.parse(response)
                                if('message' in re){
                                    let message = ''
                                    _.forEach(re.message, function(value, key) {
                                          message += value
                                          message += '<br>'
                                     });
                                     $('#alarm #content').html(message)
                                }
                            }
                        }

                        // Image too text-large.
                        else if (error.code == 5) {
                            $('#alarm #content').html('업로드 가능한 본문 이미지의 사이즈는 2Mbytes 이하입니다')
                        }

                        // Invalid image type.
                        else if (error.code == 6) {
                            $('#alarm #content').html('업로드 가능한 이미지 타입은 jpeg, jpg, png, gif, svg 입니다')
                        }
                        $('#alarm').modal('show')
                    },
                    'froalaEditor.image.uploaded' : function (e, editor, response) {
                        // Image was uploaded to the server.
                        console.log('froalaEditor.image.uploaded')
                    },
                    'froalaEditor.image.inserted' : function (e, editor, $img, response) {
                          // Image was inserted in the editor.
                          console.log('froalaEditor.image.inserted')
                          editor.save.save()
                    },
                    'froalaEditor.image.replaced' : function (e, editor, $img, response) {
                      // Image was replaced in the editor.
                      console.log('froalaEditor.image.replaced')

                    },
                    'froalaEditor.image.removed' : async function (e, editor, $img) {
                        console.log('froalaEditor.image.removed')
                        let response = await axios.post('/editor/deleteImage', {src: $img.attr('src'), type:'s3'})
                        editor.save.save()
                    }
                }
            }
        }
    },
    props:{
        channelProp:{
            type:Object,
            required: true
        }
    },
    updated: function() {
        let self = this
        this.$nextTick(function () {
            //console.log('Channel Info updated')
            //self.runCropInit()
        })
    },
    beforeMount(){
        this.channel = this.channelProp
        if(this.channel.head_image)
            this.defaultImage.push(this.channel.head_image)
        else
            this.defaultImage.push(this.headDefault)
        if(this.channel.logo_image)
            this.defaultImage.push(this.channel.logo_image)
        else
            this.defaultImage.push(this.logoDefault)
    },
    mounted(){
        let self = this

        // set options
        this.getOptions = {
            waveHeadImage :{
                width: 1920,
                height: 622,
                minWidth: 256,
                minHeight: 256,
                maxWidth: 2000,
                maxHeight: 1500,
                imageSmoothingEnabled: false,
                imageSmoothingQuality: 'high'
            },
            waveLogoImage: {
                width: 200,
                height: 200,
                minWidth: 30,
                minHeight: 30,
                maxWidth: 1000,
                maxHeight: 1000,
                imageSmoothingEnabled: false,
                imageSmoothingQuality: 'high'
            }
        }
        this.cropOptions = {
            waveHeadImage: {
                  aspectRatio: 3.08,
                  viewMode: 2,
                  highlight:true,
                  modal:false,
                  autoCropArea: 1,
                  minCanvasWidth:100,
                  minCanvasHeight:100,
                  minCropBoxWidth:100,
                  minCropBoxHeight:100,
                  ready: function (e) {
                      self.getImageCrop(0, self.getOptions['waveHeadImage'])
                  },
                  cropstart: function (e) {},
                  cropmove: function (e) {},
                  cropend: function (e) {
                      self.getImageCrop(0, self.getOptions['waveHeadImage'])
                  },
                  crop: function (e) {},
                  zoom: function (e) {}
            },
            waveLogoImage: {
                  aspectRatio: 1,
                  viewMode: 2,
                  highlight:true,
                  modal:false,
                  autoCropArea: 1,
                  minCanvasWidth:30,
                  minCanvasHeight:30,
                  minCropBoxWidth:30,
                  minCropBoxHeight:30,
                  ready: function (e) {
                      self.getImageCrop(1, self.getOptions['waveLogoImage'])
                  },
                  cropstart: function (e) {},
                  cropmove: function (e) {},
                  cropend: function (e) {
                      self.getImageCrop(1, self.getOptions['waveLogoImage'])
                  },
                  crop: function (e) {},
                  zoom: function (e) {}
            }
        }
        console.log('channel info mounted')
        this.runCropInit()
    },
    methods:{
        async updateProfile(){

            this.errorMessage = ''
            if(!this.formValid()){
                return false
            }

            let data = new FormData();
            data.append('name', this.channel.name)
            data.append('status_message', this.channel.status_message)
            data.append('description', this.channel.description)
            // image set
            if(this.inputImage[0].value && this.waveHeadImage != null){ //head image
                data.append('head_image', this.waveHeadImage)
            }

            if(this.inputImage[1].value && this.waveLogoImage != null){ //logo image
                data.append('photo', this.waveLogoImage)
            }

            let response = await axios.post('/channel/'+this.channel.slug+'/updateProfile', data, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            })

            this.afterUpdate(response)
        },
        afterUpdate(response){
            if(response.data.result == 'success'){
                if(this.channelProp.slug != response.data.channel.slug){
                    this.errorMessage = '업데이트 완료. 페이지가 다시 열립니다. 기다려주세요.'
                    setTimeout(function(){ window.location.href = "/channel/"+ response.data.channel.slug+'/edit'}, 1500);
                } else {
                    this.channel = response.data.channel
                    this.errorMessage = '업데이트 완료'
                    // 업데이트 이벤트 발생
                    eventHub.$emit('channelInfoUpdate', this.channel)
                }
            } else if(response.data.result == 'error') {
                this.errorMessage = '업데이트 실패. 다시 시도해 주세요.'

                if('errors' in response.data){
                  this.errorMessage = ''
                  let message = ''
                  _.forEach(response.data.errors, function(value, key) {
                        message += value
                        message += '<br>'
                   });
                   this.errorMessage = message
                }
            }
        },
        formValid(){
            var errorChk = true
            this.errorMessage = ''

            this.channel.name = _.trim(this.channel.name)
            if(this.channel.name == ''){
                errorChk = false
                this.errorMessage = '채널 이름을 작성해주세요'
                return false
            }

            if(this.channel.description == ''){
                errorChk = false
                this.errorMessage = '채널 소개글을 작성해주세요'
                return false
            }

            this.errorMessage = '채널 업데이트 중 ...'
            return errorChk
        },
        runCropInit(){
            let self = this
            //self.runCrop()
            setTimeout(function(){ self.runCrop() }, 1500);
        },
        runCrop(){
            //if(!this.cropperLoad){
            // Images get
            this.images = document.querySelectorAll('.crop-image')
            // get Imput images
            this.inputImage = document.querySelectorAll('.input-image-file')

                let self = this
                // cropper set
                let length = this.images.length

                for (let i = 0; i < length; i++) {

                    this.croppers[i] = new Cropper(this.images[i], this.cropOptions[this.cropperImages[i]]);

                    this.inputImage[i].onchange = function () {
                        let files = this.files;
                        let file;
                        let URL = window.URL || window.webkitURL;

                        if (self.croppers[i] && files && files.length) {
                            file = files[0];

                            if (/^image\/\w+/.test(file.type)) {
                                console.log(file.size)
                                console.log(file.size / (1024 * 1024))
                              self.images[i].src = URL.createObjectURL(file);
                              self.croppers[i].destroy();
                              self.croppers[i] = new Cropper(self.images[i], self.cropOptions[self.cropperImages[i]]);
                            } else {
                              window.alert('이미지 파일을 선택해 주세요.');
                            }
                        }
                    }
                }
                this.cropperLoad = true
            //}
        },
        getImageCrop(index, option){
            let self = this
            this.croppers[index].getCroppedCanvas(option).toBlob(function (blob) {
                if(index == 0)
                    self.waveHeadImage = blob
                else
                    self.waveLogoImage = blob
            })
        },
        imageCancel (num) {
            this.resetInputImage(num)
        },
        resetInputImage(num){
            this.images[num].src = this.defaultImage[num];
            this.croppers[num].destroy();
            this.croppers[num] = new Cropper(this.images[num], this.cropOptions[this.cropperImages[num]]);
            this.inputImage[num].value = null;
            if(num == 0)
                this.waveHeadImage = null
            else
                this.waveLogoImage = null
        },
        getHeadImage(){
            return this.channel.head_image ? this.channel.head_image : this.headDefault
        },
        getLogoImage(){
            return this.channel.logo_image ? this.channel.logo_image : this.logoDefault
        }
    }
}
</script>
