<template>
    <div class="">
        <div v-if="settings" class="contact-lists">
            <div class="form-group">
                <label for="email">이메일 주소</label>
                <input type="email" v-model.trim="settings.email" />
            </div>

            <div class="form-group" style="margin-top:30px;">
                <label for="phone">휴대폰 번호</label>
                <input type="number" v-model.number="settings.phone" />
            </div>

            <div class="form-group" style="margin-top:30px;">
                <label for="site">사이트 주소</label>
                <input type="text" v-model.trim="settings.site" />
            </div>

            <a @click.prevent="channelContactUpdate" href="" class="btn btn-small btn--green btn--with-shadow " style="width: 200px;"><span class="text">업데이트</span></a>

            <div v-if="this.errorMessage != ''" class="summit-message" style="margin-top:50px;">
                <p class="summit-error" v-html="this.errorMessage"></p>
            </div>
        </div>
        <div class="or none"></div>

        <div class="sns-lists" style="margin-top:50px;">
            <h3 class="" style="margin-top:50px;">채널 SNS</h3>
            <div v-if="snsLists.length > 0">
                <h5>SNS 리스트</h5>
                <div v-for="(snsList, index) in snsLists" :key="snsList.name" class="row">
                    <div class="col-md-1 sns-icon" v-bind:style="{ color: snsList.color }">
                        <span><i :class="snsList.class"></i></span>
                    </div>
                    <div class="col-md-3 sns-title">
                        <span>{{snsList.name}}</span>
                    </div>
                    <div class="col-md-6 sns-link">
                        <span v-show="index != snsEditIndex"><a target="_blank" :href="snsList.link">{{snsList.link}}</a></span>
                        <div v-show="index == snsEditIndex" class="form-group" >
                            <input type="text" v-model="snslinkEdit" />
                            <div class="tech-edit-buttons" style="margin-top:0;">
                                <a @click.prevent="editRunSNS(snsList, index)" title="수정" class="btn btn-small btn--green-light btn--with-shadow">
                                    수정
                                </a>
                                <a @click.prevent="cancelEdit" title="삭제" class="btn btn-small btn--secondary btn--with-shadow">
                                    취소
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2 sns-action-buttons">
                        <a v-bind:id="'editBtn'+index" @click.prevent="editSNS(snsList, index)" title="수정" class="c-gray">
                            <i class="fas fa-pen-square"></i>
                        </a>
                        <a @click.prevent="deleteSNS(snsList)" title="삭제" class="c-gray">
                            <i class="fas fa-window-close"></i>
                        </a>
                    </div>
                </div>
            </div>

            <a @click.prevent="addSNSFormView" href="" class="btn btn-small btn--yellow btn--with-shadow" style="width: 250px; margin-top:10px;"><i class="fas fa-plus"></i> SNS 추가</a>

            <div class="add-form" style="display:none;">
                <div class="form-group" style="margin-top:30px;">
                    <label for="title">SNS 선택</label>
                    <v-select @input="snsSelected" v-model="snsSelect" :options="snsBrands" label="name">
                        <template slot="option" slot-scope="option">
                            <span :class="option.class" v-bind:style="{ color: option.color }"></span>
                            {{ option.name }}
                        </template>
                        <template slot="selected-option" slot-scope="option">
                          <div class="selected d-center">
                              <span :class="option.class" v-bind:style="{ color: option.color }"></span>
                              {{ option.name }}
                          </div>
                        </template>
                    </v-select>
                </div>

                <div v-if="snsNameView" class="form-group" style="margin-top:30px;">
                    <label for="title">SNS 서비스명</label>
                    <input type="text" v-model="snsName" />
                </div>

                <div class="form-group" >
                    <label for="title">SNS 링크</label>
                    <input type="text" v-model="snsLink" placeholder="https://www.youtube.com/channel/codewwwave"/>
                </div>

                <a @click.prevent="addSNS" href="" class="btn btn-small btn--green-light btn--with-shadow" style="width: 200px;">저 장 </a>
                <a @click.prevent="addSNSCancel" href="" class="btn btn-small btn--secondary btn--with-shadow" style="width: 200px; margin-left:10px;">취 소</a>

                <p v-if="addSNSMessage != ''" style="margin-top:20px;">{{addSNSMessage}}</p>
            </div>
        </div>
    </div>
</template>

<script>
import eventHub from '../../event.js'

export default {
    data(){
        return {
            snsBrands:[],
            snsLists:[],
            errorMessage:'',
            settings:null,
            snsSelect:null,
            snsNameView:false,
            snsName:null,
            snsClass:null,
            snsLink:null,
            snsColor:null,
            addSNSMessage:'',
            snsEditIndex:null,
            snslinkEdit:null,
        }
    },
    props:{
        channelProp:{
            type:Object,
            required: true
        },
        snsBrandsProp:{
            required: true,
            type: String
        },
    },
    updated(){
        let self = this
        this.$nextTick(function () {

        })
    },
    mounted(){
        let self = this

        _.forEach(JSON.parse(this.snsBrandsProp), function(value, key) {
            self.snsBrands.unshift(value)
        });
        self.snsBrands.unshift({name:'기타', class:'fas fa-share-alt-square', color:'#495057'})

        self.settings = JSON.parse(self.channelProp.settings)

        _.forEach(self.settings.sns, function(value, key) {
            self.snsLists.unshift(value)
        });
    },
    methods:{
        cancelEdit(){
            this.snsEditIndex = null
        },
        async editRunSNS(snsList, index){
            let response = await axios.post('/channel/'+this.channelProp.slug+'/snsEdit', {name: snsList.name, link:this.snslinkEdit})

            let snsList2 = this.snsLists.find((snsList2) => {
                return snsList2.name === snsList.name
            })
            snsList2.link = response.data.link

            eventHub.$emit('snsUpdate', this.snsLists)

            this.initComponent()
        },
        editSNS(snsList, index){
            this.snsEditIndex = index
            this.snslinkEdit = snsList.link
        },
        async deleteSNS(snsList){
            let response = await axios.post('/channel/'+this.channelProp.slug+'/snsDelete', {name: snsList.name})

            this.snsLists.map((snsList2, index) => {
                if(snsList2.name === snsList.name) {
                    this.snsLists.splice(index, 1)
                    return;
                }
            });

            eventHub.$emit('snsUpdate', this.snsLists)

            this.initComponent()
        },
        initComponent(){
            this.snsName = null
            this.snsClass = null
            this.snsLink = null
            this.snsColor = null
            this.addSNSMessage = ''
            this.snslinkEdit = null
            this.snsEditIndex = null
            this.snsSelect = null
        },
        addSNSCancel(){
            $('.add-form').css('display', 'none')
            this.initComponent()
        },
        addSNS(){
            this.addSNSMessage = ''

            if(this.existCheck()){
                this.addSNSMessage = '이미 리스트에 있습니다'
                return false
            }

            if(_.trim(this.snsName) == ''){
                this.addSNSMessage = '서비스명을 선택 또는 작성해주세요'
                return false
            }
            if(_.trim(this.snsClass) == '' || _.trim(this.snsColor) == ''){
                this.addSNSMessage = '오류가 발생하였습니다. 다시 시도해 주세요'
                return false
            }
            if(_.trim(this.snsLink) == ''){
                this.addSNSMessage = 'URL Link를 작성해주세요'
                return false
            }

            this.sendSNSToServer()
        },
        async sendSNSToServer(){
            let response = await axios.post('/channel/'+this.channelProp.slug+'/sns', {name: this.snsName, class:this.snsClass, link:this.snsLink, color:this.snsColor})

            this.snsLists.unshift(response.data)

            this.initComponent()

            this.addSNSMessage = '추가되었습니다'

            eventHub.$emit('snsUpdate', this.snsLists)

            let self = this
            setTimeout(function(){ self.addSNSMessage= '' }, 5000);
        },
        existCheck(){
            let snsTemp = _.find(this.snsLists, {name:this.snsName})
            if(snsTemp)
                return true
            else
                return false
        },
        snsSelected(obj){
            if(obj){
                if(obj.name == '기타'){
                    this.snsNameView = true
                    this.snsName = ''
                } else {
                    this.snsNameView = false
                    this.snsName = obj.name
                }
                this.snsClass = obj.class
                this.snsColor = obj.color
            }
        },
        addSNSFormView(){
            $('.add-form').css('display', 'block')
        },
        async channelContactUpdate(){
            this.errorMessage = ''

            if(this.settings.email!= '' && !this.validEmail(this.settings.email)){
                this.errorMessage = '유효한 이메일 주소가 아닙니다. 다시 확인해 주세요.'
                return false
            }

            let response = await axios.post('/channel/'+this.channelProp.slug+'/contact', {phone: this.settings.phone, site:this.settings.site, email:this.settings.email})

            this.errorMessage = '업데이트가 완료되었습니다'

            eventHub.$emit('channelContactUpdate', response.data)

            let self =this
            setTimeout(function(){ self.errorMessage= '' }, 5000);
        },
        validEmail:function(email) {
          var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return re.test(email);
        }
    }
}
</script>
