<template>
<div class="">
    <v-select v-model="itemSelect" :options="options" label="name" @search="onSearch">
        <template slot="no-options">
            유저의 이름 또는 이메일을 검색해보세요.
        </template>
        <template slot="option" slot-scope="option">
            <div class="d-center">
                  <img :src='option.photo'/>
                  {{ option.name }}
            </div>
        </template>
        <template slot="selected-option" slot-scope="option">
          <div class="selected d-center">
              <img :src='option.photo'/>
              {{ option.name }}
          </div>
        </template>
    </v-select>

    <a v-if="viewOptions.requestBtn" @click.prevent="uploadRequest" href="" class="btn btn-small btn--green btn--with-shadow " style="width: 200px; margin-top:20px;"><span class="text">{{viewOptions.requestBtnText}}</span></a>

    <div v-if="errorMessage != ''" class="summit-message" style="margin-top:20px;">
        <p class="summit-error" v-html="errorMessage"></p>
    </div>
</div>
</template>

<script>

import eventHub from '../../event.js'

export default {
    data(){
        return {
            itemSelect:null,
            options:[],
            viewOptions:{
                requestBtn: false,
                requestBtnText: '업데이트'
            },
            errorMessage:''
        }
    },
    props:{
        viewOptionsProp:{
            type:Object
        },
        urlPath: {
            type: String
        },
        eventOn: {
            type: Boolean
        },
        eventName: {
            type: String
        }
    },
    mounted(){
        let self = this
        if(this.viewOptionsProp){
            _.forEach(this.viewOptionsProp, function(value, key) {
                Vue.set(self.viewOptions, key, value)
            });
        }
    },
    methods:{
        async uploadRequest(){
            if(this.urlPath && this.itemSelect ){
                let response = await axios.post(this.urlPath, {id: this.itemSelect.id})
                let self = this
                console.log(response)
                this.errorMessage = response.data.message

                if(this.eventOn && response.data.result == 'success'){
                    eventHub.$emit(this.eventName, this.itemSelect)
                }

                setTimeout(function(){ self.errorMessage = '' }, 5000);
            }
        },
        onSelected(){
            console.log(this.itemSelect)
        },
        onSearch(search, loading) {
          loading(true);
          this.search(loading, search, this);
        },
        search: _.debounce((loading, search, vm) => {
            let self = this
            axios.get('/search/users?q=' +escape(search))
            .then(response => {
                vm.options = response.data.data
                loading(false);
                //console.log(response)
                //console.log(response)
            })
            .catch(e => {
                console.log(e)
            })
        }, 350)
    }
}
</script>
