<template>
    <div class="">
        <div class="description-toggle" style="margin-top:30px;">
			<div class="description-toggle-content">
				<div class="h6">채널 연락처 정보 보이기</div>
				<p>이메일, 전화번호 및 사이트 정보가 보여집니다</p>
			</div>

			<div class="togglebutton">
				<label>
					<input v-model="settings.contacts" type="checkbox" checked=""><span class="toggle"></span>
				</label>
			</div>
		</div>

        <div class="description-toggle" style="margin-top:30px;">
			<div class="description-toggle-content">
				<div class="h6">채널 메세지 수신 기능</div>
				<p>메세지를 받아볼 수 있습니다</p>
			</div>

			<div class="togglebutton">
				<label>
					<input v-model="settings.messageForm" type="checkbox" checked=""><span class="toggle"></span>
				</label>
			</div>
		</div>

        <div class="description-toggle" style="margin-top:30px;">
			<div class="description-toggle-content">
				<div class="h6">채널 SNS 링크 보이기</div>
				<p>등록한 SNS 리스트가 보여집니다</p>
			</div>

			<div class="togglebutton">
				<label>
					<input v-model="settings.sns" type="checkbox" checked=""><span class="toggle"></span>
				</label>
			</div>
		</div>


        <a @click.prevent="updateSettings" href="" class="btn btn-small btn--green btn--with-shadow " style="width: 200px;"><span class="text">변경하기</span></a>

        <div v-if="this.errorMessage != ''" class="summit-message" style="margin-top:20px;">
            <p class="summit-error" v-html="this.errorMessage"></p>
        </div>
    </div>
</template>

<script>
import eventHub from '../../event.js'

export default {
    data () {
        return {
            settings:{
                contacts:true,
                messageForm:true,
                sns:true,
                tech:true
            },
            errorMessage:''
        }
    },
    props:{
        urlPath: {
            required: true,
            type: String
        },
        settingsProp:{
            required: true,
            type:Object
        }
    },
    mounted(){
        let self = this
        /*let settings = JSON.parse(user.options)*/

        _.forEach(this.settingsProp.viewoptions, function(value, key) {
            Vue.set(self.settings, key, value)
        });
    },
    methods:{
        async updateSettings(){
            this.errorMessage = ''

            let result = await axios.post(this.urlPath, this.settings)
            let self = this
            if(result.data.result == 'success'){
                this.errorMessage = '설정이 변경되었습니다'

                eventHub.$emit('channelSettingsUpdate', this.settings)

                setTimeout(function(){ self.errorMessage = '' }, 5000);
            } else {
                this.errorMessage = '설정 변경에 실패하였습니다'
            }
        }
    }
}
</script>
