<template>
<div class="row user-list">
    <div v-if="pageLoad && viewOptions.type == 'list'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="teammember-list">
            <li v-for="(user, index) in users" :key="user.id" class="crumina-module crumina-teammembers-item teammember-item--author-in-round" style="position:relative;">
                <div class="user-image-thumb teammembers-thumb">
                    <img :src="user.photo ? user.photo : userPhotoDefault" alt="team member">
                </div>

                <div class="teammember-content">
                    <div v-if="user.job" class="teammembers-item-prof">{{user.job}}</div>
                    <a :href="'/wave/'+user.slug" style="margin-bottom:10px; margin-top:0;" class="h5 teammembers-item-name">{{ user.name}}</a>

                    <div v-if="user.options.viewoptions.contacts" class="">
                        <div v-if="user.options.phone" class="contact-item display-flex">
                            <i class="contact-icon fas fa-mobile-alt"></i>
                            <span class="info">{{ user.options.phone }}</span>
                        </div>

                        <div class="contact-item display-flex">
                            <i class="contact-icon fas fa-envelope"></i>
                            <span class="info">{{ user.email }}</span>
                        </div>

                        <div v-if="user.options.site" class="contact-item display-flex">
                            <i class="fas fa-archway contact-icon"></i>
                            <span class="info"><a target="_blank" v-bind:href="user.options.site">{{ user.options.site }}</a></span>
                        </div>
                    </div>

                    <div style="margin-top:10px;" v-if="user.options.viewoptions.sns" class="social-btn-group">
                        <a v-for="sns in user.options.sns" target="_blank" :href="sns.link" class="social-icon" v-bind:style="{ color: sns.color }" :title="sns.name"><span :class="sns.class"></span></a>
                    </div>

                    <div v-if="user.options.viewoptions.tech" class="w-tags tech-tags">
                        <ul class="tags-list">
                            <li v-for="(tech, index) in user.options.tech" :key="tech.name">
                                <a v-bind:title="'레벨: ' + tech.level"><i class="" v-bind:class="tech.class"></i> {{tech.name}}</a>
                            </li>
                        </ul>
                    </div>

                    <a style="margin-top:20px;" @click.prevent="addChannelSuperAdmin(user.id)" v-if="superAdmin && viewOptions.channelAdminLevel" class="btn btn-small btn--with-shadow" v-bind:class="{'btn-border c-green': superAdminList.indexOf(user.id) > -1, 'btn--green' : superAdminList.indexOf(user.id) == -1}" title="슈퍼 관리자 설정">
                        <i class="fas fa-user-astronaut"></i> {{ superAdminList.indexOf(user.id) > -1 ? '슈퍼관리자 해제' : '슈퍼관리자 설정' }}
                    </a>

                    <div v-if="errorMessage != '' && user.id == userID" class="summit-message" style="margin-top:20px;">
                        <p class="summit-error" v-html="errorMessage"></p>
                    </div>
                </div>
                    <div v-if="superAdmin" class="action-button-group c-gray">
                    <a v-if="viewOptions.channelAdminAdd" class="edit-button" title="관리자 등록">
                        <i class="fas fa-plus-square"></i>
                    </a>
                    <a @click.prevent="deleteChannelAdminConfirm(user.id, index)" v-if="viewOptions.channelAdminDelete" class="delete-button" title="관리자 삭제">
                        <i class="fas fa-minus-square"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <div v-else-if="pageLoad && viewOptions.type == 'block'" class="">
        <div v-for="(user, index) in users" :key="user.id" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="crumina-module crumina-testimonial-item testimonial-item-quote-right" data-mh="user-block-item">
                <div class="user-image-thumb testimonial-img-author">
                    <img :src="user.photo ? user.photo : userPhotoDefault" alt="author">
                    <a href="#" class="social__item main item--small">
                        <svg class="utouch-icon utouch-icon-1496680146-share"><use xlink:href="#utouch-icon-1496680146-share"></use></svg>
                    </a>

                    <div class="share-product share-product--item-right">

                        <ul class="socials " v-if="user.options.viewoptions.sns">
                            <li style="margin-right:10px;" v-for="sns in user.options.sns" >
                                <a target="_blank" :href="sns.link" class="social__item ttt" v-bind:style="{ backgroundColor: sns.color }" :title="sns.name">
                                    <span class="utouch-icon" :class="sns.class"></span>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="author-info">
                    <a :href="'/wave/'+user.slug" class="h6 author-name">{{ user.name }}</a>
                    <div class="author-company">{{user.job}}</div>
                </div>

                <div v-if="user.options.viewoptions.contacts" class="">
                    <div v-if="user.options.phone" class="contact-item display-flex">
                        <span class="info"><i class="contact-icon fas fa-mobile-alt"></i>{{ user.options.phone }}</span>
                    </div>

                    <div class="contact-item ">
                        <span class="info"><i class="contact-icon fas fa-envelope"></i>{{ user.email }}</span>
                    </div>

                    <div v-if="user.options.site" class="contact-item display-flex">
                        <span class="info"><i class="contact-icon fas fa-archway"></i><a target="_blank" v-bind:href="user.options.site">{{ user.options.site }}</a></span>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <template v-if="loadFlag && 'last_page' in pagination && pagination.last_page > 1">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <pagination :for="fromComp" :pagination="pagination" />
        </div>
    </template>
</div>
</template>

<script>
import eventHub from '../../event.js'
import Pagination from '../Pagination'

export default {
    data() {
        return {
            users:[],
            meta:null,
            links:null,
            pagination: {
                    'current_page':null,
                    'first':null,
                    'from':null,
                    'last':null,
                    'last_page':null,
                    'next':null,
                    'path':null,
                    'per_page':null,
                    'prev':null,
                    'to':null,
                    'total':null
                },
            loadFlag:false,
            viewOptions:{
                channelAdminAdd:false,
                channelAdminDelete:false,
                channelAdminLevel:false,
                deleteBtn:false,
                noDataCommentOn:false,
                noDataComment:'',
                type:'list'
            },
            superAdmin:false,
            superAdminList:[],
            userID:null,
            errorMessage:'',
            pageLoad:false
        }
    },
    components: {
        Pagination
    },
    props:{
        userPhotoDefault:{
            required: true,
            type: String
        },
        fromComp: {
            type:String,
            required: true
        },
        urlPath: {
            required: true,
            type: String
        },
        superAdminProp:{
            type:Boolean
        },
        viewOptionsProp:{
            type:Object
        },
        channelInfoProp:{
            type:Object
        }
    },
    updated(){
        let self = this
        this.$nextTick(function () {
            console.log('this is updated')
            if(self.viewOptions.type == 'block'){
                $('.crumina-testimonial-item[data-mh="user-block-item"]').matchHeight()
            }
        })
    },
    mounted(){
        let self = this
        if(this.viewOptionsProp){
            _.forEach(this.viewOptionsProp, function(value, key) {
                Vue.set(self.viewOptions, key, value)
            });
        }

        eventHub.$on(this.fromComp +'-pagination', this.pageChange)

        eventHub.$on('userStore', this.userStore)

        eventHub.$on('deleteChannelAdmin', this.deleteChannelAdmin)

        if(this.superAdminProp){
            this.superAdmin = true
        } else {
            this.superAdmin = false
        }

        if(this.channelInfoProp){
            let temp = JSON.parse(this.channelInfoProp.settings)
            this.superAdminList = temp.admins.super
        }

        this.initLoadUsers(1)

        this.pageLoad = true

        console.log('this ssss moounted')

        setTimeout(function(){
            if(self.viewOptions.type == 'block'){
                $('.crumina-testimonial-item[data-mh="user-block-item"]').matchHeight()
            }
        }, 2000);

    },
    methods: {
        userStore(data){
            data.options = JSON.parse(data.options)
            this.users.push(data)
        },
        async initLoadUsers(page){
            await this.loadUsers(page)
        },
        async loadUsers(page = 1) {
            let self = this
            let users = await axios.get(this.urlPath+ '?without=channels&page=' +page)
            
            _.forEach(users.data.data, function(value, key) {
                value.options = JSON.parse(value.options)
                self.users.unshift(value)
            });

            this.meta = users.data.meta
            this.links = users.data.links

            this.paginationSet()
        },
        paginationSet(){
                Vue.set(this.pagination, 'current_page', this.meta.current_page)
                Vue.set(this.pagination, 'first', this.links.first)
                Vue.set(this.pagination, 'from', this.meta.from)
                Vue.set(this.pagination, 'last', this.links.last)
                Vue.set(this.pagination, 'last_page', this.meta.last_page)
                Vue.set(this.pagination, 'next', this.links.next)
                Vue.set(this.pagination, 'path', this.meta.path)
                Vue.set(this.pagination, 'per_page', this.meta.per_page)
                Vue.set(this.pagination, 'prev', this.links.prev)
                Vue.set(this.pagination, 'to', this.meta.to)
                Vue.set(this.pagination, 'total', this.meta.total)
                this.loadFlag = true
        },
        pageChange(page, path){
            this.loadUsers(page)
        },
        deleteChannelAdminConfirm(userID, index){
            this.errorMessage = ''
            this.userID = userID
            let self = this
            let check = false

            if(this.users.length < 2){
                this.errorMessage = '채널의 관리자는 최소 최소 한명이상이어야 합니다'
                setTimeout(function(){ self.errorMessage = '' }, 5000);
                check = true
            }
            if(check){
                return false
            }

            let isSuperAdmin = this.superAdminList.indexOf(userID) > -1
            if(isSuperAdmin){
                if(this.superAdminList.length < 2){
                    this.errorMessage = '채널의 슈퍼관리자는 최소 한명이상이어야 합니다'
                    setTimeout(function(){ self.errorMessage = '' }, 5000);
                    check = true
                }
            }
            if(check){
                return false
            }

            $('#deleteChannelAdminConfirm').modal('show')
            eventHub.$emit('deleteChannelAdminConfirm', {userID: userID, index:index})
        },
        async deleteChannelAdmin(data){
            let self = this
            let userID = data.data.userID
            let index = data.data.index
            $('#deleteChannelAdminConfirm').modal('hide')

            let response = await axios.post('/channel/'+this.channelInfoProp.slug+'/admin/delete', {userid:userID})
            if('result' in response.data){
                if(response.data.result == 'success'){
                    this.users.splice(index, 1);
                }
            } else {
                this.errorMessage = '시스템에 에러가 발생하였습니다. 관리자에게 문의하세요.'
                setTimeout(function(){ self.errorMessage = '' }, 5000);
            }
        },
        async addChannelSuperAdmin(userID){
            this.errorMessage = ''
            this.userID = userID
            let isSuperAdmin = this.superAdminList.indexOf(userID) > -1
            let self = this

            if(isSuperAdmin){
                if(this.superAdminList.length > 1){
                    let response = await axios.post('/channel/'+this.channelInfoProp.slug+'/superadmin/delete', {userid:userID})
                    if(response.data.result == 'error'){
                        this.errorMessage = response.data.message
                        setTimeout(function(){ self.errorMessage = '' }, 5000);
                    } else {
                        let index = this.superAdminList.indexOf(response.data.userID);
                        if (index !== -1) this.superAdminList.splice(index, 1);
                    }
                } else {
                    this.errorMessage = '채널의 슈퍼관리자는 최소 한명이상이어야 합니다'
                    setTimeout(function(){ self.errorMessage = '' }, 5000);
                }
            } else {
                let response = await axios.post('/channel/'+this.channelInfoProp.slug+'/superadmin/store', {userid:userID})
                if(response.data.result == 'error'){
                    this.errorMessage = response.data.message
                    setTimeout(function(){ self.errorMessage = '' }, 5000);
                } else {
                    this.superAdminList.unshift(response.data.userID);
                }
            }

        }
    }
}
</script>
