<template>
    <nav v-if="pagination.last_page > 1" class="navigation" role="navigation">

        <a v-if="pagination.current_page <= 1" class="disabled page-numbers" aria-aria-disabled="true" aria-label="previous">
            <span class="xi-angle-left"></span>
        </a>

        <a v-else class="page-numbers" @click.prevent="pageChange('prev')" rel="prev" aria-label="previous"><span class="xi-angle-left"></span></a>

        <template v-if="pagination.current_page > 0">
        <a class="page-numbers" v-for="page in parseInt(pagination.last_page)" :key="page"
            v-if="page===1 || page===pagination.last_page || ( page > (parseInt(pagination.current_page) - 5) && page < (parseInt(pagination.current_page) + 5) )"
            v-bind:class="{'current disabled': pagination.current_page === page, 'disabled' : page === (parseInt(pagination.current_page) - 4) || page === (parseInt(pagination.current_page) + 4)}"
            @click.prevent="pageChange(page)"
        >
            <span v-if="page === (parseInt(pagination.current_page) - 4) || page === (parseInt(pagination.current_page) + 4)" >...</span>
            <span v-else>{{ page }}</span>
        </a>
        </template>

        <a @click.prevent="pageChange('next')" v-if="pagination.current_page < pagination.last_page" class="page-numbers" rel="next" aria-label="next"><span class="xi-angle-right"></span></a>

        <a v-else class="page-numbers disabled" aria-disabled="true" aria-label="next">
            <span class="xi-angle-right"></span>
        </a>

    </nav>

</template>

<script>
import eventHub from '../event.js'

export default {
    props: {
        pagination: {
            type:Object,
            required:true
        },
        for: {
            type:String,
            default:'default'
        }
    },
    data(){
        return {

        }
    },
    mounted(){

    },
    methods: {
        pageChange (page) {
            //console.log(page)
            if(page === (parseInt(this.pagination.current_page) - 4) || page === (parseInt(this.pagination.current_page) + 4)
                || page == this.pagination.current_page){
                return
            } else if(page == 'next'){
                console.log(this.for)
                eventHub.$emit(this.for + '-pagination', this.pagination.current_page+1, this.pagination.path)
            } else if(page == 'prev'){
                console.log(this.for)
                eventHub.$emit(this.for + '-pagination', this.pagination.current_page-1, this.pagination.path)
            } else {
                console.log(this.for)
                eventHub.$emit(this.for + '-pagination', page, this.pagination.path)
            }
        }
    }
}
</script>
