<template>
    <a v-if="canSubscribe" href="" class="btn btn-small btn--with-shadow subscription-btn" v-bind:class="{'btn-border c-green': userSubscribed==true, 'btn--green' : userSubscribed==false}" @click.prevent="subscribeHandle">
    {{ userSubscribed ? '구독취소' : '구독하기' }} {{ subscribers ? '('+ subscribers +' 명)' : ''}}
    </a>
</template>

<script>
export default {
    data() {
        return {
            subscribers: null,
            userSubscribed:false,
            canSubscribe:false
        }
    },
    props: {
        channelSlug:null,
    },
    mounted(){
        this.getSubscriptionStatus()
    },
    methods:{
        getSubscriptionStatus(){
            axios.get('/subscriptions/'+ this.channelSlug)
            .then(response => {
                this.subscribers = response.data.data.count
                this.userSubscribed = response.data.data.user_subscribed
                this.canSubscribe = response.data.data.can_subscribe
                console.log(response)
            })
            .catch(e => {
                console.log(e)
            })
        },
        subscribeHandle(){
            if(this.userSubscribed){
                this.unSubscribe()
            } else {
                this.subscribe()
            }
        },
        unSubscribe(){
            axios.delete('/subscription/'+ this.channelSlug)
            .then(response => {
                this.userSubscribed = false
                this.subscribers--
                console.log(response)
            })
            .catch(e => {
                console.log(e)
            })
        },
        subscribe(){
            axios.post('/subscription/'+ this.channelSlug)
            .then(response => {
                this.userSubscribed = true
                this.subscribers++
                console.log(response)
            })
            .catch(e => {
                console.log(e)
            })
        }
    }

}
</script>
