<template>
    <span v-if="canVote" class="post__comments">
        <a href="" @click.prevent="vote('up')" class="fn" v-bind:class="{'voted breadcrumbs-custom' : userVote == 'up' }"><i class="xi-thumbs-up xi-x"></i> {{ up }}</a>
    </span>
    <span v-else class="post__comments">
        <a class="fn" v-bind:class="{'voted breadcrumbs-custom' : userVote == 'up' }"><i class="xi-thumbs-up xi-x"></i> {{ up }}</a>
    </span>
</template>

<script>
//import eventHub from '../event.js'

export default {
    data(){
        return {
            up: null,
            down: null,
            userVote: null,
            canVote: false
        }
    },
    props:{
        videoUid:null
    },
    mounted(){
        let self = this
        this.getVotes()

        this.$parent.$on('delete-vote', self.deleteVote)
    },
    methods:{
        getVotes(){
            axios.get('/video/'+ this.videoUid + '/vote')
            .then(response => {
                console.log(response)
                this.up = response.data.data.up
                this.down = response.data.data.down
                this.userVote = response.data.data.user_vote
                this.canVote = response.data.data.can_vote
            })
            .catch(e => {
                //this.errorMessage = '비디오 업로드에 실패하였습니다. 다시 시도해 주세요.'
                console.log(e)
            })
        },
        vote(type){
            if(this.userVote == type){ // 이미 선택했을 시 취소 시킴
                $('#confirmModal').modal('show')
            } else {
                this.createVote()
            }
        },
        deleteVote(){
            console.log('asdasdas')
            this.up = this.up - 1
            this.userVote = null
            $('#confirmModal').modal('hide')

            axios.delete('/video/'+ this.videoUid + '/vote', {type:'up'})
            .then(response => {
                console.log(response)
            })
            .catch(e => {
                console.log(e)
            })

        },
        createVote(){
            this.up = this.up + 1
            this.userVote = 'up'

            axios.post('/video/'+ this.videoUid + '/vote', {type:'up'})
            .then(response => {
                console.log(response)
            })
            .catch(e => {
                console.log(e)
            })
        }
    }
}
</script>
