<template>

<div class="comments">

    <div class="d-flex--content-inline">
        <h3>{{ meta.total }} {{ meta.total | pluralize('comment') }}</h3>

        <a href="#comment-form" class="btn btn--green">
            <span class="text">글 남기기</span>
        </a>
    </div>


    <ol class="comments__list" v-if="comments.length">

        <li class="comments__item" v-for="comment in comments" :key="comment.id">

            <div class="comment-entry comment comments__article">

                <div class="comments__avatar">

                    <img v-bind:src="comment.user.photo" alt="avatar">

                </div>


                <div class="comments__body">

                    <div class="d-flex--content-inline">

                        <header class="comment-meta comments__header">

                            <cite class="fn url comments__author">
                                <a href="#" rel="external" class="h6">{{ comment.user.name }}</a>
                            </cite>

                            <div class="comments__time">
                                <time class="published" datetime="2017-03-19 10:07:00">{{ comment.created_at }}</time>
                            </div>

                        </header>


                        <div class="d-flex--content-inline" style="margin-left:auto" v-if="user && user.authenticated && editable !== comment.id">
                            <a href="" @click.prevent="toggleReplyForm(comment.id)" class="btn reply" v-bind:class="{'btn--primary c-white': replyFormVisible === comment.id}">{{ replyFormVisible === comment.id ? 'Cancel' : 'Reply' }}</a>
                            <a v-if="comment.owner" href="" @click.prevent="editFormComment(comment)" class="btn reply">Edit</a>
                            <a v-if="comment.owner" href="" @click.prevent="confirmDeleteComment(comment)" class="btn reply">Delete</a>
                        </div>

                    </div>

                    <div v-if="editable !== comment.id" class="comment-content comment" >
                        <div v-html="sanitizeMarkedBody(comment.body)" v-highlightjs></div>
                    </div>

                    <div v-else class="comment-content comment">
                        <div class="with-icon comment-text-div">
                            <textarea @keyup="replyLimit" v-model="replyBody" autofocus="autofocus" name="message" class="comment-text" required="" placeholder="Your Message" style="min-height: 120px;" :rows="textareaHeight"></textarea>
                            <svg class="utouch-icon utouch-icon-edit"><use xlink:href="#utouch-icon-edit"></use></svg>
                            <a href="" @click.prevent="editComment(comment)" class="btn btn-small btn--secondary reply-btn" style="">
                                수정하기
                            </a>
                            <a href="" @click.prevent="cancelEditComment" class="btn btn-small btn-border c-secondary reply-btn" style="">
                                취소
                            </a>
                            <span class="reply-limit">{{ replyBodyLen }} / {{ maxLen }}</span>
                        </div>
                    </div>



                    <div class="d-flex--content-inline">
                        <ul class="friends-harmonic">
							<li v-for="channel in comment.user.channels" :key="channel.id">
								<a v-bind:href="'/channel/'+ channel.slug" v-bind:title="channel.name">
									<img v-bind:src="channel.logo_image" alt="image">
								</a>
							</li>
						</ul>
                    </div>

                    <div class="with-icon comment-text-div" v-if="user && user.authenticated && replyFormVisible === comment.id">
                        <textarea @keyup="replyLimit" v-model="replyBody" autofocus="autofocus" name="message" class="comment-text" required="" placeholder="Your Message" style="min-height: 120px;"></textarea>
                        <svg class="utouch-icon utouch-icon-edit"><use xlink:href="#utouch-icon-edit"></use></svg>
                        <a href="" @click.prevent="createReply(comment.id)" class="btn btn-small btn--secondary reply-btn" style="">
                            글쓰기
                        </a>
                        <span class="reply-limit">{{ replyBodyLen }} / {{ maxLen }}</span>
                    </div>
                    <div v-if="errorMessageReply != ''" class="summit-message" >
                        <p class="summit-error" v-html="errorMessageReply"></p>
                    </div>
                </div>
            </div>
            <ol class="children" v-if="comment.replies && comment.replies.length">

                <li class="comments__item" v-for="reply in comment.replies" :key="reply.id">

                    <div class="comment-entry comment comments__article">

                        <div class="comments__avatar">

                            <img v-bind:src="reply.user.photo" alt="avatar">

                        </div>


                        <div class="comments__body">

                            <div class="d-flex--content-inline">

                                <header class="comment-meta comments__header">

                                    <cite class="fn url comments__author">
                                        <a href="#" rel="external" class="h6">{{ reply.user.name }}</a>
                                    </cite>

                                    <div class="comments__time">
                                        <time class="published" datetime="2017-03-19 10:07:00">{{ reply.created_at }}</time>
                                    </div>

                                </header>

                                <div class="d-flex--content-inline" style="margin-left:auto" v-if="user && user.authenticated && editable !== reply.id">
                                    <a v-if="reply.owner" href="" @click.prevent="editFormComment(reply)" class="btn reply">Edit</a>
                                    <a v-if="reply.owner" href="" @click.prevent="confirmDeleteComment(reply)" class="btn reply">Delete</a>
                                </div>

                            </div>

                            <div v-if="editable !== reply.id" class="comment-content comment">
                                <div v-html="sanitizeMarkedBody(reply.body)"></div>
                            </div>

                            <div v-else class="comment-content comment">
                                <div class="with-icon comment-text-div">
                                    <textarea @keyup="replyLimit" v-model="replyBody" autofocus="autofocus" name="message" class="comment-text" required="" placeholder="Your Message" style="min-height: 120px;" :rows="textareaHeight"></textarea>
                                    <svg class="utouch-icon utouch-icon-edit"><use xlink:href="#utouch-icon-edit"></use></svg>
                                    <a href="" @click.prevent="editComment(reply)" class="btn btn-small btn--secondary reply-btn" style="">
                                        수정하기
                                    </a>
                                    <a href="" @click.prevent="cancelEditComment" class="btn btn-small btn-border c-secondary reply-btn" style="">
                                        취소
                                    </a>
                                    <span class="reply-limit">{{ replyBodyLen }} / {{ maxLen }}</span>
                                </div>
                            </div>

                            <div class="d-flex--content-inline">
                                <ul class="friends-harmonic">
        							<li v-for="channel2 in reply.channels" :key="channel2.id">
        								<a v-bind:href="'/channel/'+ channel2.slug" v-bind:title="channel2.name">
        									<img v-bind:src="channel2.logo_image" alt="image">
        								</a>
        							</li>
        						</ul>
                            </div>

                        </div>

                    </div>
                </li>
            </ol>
        </li>
    </ol>

    <a v-if="meta.current_page < meta.last_page" @click.prevent="loadMore" href="" class="btn btn--green-light full-width" style="margin-bottom: 20px; margin-left: 0;">
        Show More
    </a>


    <form class="contact-form leave-reply" v-if="user && user.authenticated" id="comment-form">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>Leave a Comment</h3>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="with-icon comment-text-div">
                    <textarea @keyup="commentLimit" v-model="body" autofocus="autofocus" name="message" class="comment-text" required="" placeholder="Your Message" style="min-height: 160px;"></textarea>
                    <svg class="utouch-icon utouch-icon-edit"><use xlink:href="#utouch-icon-edit"></use></svg>
                    <span>{{ bodyLen }} / {{ maxLen }}</span>
                </div>
            </div>
<!--
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <textarea id="message" name="message" class="" required="" placeholder="Your Message" style="min-height: 160px;"></textarea>
            </div>
-->
            <div class="submit-block">
                <div class="col-lg-4">
                    <a href="" @click.prevent="createComment" class="btn btn--large btn--green btn--with-shadow full-width">
                        <span class="text">글쓰기</span>
                    </a>
                </div>
                <div class="col-lg-8">
                    <div class="submit-block-text">
                        마크다운(Markdown <i class="fab fa-markdown"></i>) 지원합니다. <span> # ~ ######: 헤더 h1 ~ h6, >: 인용 Blockquotes, ~~~ 코드블록 ~~~, ` 인라인 코드 블럭 `, * 기울여쓰기(italic) *, ** 굵게쓰기(bold) **, --- 수평선, [Google](http://www.google.co.kr “구글”) : 인라인 링크, &lt;http://google.com/&gt;: URl 링크, 1. list item : 리스트, * list item : 리스트, ![alt text](image_URL): 링크 이미지   </span>
                    </div>
                </div>

            </div>

        </div>

        <div v-if="errorMessage != ''" class="summit-message" style="margin-top:50px;">
            <p class="summit-error" v-html="errorMessage"></p>
        </div>
    </form>
</div>
</template>

<script>
import marked from'marked'
//import eventHub from '../event.js'

export default {
    data(){
        return {
            comments:[],
            user:null,
            body:null,
            errorMessage:'',
            maxLen:5000,
            bodyLen:0,
            replyBody:null,
            replyBodyLen:0,
            replyFormVisible:null,
            errorMessageReply:'',
            deleteCommentId:null,
            deleteComment:null,
            meta: {},
            editable:null
        }
    },
    props:{
        videoUid:null
    },
    computed:{
        textareaHeight() {
            return Math.max(Math.floor(this.replyBody.split(/\r*\n/).length) / 2, 4)
            //return Math.max(Math.floor(this.replyBody.split('<br/>').length) / 2, 4)
        }
    },
    mounted(){
        let self = this
        this.loadComments()
        this.user = codewwwave.user

        this.$parent.$on('delete-comment', self.deleteCommentRequest)
    },
    methods:{
        sanitizeMarkedBody(body){
            return marked(body, { sanitize : true })
        },
        editFormComment(comment){
            this.editable = comment.id
            this.replyFormVisible = null
            this.replyBody = comment.body
            this.errorMessageReply = ''
        },
        async editComment(comment){
            this.replyBody = _.trim(this.replyBody)
            if(this.replyBody == ''){
                this.errorMessageReply = '메세지를 작성해주세요'
                return false
            }

            let editComment = await axios.patch('/video/'+this.videoUid+'/comments/'+comment.id, {
                body: this.replyBody//this.replaceAll(this.replyBody, '\n', '<br/>'),
            })


            console.log(editComment)
            if(editComment.data.data.parent_id){
                let comment = this.comments.find((comment) => {
                    return comment.id === editComment.data.data.parent_id
                })
                let reply = comment.replies.find((reply) => {
                    return reply.id === editComment.data.data.id
                })
                reply.body = editComment.data.data.body
            } else {
                let comment = this.comments.find((comment) => {
                    return comment.id === editComment.data.data.id
                })
                comment.body = editComment.data.data.body
            }

            this.cancelEditComment()
        },
        cancelEditComment(){
            this.editable = null
            this.replyBody = null
            this.errorMessageReply = ''
        },
        fetchComments(page = 1){
            return axios.get('/video/'+this.videoUid+'/comments?page='+page)
        },
        async loadComments(page = 1){
            let comments = await this.fetchComments(page)//axios.get('/video/'+this.videoUid+'/comments?page='+page)

            console.log(comments)
            this.comments = comments.data.data
            this.meta = comments.data.meta

            this.$emit('setcommentscount', this.meta.total)
        },
        async loadMore(){
            let comments = await this.fetchComments(this.meta.current_page + 1)//axios.get('/video/'+this.videoUid+'/comments?page='+ `${this.meta.current_page + 1}`)

            this.comments.push(...comments.data.data)
            this.meta = comments.data.meta
        },
        async loadOneAfterDeletion(){
            if(this.meta.current_page >= this.meta.last_page){
                return
            }
            let comments = await this.fetchComments(this.meta.current_page)//axios.get('/video/'+this.videoUid+'/comments?page='+ `${this.meta.current_page}`)

            this.comments.push(comments.data.data[comments.data.data.length - 1])
            this.meta = comments.data.meta
        },
        confirmDeleteComment(comment){
            this.deleteComment = comment
            //console.log(this.deleteComment)
            $('#confirmModal2').modal('show')
        },
        async deleteCommentRequest(){
            $('#confirmModal2').modal('hide')

            let response = await axios.delete('/video/'+this.videoUid+'/comments/'+this.deleteComment.id)
            //.then(response => {
                this.deleteByComment(this.deleteComment)
                //this.deleteById(this.deleteCommentId)
                //this.$emit('setcommentscount', this.comments.length)
            //})
            //.catch(e => {
            //    console.log(e)
            //})
        },
        deleteByComment(comment){
            console.log(comment)
            //console.log(this.deleteComment)
            if(comment.child){
                let parentComment = _.find(this.comments, {id:comment.parent_id})

                parentComment.replies = parentComment.replies.filter((child) => {
                    return child.id !==comment.id
                })

                return
            }

            this.comments = this.comments.filter((c) => c.id !== comment.id )

            this.meta.total--
            this.$emit('setcommentscount', this.meta.total)

            // One more item load
            this.loadOneAfterDeletion()
        },
        deleteById(commentId){
            this.deleteCommentId = null

            this.comments.map((comment, index) => {
                if(comment.id === commentId) {
                    this.comments.splice(index, 1)
                    return;
                }

                comment.replies.data.map((reply, replyIndex) => {
                    if(reply.id === commentId){
                        this.comments[index].replies.data.splice(replyIndex, 1)
                        return;
                    }
                })
            })
        },
        toggleReplyForm(commentId){
            this.replyBody = null
            if(this.replyFormVisible === commentId){
                this.replyFormVisible = null
                return;
            }

            this.replyFormVisible = commentId
            this.errorMessageReply = ''
        },
        replyLimit(){
            if(this.replyBody.length > this.maxLen)
                this.replyBody = this.replyBody.substring(0, this.maxLen)

            this.replyBodyLen = this.replyBody.length
        },
        commentLimit(){
            if(this.body.length > this.maxLen)
                this.body = this.body.substring(0, this.maxLen)

            this.bodyLen = this.body.length
        },
        replaceAll(str, target, replacement) {
            return str.split(target).join(replacement);
        },
        stripTags(text){
            return text.replace(/(<([^>]+)>)/ig, '')
        },
        async createReply(commentId){
            this.replyBody = _.trim(this.replyBody)
            if(this.replyBody == ''){
                this.errorMessageReply = '메세지를 작성해주세요'
                return false
            }

            let reply = await axios.post('/video/'+this.videoUid+'/comments', {
                body: this.replyBody,//this.replaceAll(this.replyBody, '\n', '<br/>'),
                reply_id:commentId
            })

            let comment = this.comments.find((comment) => {
                return comment.id === commentId
            })

            comment.replies.push(reply.data.data)
            this.replyBody = null
            this.replyFormVisible = null
            this.errorMessageReply = ''
        },
        async createComment(){
            this.body = _.trim(this.body)
            if(this.body == ''){
                this.errorMessage = '메세지를 작성해주세요'
                return false
            }

            let comment = await axios.post('/video/'+this.videoUid+'/comments', {
                body: this.body//this.replaceAll(this.body, '\n', '<br/>')
            })

            this.prependComment(comment.data.data)
        },
        async prependComment(comment){
            comment['replies'] = []
            this.comments.unshift(comment)
            this.body = null
            this.errorMessage = '';
            this.$emit('setcommentscount', this.comments.length)
            await this.fetchMeta()

            if(this.meta.current_page < this.meta.last_page){
                this.comments.pop()
            }

        },
        async fetchMeta () {
            let comment = await axios.get('/video/'+this.videoUid+'/comments?page='+ `${this.meta.current_page}`)

            this.meta = comment.data.meta
        }
    }

}
</script>
