<template>
<div>
    <div v-if="status!=''" class="alert alert-dismissable" v-bind:class="{'alert-info': status=='uploading', 'alert-danger': status == 'failed', 'alert-success': status== 'completed' }" style="text-align:center;">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button" style="right:0; color:#fff; opacity:1;">×</button>
        {{ statusMessage }}
    </div>

    <div id="video-form"  v-bind:class="{'sk-loading': status=='uploading'}" >
        <div class="sk-spinner sk-spinner-double-bounce">
          <div class="sk-double-bounce1"></div>
          <div class="sk-double-bounce2"></div>
        </div>

        <!-- 폼 양식 -->
        <div class="form-group">
            <label for="channel">채널 선택</label>
            <select class="" name="channel" v-model="channel" v-on:change="channelSelect">
                <option value="">채널 선택</option>
                <option v-bind:value="channel.id" v-for="(channel, index) in channels" :key="channel.id">{{channel.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="tutorial">강좌 선택</label>
            <p>채널을 선택하시면 해당 채널내 운영하는 강좌를 선택하실 수 있습니다</p>
            <select class="" name="tutorial" v-model="tutorial" >
                <option value="" >강좌 선택</option>
                <option v-bind:value="tutori.id" v-for="(tutori, index) in tutorials" :key="tutori.id">{{tutori.title}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="name">비디오 타이틀</label>
            <input type="text" class="" placeholder="비디오 타이틀" v-model="title">
        </div>

        <div class="form-group">
            <label for="name">비디오</label>
            <input type="file" class="" id="video" placeholder="" name="video" @change="fileInputChange" >
            <div class="progress" v-if="status == 'uploading' || status == 'completed'">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                v-bind:style="{width: uploadPercentage + '%' }">
                    {{ uploadPercentage }} %
                </div>
            </div>
        </div>


        <div class="form-group">
            <label for="description">비디오 설명</label>
            <froala :tag="'textarea'" :config="froalaConfig" v-model="description"></froala>
        </div>

        <div class="form-group">
            <label for="visibility">비디오 설정</label>
            <p>공개는 Public을 비공개는 Private으로 선택해주세요. 비공개로 작업하다 완성한 시 공개로 전환해도 좋습니다.</p>
            <select class="" name="visibility" v-model="visibility">
                <option value="">선택해주세요</option>
                <option value="private">Private</option>
                <!--<option value="unlisted">Unlisted</option>-->
                <option value="public">Public</option>
            </select>
        </div>

        <div class="form-group">
            <label for="preview">비디오 미리보기 설정</label>
            <p>미리보기는 강좌를 수강하지 않은 유저에게 강좌를 보여주는 기능입니다. 강좌에서 몇몇 비디오를 미리보기로 설정해주세요.</p>
            <select class="" name="preview" v-model="preview">
                <option value="">선택해주세요</option>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>
        </div>

        <div class="form-group">
            <label for="description">태그</label>
            <p style="margin-bottom:5px;">특수 문자는 제외됩니다 &#40;&#38;&#91;&#92;&#93;
&#94;&#47;&#35;&#44;&#43;&#40;&#41;&#36;&#126;&#37;&#39;&#34;&#58;&#59;&#42;&#63;&#33;&#38;&#60;&#61;&#62;&#123;&#124;&#125;&#41;</p>
            <multiselect :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="false" :close-on-select="false" :options-limit="50" :limit="20" :limit-text="limitText" @search-change="asyncFind" id="ajax" v-model="tag" :options="tags" :taggable="true" @tag="addTag" tag-placeholder="새로운 태그를 추가하세요" :max="maxTags" placeholder="태그를 검색하세요">
                <template slot="maxElements">
                    최대 20개까지 태그를 입력하실 수 있습니다.
                </template>
            </multiselect>
      </div>

        <div class="form-group">
            <label for="order">비디오 순서</label>
            <p>옵션사항입니다. 강좌 리스트가 보여질때 정렬 기준이 되며 낮은 숫자가 우선순위가 높습니다. <span style="color:red; font-weight:bold;">미 선택 시 기본값(255)으로 설정됩니다.</span> 비디오 정렬 우선순위는 정렬 순서, 비디오 타이틀 그리고 마지막으로 생성 시간 순 입니다.</p>
            <select class="" name="order" v-model="order">
                <option value="">선택해주세요</option>
                <option v-bind:value="n" v-for="(n, index) in 255">{{ n }}</option>
            </select>
        </div>
<!--
        <div class="form-group">
            <label for="cost_type">강좌 평가</label>
            <p>구독자들이 강좌 평가를 남길 수 있습니다</p>
            <select class=""  name="allow_votes" v-model="allow_votes" >
                <option value="">선택해주세요</option>
                <option value="1" selected>사용</option>
                <option value="0">미사용</option>
            </select>
        </div>


        <div class="form-group">
            <label for="cost_type">강좌 댓글</label>
            <p>구독자들이 댓글을 남길 수 있습니다</p>
            <select class=""  name="allow_comments" v-model="allow_comments">
                <option value="">선택해주세요</option>
                <option value="1" selected>사용</option>
                <option value="0">미사용</option>
            </select>
        </div>-->




        <a @click.prevent="uploadVideo" class="btn btn-border btn--with-shadow c-orange-light full-width" style="margin-bottom: 10px; ">
            저장하기
        </a>

        <div v-if="this.errorMessage != ''" class="summit-message" style="margin-top:50px;">
            <p class="summit-error" v-html="this.errorMessage"></p>
        </div>
    </div>

</div>
</template>

<script>
var extensionLists = {}; //Create an object for all extension lists
extensionLists.video = ['mp4', 'avi', 'mov', 'wmv', 'flv'];  //'m4v', 'avi','mpg','mp4', 'webm'
extensionLists.image = ['jpg', 'gif', 'bmp', 'png'];

// One validation function for all file types
function isValidFileType(fName, fType) {
    return extensionLists[fType].indexOf(fName.split('.').pop()) > -1;
}

import VueFroala from 'vue-froala-wysiwyg'
Vue.use(VueFroala)

import Multiselect from 'vue-multiselect'
Vue.component('multiselect', Multiselect)

export default {
        data() {
            return {
              uid:null,
              title:'',
              description:'',
              visibility:'',
              preview:'',
              //allow_votes:'',
              //allow_comments:'',
              channel:'',
              channels:[],
              tutorial:'',
              tutorials:[],
              order:'',
              errorMessage:'',
              uploadPercentage:0,
              status:'',
              statusMessage:'',
              fileSize:'',
              file:'',
              tempID:null,
              froalaConfig: {
                  imageDefaultWidth:0,
                  requestHeaders: {
                      'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                  },
                  language: 'ko',
                  imageUploadParam: 'imageFile',
                  imageUploadURL: '/editor/uploadToTemp',
                  imageUploadMethod: 'POST',
                  imageMaxSize: 2 * 1024 * 1024,
                  imageUploadParams: {id: Math.random().toString(36).substr(2, 9), type: 'videos', width:800, mode:'resize', limitWidth:1920, limitHeight:1000, fileSize:2},
                  imageAllowedTypes: ['jpeg', 'jpg', 'png', 'gif', 'svg'],
                  heightMin: 500,
                  heightMax: 1000,
                  fontFamily: {
                    'Arial,Helvetica,sans-serif': 'Arial',
                    'Georgia,serif': 'Georgia',
                    'Impact,Charcoal,sans-serif': 'Impact',
                    'Tahoma,Geneva,sans-serif': 'Tahoma',
                    "'Times New Roman',Times,serif": 'Times New Roman',
                    'Verdana,Geneva,sans-serif': 'Verdana',
                    'Helvetica,sans-serif':'Helvetica',
                    "'Helvetica Neue',sans-serif":'Helvetica Neue',
                    "'Roboto', sans-serif":'Roboto',
                    "'Nunito', sans-serif":  'Nunito',
                    "'Nunito Sans', sans-serif":'Nunito Sans',
                    "'Montserrat', sans-serif": 'Montserrat',
                    "'Oswald', sans-serif":'Oswald',
                    "'Raleway', sans-serif":'Raleway',
                    "'Nanum Gothic', sans-serif":'나눔 고딕 Nanum Gothic',
                    "'Nanum Myeongjo', serif":'나눔 명조 Nanum Myeongjo',
                    "'Nanum Pen Script', cursive":'나눔 펜 스크립트 Nanum Pen Script',
                    "'Nanum Gothic Coding', monospace":'나눔 고딕 코딩 Nanum Gothic Coding',
                    "'Nanum Brush Script', cursive":'나눔 브러쉬 스크립트 Nanum Brush Script',
                    "'Song Myung', serif":'송명 Song Myung',
                    "'Poor Story', cursive":'푸어 스토리 Poor Story',
                    "'Gugi', cursive":'구기 Gugi',
                    "'Gothic A1', sans-serif":'고딕 A1 Gothic A1',
                    "'Black Han Sans', sans-serif":'블랙 한글 Sans Black Han Sans',
                    "'Do Hyeon', sans-serif":'도현 Do Hyeon',
                    "'Hi Melody', cursive":'하이 멜로디 Hi Melody',
                    "'Sunflower', sans-serif":'썬프라워 Sunflower',
                    "'Jua', sans-serif":'주아 Jua',
                    "'Gamja Flower', cursive":'감자 플라워 Gamja Flower',
                    "'East Sea Dokdo', cursive":'동해 독도 East Sea Dokdo',
                    "'Gaegu', cursive":'개구 Gaegu',
                    "'Stylish', sans-serif":'스타일리쉬 Stylish',
                    "'Black And White Picture', sans-serif":'블랙 앤 화이트 픽쳐 Black And White Picture',
                    "'Kirang Haerang', cursive":'키랑 해랑 Kirang Haerang',
                    "'Cute Font', cursive":'큐트 폰트 Cute Font',
                    "'Yeon Sung', cursive":'연성 Yeon Sung',
                    "'Dokdo', cursive":'독도 Dokdo'
                  },
                  //fontFamilySelection: true,
                  toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '|', 'insertLink', 'insertImage', 'insertVideo', 'insertTable', '|', 'emoticons', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'print', 'help', 'html', '|', 'undo', 'redo'],
                  events : {
                      'froalaEditor.image.error': function (e, editor, error, response){
                          console.log(error)
                          console.log(response)
                          $('#alarm #title').text('이미지 업로드 에러')
                          $('#alarm #content').html('이미지 업로드에 실패하였습니다')
                          // Bad link.
                          if (error.code == 1) {
                              $('#alarm #content').html('유효한 링크가 아닙니다')
                          }

                          // No link in upload response.
                          else if (error.code == 2 || error.code == 3 || error.code == 4 || error.code == 7) {
                              $('#alarm #content').html('업로드 가능한 본문 이미지는<br>사이즈 2Mbytes 이하<br>폭 1920픽셀 이하<br>높이 1000픽셀 이하입니다')
                              if(response){
                                  let re = JSON.parse(response)
                                  if('message' in re){
                                      let message = ''
                                      _.forEach(re.message, function(value, key) {
                                            message += value
                                            message += '<br>'
                                       });
                                       $('#alarm #content').html(message)
                                  }
                              }
                          }

                          // Image too text-large.
                          else if (error.code == 5) {
                              $('#alarm #content').html('업로드 가능한 본문 이미지의 사이즈는 2Mbytes 이하입니다')
                          }

                          // Invalid image type.
                          else if (error.code == 6) {
                              $('#alarm #content').html('업로드 가능한 이미지 타입은 jpeg, jpg, png, gif, svg 입니다')
                          }
                          $('#alarm').modal('show')
                      },
                      'froalaEditor.image.uploaded' : function (e, editor, response) {
                          // Image was uploaded to the server.
                          console.log('froalaEditor.image.uploaded')
                      },
                      'froalaEditor.image.inserted' : function (e, editor, $img, response) {
                        // Image was inserted in the editor.
                        console.log('froalaEditor.image.inserted')
                      },
                      'froalaEditor.image.replaced' : function (e, editor, $img, response) {
                        // Image was replaced in the editor.
                        console.log('froalaEditor.image.replaced')
                      },
                      'froalaEditor.image.removed' : async function (e, editor, $img) {
                          console.log('froalaEditor.image.removed')
                          let response = await axios.post('/editor/deleteImage', {src: $img.attr('src'), type:'local'})
                      }
                  }
              },
              tags:[],
              tag:[],
              isLoading: false,
              maxTags:20,
            }
        },
        mounted() {
            console.log('Component mounted.')
            this.channels = channels
            this.file = document.getElementById('video').files[0]
            let self = this

            // 업로딩 중에 페이지 이동을 하려고 할때 ...  경고 문구 발생 시키기
            window.onbeforeunload = () => {
                if(this.status == 'uploading') {
                    return '비디오 업로드 중입니다. 정말로 다른 페이지로 이동하시겠습니까?'
                }
            }

            // froala
            this.tempID = this.froalaConfig.imageUploadParams.id
        },
        methods: {
            addTag (newTag) {
                newTag = _.trim(newTag)
                newTag = newTag.replace(/[&\/\\#,+()$~^%\['\]":;*?!&<=>{|}]/g,'')
                //console.log(newTag)

                this.tag.push(newTag)
                this.tags.push(newTag)
            },
            asyncFind (query) {
                let self =this
                  this.isLoading = true
                  axios.get('/search/tags?q=' +escape(query))
                    .then(response => {
                        self.tags = []
                        _.forEach(response.data, function(value, key) {
                            self.tags.push(value.name)
                        })
                        this.isLoading = false
                        //console.log(response)
                    })
                    .catch(e => {
                        console.log(e)
                    })
            },
            clearAll () {
                this.tag = []
            },
            limitText (count) {
              return `외 ${count} 태그들이 선택됨`
            },
            initComponent(){
                this.status = ''
                this.statusMessage = ''
                this.title = ''
                this.description=''
                this.visibility=''
                this.preview = ''
                //this.allow_votes=''
                //this.allow_comments=''
                this.channel=''
                this.tutorial=''
                this.tutorials=[]

                this.tag = []
                this.tags = []
                this.order=''
                this.resetInputVideo()
                this.resetTempID()
            },
            channelSelect(){
                if(this.channel != ''){
                    this.findTutorials()
                } else {
                    this.tutorials = []
                    this.tutorial = ''
                }
            },
            findTutorials(){
                axios.post(`/getTutorialsByChannel`,
                    {
                        channel:this.channel
                    },
                )
                .then(response => {
                    console.log(response)
                    this.tutorials = response.data.tutorials
                })
                .catch(e => {
                    console.log(e)
                })
            },
          fileInputChange(){

              this.file = document.getElementById('video').files[0]
              this.fileSize = this.file.size / (1024 * 1024)

              if(this.fileSize > 500 ) { // 500 MB 이상의 경우
                  this.errorMessage = '파일 사이즈는 500MB이하만 업로드 가능합니다'
                  this.resetInputVideo()
              } else if(this.fileSize == null || this.fileSize == '' || this.fileSize == 0){
                  this.errorMessage = '유효한 파일이 아닙니다. 다시 시도해 주세요.'
                  this.resetInputVideo()
              } else if( !isValidFileType(this.file.name, 'video')) {
                  this.errorMessage = '비디오 파일을 선택해주세요. 지원 비디오 파일 형식: mp4, mov, wmv, avi, & flv'
                  this.resetInputVideo()
              } else {
                  this.errorMessage = ''
              }

          },
          resetTempID(){
              this.froalaConfig.imageUploadParams.id = Math.random().toString(36).substr(2, 9)
              this.tempID = this.froalaConfig.imageUploadParams.id
          },
          resetInputVideo(){
              if(this.file){
                  this.file = ''
                  document.getElementById('video').value = ''
              }
          },
          formValid(){
              var errorChk = true
              this.errorMessage = ''

              if(this.channel == ''){
                  errorChk = false
                  this.errorMessage = '채널을 선택해주세요'
                  return false
              }

              if(this.tutorial == ''){
                  errorChk = false
                  this.errorMessage = '강좌를 선택해주세요'
                  return false
              }

              this.title = _.trim(this.title)
              if(this.title == ''){
                  errorChk = false
                  this.errorMessage = '강좌 제목을 작성해주세요'
                  return false
              }

              if(this.file){
                  if( !isValidFileType(this.file.name, 'video')) {
                      this.resetInputVideo()
                      errorChk = false
                      this.errorMessage = '비디오 형식의 파일을 선택해주세요'
                      return false
                  }
              } else {
                  errorChk = false
                  this.errorMessage = '업로드할 비디오를 선택해주세요'
                  return false
              }

              if(this.fileSize > 500 ) { // 500 MB 이상의 경우
                  errorChk = false
                  this.errorMessage = '파일 사이즈는 500MB이하만 업로드 가능합니다'
                  return false
              } else if(this.fileSize == null || this.fileSize == '' || this.fileSize == 0){
                  errorChk = false
                  this.errorMessage = '파일을 선택해주세요'
                  return false
              }


              if(this.visibility == ''){
                  errorChk = false
                  this.errorMessage = '비디오 설정을 선택해주세요'
                  return false
              }

              if(this.preview == ''){
                  errorChk = false
                  this.errorMessage = '비디오 미리보기 설정을 선택해주세요'
                  return false
              }

              /*if(this.order == ''){
                  errorChk = false
                  this.errorMessage = '비디오 순서를 선택해주세요'
                  return false
              }

              if(this.allow_votes == ''){
                  errorChk = false
                  this.errorMessage = '비디오 평가 기능 사용 유무를 선택해주세요'
                  return false
              }

              if(this.allow_comments == ''){
                  errorChk = false
                  this.errorMessage = '비디오 댓글 기능 사용 유무를 선택해주세요'
                  return false
              }*/

              this.errorMessage = '비디오 컨텐츠 업로드 중 ...'
              return errorChk
          },
          uploadVideo(){
              this.status = ''
              this.statusMessage = ''

              if(this.formValid()){
                  this.status = 'uploading'
                  this.statusMessage = '비디오 업로드 중입니다. 잠시만 기다려 주세요.'
                  //console.log('this is the upload')
                  let form = new FormData()
                  form.append('video', this.file)
                  form.append('title', this.title)
                  form.append('channel_id', this.channel)
                  form.append('tutorial_id', this.tutorial)
                  form.append('description', this.description)
                  form.append('visibility', this.visibility)
                  form.append('preview', this.preview)
                  //form.append('allow_votes', this.allow_votes)
                  //form.append('allow_comments', this.allow_comments)
                  if(this.order == ''){
                      form.append('order', 255)
                  } else {
                      form.append('order', this.order)
                  }
                  form.append('tempID', this.tempID)
                  if(this.tag.length){
                      form.append('tag', this.tag)
                  }

                  axios.post(`/video/upload`, form, {
                      headers: {
                          'Content-Type': 'multipart/form-data'
                      },
                      onUploadProgress: function( progressEvent ) {
                        this.uploadPercentage = parseInt( Math.round( ( progressEvent.loaded * 100 ) / progressEvent.total ) );
                      }.bind(this)
                  })
                  .then(response => {
                      if(response.data.result == 'success'){
                            this.status = 'completed'
                            this.statusMessage = '비디오 업로드가 완료되었습니다'
                            this.errorMessage = '비디오 업로드에 성공하였습니다'
                            this.errorMessage += '<br>업로드된 비디오는 비디오관리 서버로 업로드되며 트랜스코딩이 진행됩니다. 파일 사이즈에 따라 서버 업로드 및 비디오 트랜스코딩 시간이 다릅니다. 대개의 경우 수분에서 수십분이 소요됩니다.'
                            this.uid = response.data.videoUID
                            this.initComponent()
                        } else if(response.data.result == 'error') {
                            this.status = 'failed'
                            this.statusMessage = '비디오 업로드에 실패하였습니다'
                            this.errorMessage = '비디오 업로드에 실패하였습니다. 다시 시도해 주세요.'
                            if('errors' in response.data){
                              this.errorMessage = ''
                              let message = ''
                              _.forEach(response.data.errors, function(value, key) {
                                    message += value
                                    message += '<br>'
                               });
                               this.errorMessage = message
                            }
                        }
                  })
                  .catch(e => {
                      this.status = 'failed'
                      this.statusMessage = '비디오 업로드에 실패하였습니다'
                      this.errorMessage = '비디오 업로드에 실패하였습니다'
                      console.log(e)
                  })

              }
          }
        }
    }
</script>
