@import url(https://fonts.googleapis.com/css?family=Black+And+White+Picture|Black+Han+Sans|Cute+Font|Do+Hyeon|Dokdo|East+Sea+Dokdo|Gaegu|Gamja+Flower|Gothic+A1|Gugi|Hi+Melody|Jua|Kirang+Haerang|Montserrat|Nanum+Brush+Script|Nanum+Gothic|Nanum+Gothic+Coding|Nanum+Myeongjo|Nanum+Pen+Script|Nunito|Nunito+Sans|Oswald|Poor+Story|Raleway|Roboto|Song+Myung|Stylish|Sunflower:300|Yeon+Sung);/*------------- #WIDGETS --------------*/

/*------------- #VARIABLES --------------*/

/*------------- #W-INFO --------------*/

.w-info .logo-title,
.w-info .logo-sub-title {
  display: inline-block;
}

.w-info .site-logo {
  margin-bottom: 30px;
}

.w-info p {
  margin-bottom: 40px;
}

.w-info .logo-title {
  margin-right: 20px;
  color: #0083ff;
  font-size: 45px;
}

.w-info .logo-sub-title {
  color: #a1b7d2;
}

.w-info .learn-more {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.w-info .learn-more:hover {
  color: #0083ff;
}

.widget-title {
  margin-bottom: 20px;
}

/*================= Responsive Mode ============*/

@media (max-width: 640px) {
  .w-info .learn-more {
    font-size: 12px;
  }
}

/*------------- #W-LIST --------------*/

.w-list .list {
  margin-left: 0;
}

.w-list .list li {
  font-weight: 400;
  margin-bottom: .2em;
}

.w-list .list li > * {
  display: inline-block;
  vertical-align: middle;
}

.w-list .list li:hover .utouch-icon {
  opacity: 1;
}

.w-list .list li:hover a {
  color: #0083ff;
  margin-left: 8px;
}

.w-list .list li .utouch-icon {
  width: 16px;
  height: 16px;
  opacity: 0;
  margin-right: 0;
  margin-top: 2px;
  float: none;
}

.w-list .list li a {
  color: #4b5d73;
  margin-right: 8px;
}

/*------------- #W-FOLLOW --------------*/

.w-follow ul li {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  line-height: 1;
  font-weight: 700;
}

.w-follow ul li a {
  display: inline-block;
}

.w-follow .utouch-icon {
  color: #6987ab;
  fill: #6987ab;
  height: 14px;
  width: 14px;
}

.w-follow .utouch-icon:hover {
  color: #0083ff;
  fill: #0083ff;
}

svg.utouch-icon {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 32px;
}

/*------------- #W-CONTACTS --------------*/

.w-contacts .btn {
  margin: 20px 0;
}

.w-contacts .socials {
  margin-top: 25px;
}

.w-contacts #map {
  margin: 0 -40px 35px;
}

.w-contacts .info-wrap .info {
  display: block;
}

.w-contacts a.info:hover {
  color: #0083ff;
}

.contact-item {
  margin-bottom: 5px;
}

.contact-item .utouch-icon {
  height: 18px;
  width: 18px;
  color: #0083ff;
  fill: #0083ff;
  margin-right: 10px;
}

.contacts-text {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 35px;
}

.w-contacts--style2 .contact-item {
  margin-bottom: 15px;
}

.w-contacts--style2 .contact-item .utouch-icon {
  height: 44px;
  min-width: 44px;
  margin-right: 30px;
}

.w-contacts--style2 .info {
  font-weight: 700;
  color: #273f5b;
}

.w-contacts--style2 .info span {
  font-weight: 300;
}

#map {
  min-width: 100%;
  height: 220px;
  margin-bottom: 40px;
}

.sidebar .widget {
  padding: 20px 40px 40px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 0 50px rgba(18, 25, 33, 0.1);
          box-shadow: 10px 0 50px rgba(18, 25, 33, 0.1);
  margin-bottom: 40px;
}

.map--rounded {
  border-radius: 10px;
  -webkit-box-shadow: 30px 0 100px rgba(0, 0, 0, 0.2);
          box-shadow: 30px 0 100px rgba(0, 0, 0, 0.2);
  position: relative;
}

.map--rounded #map {
  height: 360px;
  margin-bottom: 60px;
}

.location-details {
  width: 260px;
  padding: 40px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 10px 0 50px rgba(18, 25, 33, 0.1);
          box-shadow: 10px 0 50px rgba(18, 25, 33, 0.1);
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  max-width: 100%;
}

.location-details .contacts-text {
  font-size: 16px;
  font-weight: 700;
  color: #273f5b;
  margin-bottom: 20px;
}

.location-details a:hover {
  color: #0083ff;
}

/*================= Responsive Mode ============*/

@media (max-width: 580px) {
  .location-details {
    right: 0;
    padding: 15px;
  }

  .sidebar .widget {
    padding: 20px;
  }

  .w-contacts #map {
    margin: 0 -20px 40px;
  }
}

@media (max-width: 420px) {
  .location-details {
    display: none;
  }
}

/*------------- #W-SEARCH --------------*/

.w-search input {
  border-radius: 10px;
  padding-left: 60px;
}

.w-search .utouch-icon {
  height: 24px;
  width: 42px;
  top: 13px;
  padding-right: 0;
  border-right: none;
  fill: #d0d9e4;
  left: 15px;
}

.w-search .with-icon .utouch-icon {
  right: 15px;
}

.widget.w-search {
  padding: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*------------- #W-ABOUT --------------*/

.w-about p {
  margin-bottom: 30px;
}

/*------------- #W.category-link --------------*/

.w-category .category-list {
  margin-top: 30px;
}

.w-category .category-list a {
  display: block;
  padding: 9px 0 0 30px;
  position: relative;
  font-size: 18px;
}

.w-category .category-list a:before {
  content: '';
  display: block;
  height: 100%;
  width: 3px;
  background-color: #d6dfeb;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.w-category .category-list li:last-child a:before {
  border-radius: 0 0 3px 3px;
}

.w-category .category-list li:first-child a:before {
  border-radius: 3px 3px 0 0;
}

.w-category .category-list li:hover a {
  color: #0083ff;
}

.w-category .category-list li:hover a:before {
  background-color: #0083ff;
}

.w-category .category-list li:hover .cat-count {
  color: #fff;
  background-color: #0083ff;
}

.w-category .cat-count {
  font-size: 11px;
  font-weight: 700;
  color: #6987ab;
  background-color: #e6eff9;
  padding: 2px 10px;
  border-radius: 30px;
  line-height: 1;
  margin-left: 20px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
  top: -2px;
}

/*================= Responsive Mode ============*/

@media (max-width: 768px) {
  .w-category .cat-count {
    margin-left: 10px;
  }

  .w-category .category-list a {
    font-size: 13px;
  }
}

/*------------- #W-TAGS --------------*/

.w-tags {
  overflow: hidden;
}

.w-tags .tags-list {
  margin-left: -10px;
  margin-bottom: -12px;
  float: left;
}

.w-tags .tags-list li {
  margin-left: 10px;
  margin-bottom: 12px;
  float: left;
}

.w-tags a {
  padding: 12px 14px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #d6dfeb;
  border-radius: 50px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  color: #6987ab;
  display: block;
  line-height: 1;
}

.w-tags a:hover {
  background-color: #0083ff;
  color: #fff;
  border-color: #0083ff;
  -webkit-box-shadow: 10px 0 30px rgba(0, 131, 255, 0.3);
          box-shadow: 10px 0 30px rgba(0, 131, 255, 0.3);
}

/*================= Responsive Mode ============*/

@media (max-width: 1024px) {
  .w-tags a {
    padding: 10px 20px;
  }
}

@media (max-width: 560px) {
  .w-tags a {
    font-size: 11px;
  }
}

/*------------- #W-POPULAR-PRODUCTS --------------*/

.w-popular-products .product-item-thumb img {
  -webkit-box-shadow: 10px 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 0 10px rgba(0, 0, 0, 0.2);
}

.w-popular-products .swiper-container {
  padding-bottom: 50px;
}

.w-popular-products .product-item {
  padding: 0;
}

.w-popular-products .product-item:hover {
  background: transparent;
}

.w-popular-products .square-colored::before {
  display: none;
}

.w-popular-products .product-item-thumb {
  margin-bottom: 40px;
}

/*------------- #W-LATEST-NEWS --------------*/

.latest-news-item {
  margin-bottom: 20px;
}

.latest-news-item header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.latest-news-item .post-thumb {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin-right: 20px;
  float: left;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  background-color: #ecf5fe;
}

.latest-news-item .post-thumb.post-formats img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 50%;
  max-height: 50%;
}

.latest-news-item .post-additional-info * + * {
  margin-left: 0;
}

.latest-news-item .post-additional-info {
  overflow: hidden;
}

.latest-news-item .post__title {
  margin-bottom: 0;
  font-size: 16px;
}

.latest-news-item .post__date {
  float: none;
  margin-right: 0;
  font-weight: 400;
  display: block;
}

.latest-news-control {
  margin-bottom: 35px;
}

.tab-control {
  display: inline-block;
}

.tab-control a {
  font-size: 14px;
  font-weight: 700;
  color: #4b5d73;
  text-transform: uppercase;
  padding-bottom: 10px;
  position: relative;
  display: block;
}

.tab-control a:after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  border-radius: 3px;
  background-color: #0083ff;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.tab-control + .tab-control {
  margin-left: 30px;
}

.tab-control.active a {
  color: #0083ff;
}

.tab-control.active a:after {
  opacity: 1;
  width: 100%;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .tab-pane.active {
  display: block;
}

/*================= Responsive Mode ============*/

@media (max-width: 480px) {
  .tab-control {
    display: block;
  }

  .tab-control + .tab-control {
    margin-left: 0;
    margin-top: 10px;
  }
}

/*------------- #W-EVENTS --------------*/

.event-day {
  margin: 0 auto 40px;
  border-radius: 30px;
  background-color: #ecf5fe;
  padding: 11px 14px;
  line-height: 1;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #6987ab;
  display: table;
}

.w-events .event-item {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #dbe3ec;
}

.w-events .event-item:last-child {
  border-bottom: none;
}

/*------------- #W-LATEST-MEMBERS --------------*/

.members-list {
  margin: 35px 0;
}

.members-list a {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  -webkit-box-shadow: 10px 0 30px rgba(18, 25, 33, 0.15);
          box-shadow: 10px 0 30px rgba(18, 25, 33, 0.15);
  overflow: hidden;
  display: block;
}

.members-list li {
  display: inline-block;
  margin-right: 8px;
}

.members-list li:last-child {
  margin-right: 0;
}

/*------------- #W-AUTHOR --------------*/

.w-author {
  margin-top: 60px;
}

.w-author .testimonial-img-author {
  width: 120px;
  height: 120px;
  margin-top: -100px;
  position: relative;
  overflow: visible;
  margin-bottom: 35px;
}

.w-author .testimonial-img-author img {
  border-radius: 100%;
  overflow: hidden;
  -webkit-box-shadow: 10px 0 30px rgba(18, 25, 33, 0.15);
          box-shadow: 10px 0 30px rgba(18, 25, 33, 0.15);
}

.w-author .testimonial-img-author .socials {
  position: absolute;
  left: 100%;
  bottom: 5px;
  margin: 0;
  width: 100%;
}

.w-author .testimonial-img-author .socials .social__item {
  margin-left: 10px;
}

.w-author .btn {
  margin-top: 10px;
}

.w-author .title {
  margin-bottom: 20px;
  display: block;
}

/*================= Responsive Mode ============*/

@media (max-width: 460px) {
  .w-author .testimonial-img-author .socials {
    position: relative;
    left: auto;
  }
}

