<template>
<div>
    <div v-if="viewOptions.viewType=='block'" >
        <div v-if="viewOptions.noDataCommentOn && channels.length == 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>{{ viewOptions.noDataComment }}</p>
        </div>

        <div class="col-sm-12 col-xs-12" v-for="channel in channels" :key="channel.id" :class="viewOptions.gridClass">
            <div class="curriculum-event c-secondary" v-bind:data-mh="fromComp" >
                <div class="curriculum-event-thumb">
                    <img :src="channel.head_image ? channel.head_image : channelHeadDefault" alt="image">
                    <!--<div class="category-link color-icon">Lesson</div>-->
                    <div class="curriculum-event-content">
                        <div class="row">
                            <div class="col-md-12">
                                <a :href="'/channel/'+channel.slug" class="h5 title">{{ channel.name}}</a>
                            </div>
                            <div class="col-md-12">
                                <div class="row channel-info">
                                    <div class="col-md-6">
                                        <div class="author-block inline-items">
                                            <div class="author-avatar">
                                                <img :src="channel.logo_image ? channel.logo_image : channelLogoDefault" alt="author">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="text color-icon">{{ channel.totalTutorials }} 강좌 수</p>
                                        <p class="text color-icon">{{ channel.totalSubscriptions }} 구독자 수</p>
                                        <p class="text color-icon">{{ channel.totalRegisterdTutorials }} 수강자 수</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 channel-admins">
                                <div class="author-prof">채널 운영자</div>
                                <div class="d-flex--content-inline">
                                    <ul class="friends-harmonic">
                                        <li v-for="user in channel.users" :key="user.id">
                                            <a :title="user.name" :href="'/wave/'+user.slug">
                                                <img :src="user.photo ? user.photo : userPhotoDefault" alt="image">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="action-button-group">
                        <div v-if="!checkOwn(channel) && viewOptions.subscribeBtn" class="">
                            <a v-if="fromComp == 'mysubscribedchannels'" title="구독취소">
                                <i class="fas fa-minus-square"></i>
                            </a>
                            <a v-else title="구독">
                                <i class="fas fa-plus-square"></i>
                            </a>
                        </div>

                        <a v-if="checkOwn(channel) && viewOptions.editBtn" class="edit-button" title="수정">
                            <i class="fas fa-pen-square"></i>
                        </a>
                        <a v-if="checkOwn(channel) && viewOptions.deleteBtn" class="delete-button" title="삭제">
                            <i class="fas fa-minus-square"></i>
                        </a>
                    </div>
                    <div class="overlay-standard overlay--dark"></div>
                </div>
            </div>
        </div>

    </div>

    <div v-else class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p v-if="viewOptions.noDataCommentOn && channels.length == 0">{{ viewOptions.noDataComment }}</p>

        <ul class="teammember-list">
            <li v-for="channel in channels" :key="channel.id" class="crumina-module crumina-teammembers-item teammember-item--author-in-round">
                <div class="teammembers-thumb">
                    <img :src="channel.logo_image ? channel.logo_image : channelLogoDefault" alt="team member">
                </div>

                <div class="teammember-content">
                    <!--<div class="teammembers-item-prof">Web Developer</div>-->
                    <a :href="'/channel/'+channel.slug" class="h5 teammembers-item-name">{{ channel.name}}</a>
                    <p>{{ channel.totalTutorials }} 강좌 수, {{ channel.totalSubscriptions }} 구독자 수, {{ channel.totalRegisterdTutorials }} 수강자 수
                    </p>

                    <ul class="friends-harmonic">
                        <li v-for="user in channel.users" :key="user.id">
                            <a :title="user.name" :href="'/wave/'+user.slug">
                                <img :src="user.photo ? user.photo : userPhotoDefault" alt="image">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="action-button-group c-gray">
                    <div v-if="!checkOwn(channel) && viewOptions.subscribeBtn" class="">
                        <a v-if="fromComp == 'mysubscribedchannels'" title="구독취소">
                            <i class="fas fa-minus-square"></i>
                        </a>
                        <a v-else title="구독">
                            <i class="fas fa-plus-square"></i>
                        </a>
                    </div>

                    <a v-if="checkOwn(channel) && viewOptions.editBtn" class="edit-button" title="수정">
                        <i class="fas fa-pen-square"></i>
                    </a>
                    <a v-if="checkOwn(channel) && viewOptions.deleteBtn" class="delete-button" title="삭제">
                        <i class="fas fa-minus-square"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <template v-if="loadFlag && 'last_page' in pagination && pagination.last_page > 1">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <pagination :for="fromComp" :pagination="pagination" />
        </div>

    </template>
</div>

</template>

<script>
import eventHub from '../../event.js'
import Pagination from '../Pagination'

export default {
    data () {
        return {
            channels:[],
            meta:null,
            links:null,
            pagination: {
                    'current_page':null,
                    'first':null,
                    'from':null,
                    'last':null,
                    'last_page':null,
                    'next':null,
                    'path':null,
                    'per_page':null,
                    'prev':null,
                    'to':null,
                    'total':null
                },
            loadFlag:false,
            url:null,
            viewOptions:{
                subscribeBtn:false,
                editBtn:false,
                deleteBtn:false,
                viewType:'block',
                noDataCommentOn:false,
                noDataComment:'',
                gridClass:'col-lg-6 col-md-6',
            },
            orderType:null,
            pagenationType:null,
        }
    },
    components: {
        Pagination
    },
    props: {
        channelHeadDefault: {
            required: true,
            type: String
        },
        channelLogoDefault: {
            required: true,
            type: String
        },
        userPhotoDefault:{
            required: true,
            type: String
        },
        fromComp: {
            type:String,
            required: true
        },
        viewOptionsProp:{
            type:Object
        },
        getInfoUrl:{
            type: String
        }
    },
    updated: function () {
        let self = this
        this.$nextTick(function () {
            console.log('this is updated channels')
            if(self.viewOptions.viewType == 'block'){
                $('.curriculum-event[data-mh="'+self.fromComp+'"]').matchHeight()
            }
        })
    },
    mounted(){
        console.log('this is mounted channels')
        this.pagenationType = 1

        if(this.getInfoUrl){
            this.url = this.getInfoUrl
        } else {
            if(this.fromComp == 'mychannels') {
                this.url = '/getChannelsInfoByLoginUser?without=tutorial&page='
            } else if(this.fromComp == 'mysubscribedchannels') {
                this.url = '/getSubscribedChannelsInfoByLoginUser?without=tutorial&page='
            } else  if(this.fromComp == 'getchannellistinfo'){
                this.url = '/getChannelsInfo?page='
                this.pagenationType = 2
            }
        }

        let self = this
        if(this.viewOptionsProp){
            _.forEach(this.viewOptionsProp, function(value, key) {
                Vue.set(self.viewOptions, key, value)
            });
        }

        this.initLoadChannels(1)

        eventHub.$on(this.fromComp +'-pagination', this.pageChange)

        eventHub.$on(this.fromComp+'-list-view', this.listViewChange)

        eventHub.$on('channelOrderByChange', this.orderByChange)
    },
    methods:{
        orderByChange(type){
            this.orderType = type
            this.url = '/getChannelsInfo?order='+type+'&page='
            this.loadChannels(1)
        },
        listViewChange(type){
            this.viewOptions.viewType = type
        },
        async initLoadChannels() {
            await this.loadChannels(1)
        },
        async loadChannels(page = 1) {
            let channels = await axios.get(this.url+page)

            console.log(channels)

            this.channels = channels.data.data
            if(this.pagenationType ==1){
                this.meta = channels.data.meta
                this.links = channels.data.links
            } else {
                this.meta = _.omit(channels.data, ['data']);
            }

            this.paginationSet()
        },
        paginationSet(){
            if(this.pagenationType ==1){
                Vue.set(this.pagination, 'current_page', this.meta.current_page)
                Vue.set(this.pagination, 'first', this.links.first)
                Vue.set(this.pagination, 'from', this.meta.from)
                Vue.set(this.pagination, 'last', this.links.last)
                Vue.set(this.pagination, 'last_page', this.meta.last_page)
                Vue.set(this.pagination, 'next', this.links.next)
                Vue.set(this.pagination, 'path', this.meta.path)
                Vue.set(this.pagination, 'per_page', this.meta.per_page)
                Vue.set(this.pagination, 'prev', this.links.prev)
                Vue.set(this.pagination, 'to', this.meta.to)
                Vue.set(this.pagination, 'total', this.meta.total)
            } else {
                Vue.set(this.pagination, 'current_page', this.meta.current_page)
                Vue.set(this.pagination, 'first', this.meta.first_page_url)
                Vue.set(this.pagination, 'from', this.meta.from)
                Vue.set(this.pagination, 'last', this.meta.last_page_url)
                Vue.set(this.pagination, 'last_page', this.meta.last_page)
                Vue.set(this.pagination, 'next', this.meta.next_page_url)
                Vue.set(this.pagination, 'path', this.meta.path)
                Vue.set(this.pagination, 'per_page', this.meta.per_page)
                Vue.set(this.pagination, 'prev', this.meta.prev_page_url)
                Vue.set(this.pagination, 'to', this.meta.to)
                Vue.set(this.pagination, 'total', this.meta.total)
            }
            this.loadFlag = true
        },
        checkOwn(channel){
            let user = channel.users.find((user) => {
                return user.id === codewwwave.user.id
            })
            if(user)
                return true
            else
                return false
        },
        pageChange(page, path){
            this.loadChannels(page)
        }
    }
}
</script>
