<template>
    <div class="">
        <p v-if="!notices.length">새로운 알림이 없습니다 </p>
        <div class="activity-stream">
            <div v-for="notice in notices" class="stream">

                <div class="stream-badge">
                    <i v-bind:class="classObject(notice.type)"></i>
                </div>
                <div class="stream-panel">
                    <div class="stream-info">
                        <a v-if="mainObj == 'channel'" href="#">
                            <img :src="notice.channel.logo_image ? notice.channel.logo_image : defaultData.channelLogoDefault" />
                            <span>{{notice.channel.name}}</span>
                            <span class="date">{{moment(notice.created_at).fromNow()}}</span>
                        </a>
                        <a v-else-if="mainObj == 'tutorial'" href="#">
                            <img :src="notice.tutorial.thumbnail ? notice.tutorial.thumbnail : defaultData.tutorialThumbDefault" />
                            <span>{{notice.tutorial.title}}</span>
                            <span class="date">{{moment(notice.created_at).fromNow()}}</span>
                        </a>
                        <a v-else-if="mainObj == 'video'" href="#">
                            <img :src="notice.video.thumbnail ? notice.video.thumbnail : defaultData.videoThumbDefault" />
                            <span>{{notice.video.title}}</span>
                            <span class="date">{{moment(notice.created_at).fromNow()}}</span>
                        </a>
                    </div>
                    <div v-html="notice.content"></div>
                    <span v-if="notice.user" class="by-user"><img :src="notice.user.photo ? notice.user.photo : defaultData.userPhotoDefault" /><a :href="'/wave/'+notice.user.slug">{{ notice.user.name }}</a></span>
                </div>
            </div>
        </div>
        <div v-if="notices.length > 0" class="row notification-footer">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a @click.prevent="notifCheckUpdate" href="" class="notification-check-btn btn btn-small btn--green-light full-width btn--with-shadow">
                    확인 완료
                </a>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <template v-if="pagination.last_page > 1">
                    <pagination :for="noticeName" :pagination="pagination" />
                </template>
            </div>
        </div>
    </div>
</template>

<script>
import eventHub from '../../event.js'
import Pagination from '../Pagination'

export default {
    data() {
        return {
            pagination: {
                'current_page':null,
                'first':null,
                'from':null,
                'last':null,
                'last_page':null,
                'next':null,
                'path':null,
                'per_page':null,
                'prev':null,
                'to':null,
                'total':null
            },
            notices:[],
            defaultData:{
                channelLogoDefault:'/img/channels/logo_image.png',
                channelHeadDefault:'/img/channels/head_image.png',
                userPhotoDefault:'/img/profile/default.png',
                tutorialThumbDefault:'/img/tutorials/thumbnail.jpg',
                videoThumbDefault:'/img/videos/default.png',
            }
        }
    },
    components: {
        Pagination
    },
    props: {
        noticesProp: {
            required: false,
            type: Array
        },
        mainObj: {
            required:true,
            type:String
        },
        paginationProp:{
            required:false,
            type:Object
        },
        noticeName:{
            required:true,
            type:String
        }
    },
    computed: {

    },
    mounted(){

        this.loadNotifications(1)

        eventHub.$on(this.noticeName+'-pagination', this.pageChange)

        eventHub.$on(this.noticeName+'-refresh', this.notifiRefresh)
    },
    methods: {
        async notifiRefresh(data){
            await this.loadNotifications(1)

            eventHub.$emit('notification-refresh-done', this.noticeName)
        },
        async notifCheckUpdate(){
            let result = await axios.post('/notifCheckUpdate', {type:this.noticeName})

            this.loadNotifications(1)
        },
        paginationSet(data){
                Vue.set(this.pagination, 'current_page', data.current_page)
                Vue.set(this.pagination, 'first', data.first)
                Vue.set(this.pagination, 'from', data.from)
                Vue.set(this.pagination, 'last', data.last)
                Vue.set(this.pagination, 'last_page', data.last_page)
                Vue.set(this.pagination, 'next', data.next)
                Vue.set(this.pagination, 'path', data.path)
                Vue.set(this.pagination, 'per_page', data.per_page)
                Vue.set(this.pagination, 'prev', data.prev)
                Vue.set(this.pagination, 'to', data.to)
                Vue.set(this.pagination, 'total', data.total)
        },
        pageChange(page, path){
            this.loadNotifications(page)
        },
        async loadNotifications(page = 1) {
            console.log('Start: '+this.noticeName)
            let notifications = await axios.get('/getNotifByUserPart?type='+this.noticeName+'&page='+page)

            this.notices = notifications.data.data
            console.log('End: ' +this.noticeName)
            console.log(notifications)

            this.paginationSet(notifications.data)
        },
        classObject: function (type) {
            if(type == 'tcreate'){
                return 'fas fa-laptop-code'
            } else if(type =='message'){
                return 'xi-mail'
            } else if(type == 'broadcast'){
                return 'fas fa-microphone-alt'
            } else if(type =='adminadd'){
                return 'fas fa-user-astronaut'
            } else if(type== 'subscription'){
                return 'fas fa-kiss-wink-heart'
            } else if(type == 'vote') {
                return 'xi-thumbs-up'
            } else if(type == 'vcreate'){
                return 'fas fa-play-circle'
            } else if(type == 'update'){
                return 'fas fa-edit'
            } else if(type == 'comment') {
                return 'fas fa-comment-alt'
            } else if(type == 'review') {
                return 'fas fa-star'
            } else if(type == 'registration'){
                return 'fas fa-headphones-alt'
            } else if(type == 'vupload'){
                return 'fas fa-video'
            } else {
                return 'fas fa-circle'
            }
        }
    }
}
</script>
