<template>
<div>
    <div v-if="viewOptions.viewType=='block'" class="">
        <div v-if="viewOptions.noDataCommentOn && tutorials.length == 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>{{ viewOptions.noDataComment }}</p>
        </div>
        <div v-for="(tutorial, index) in tutorials" :key="tutorial.id" class="tutorial-item col-sm-12 col-xs-12" :class="viewOptions.gridClass">
            <div class="curriculum-event" v-bind:class="classObject(index, 'background')" v-bind:data-mh="compName" >
                <div class="curriculum-event-thumb">
                    <img :src="tutorial.thumbnail ? tutorial.thumbnail : thumbnailDefault" alt="image">
                    <div class="category-link" v-bind:class="classObject(index, 'text')">{{progressStatus[tutorial.progress_status]}}</div>
                    <div class="curriculum-event-content">
                        <div class="author-block inline-items">
                            <div class="author-avatar">
                                <img :src="tutorial.channel.logo_image ? tutorial.channel.logo_image : channelLogoDefault" alt="author">
                            </div>
                            <div class="author-info">
                                <div class="author-prof">Channel</div>
                                <a v-bind:href="'/channel/' + tutorial.channel.slug" class="h6 author-name">{{ tutorial.channel.name }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="overlay-standard" v-bind:class="classObject(index, 'overlay')"></div>

                    <div class="action-button-group">
                        <a v-if="viewOptions.editBtn" class="edit-button" title="수정">
                            <i class="fas fa-pen-square"></i>
                        </a>
                        <a v-if="viewOptions.deleteBtn" class="delete-button" title="삭제">
                            <i class="fas fa-minus-square"></i>
                        </a>
                    </div>
                </div>
                <div class="curriculum-event-content tutorial-info">
                    <div class="icon-text-item display-flex">
                        <div class="text" title="수정일"><i class="fas fa-calendar-alt"></i> {{ moment(tutorial.updated_at.date).format("MMM Do YYYY") }}</div>
                    </div>
                    <div class="icon-text-item display-flex video-info">
                        <div class="text" title="총 비디오 수">
                            <i class="fas fa-play-circle"></i> {{ tutorial.totalVideos }} 비디오
                        </div>
                        <div class="text" title="총 플레이 시간">
                            <i class="fas fa-clock"></i> {{ transVideoPlayTime(tutorial.totalVideoPlayTime) }}
                        </div>
                    </div>
                    <div class="icon-text-item display-flex video-info">
                        <div class="text" title="수강자 수">
                            <i class="fas fa-swimmer"></i> {{ tutorial.totalRegisterd }} 명
                        </div>
                    </div>
                    <a v-bind:href="'/tutorial/' + tutorial.slug" class="h5 title">{{ tutorial.title }}</a>
                </div>
            </div>
        </div>
    </div>

    <div v-else class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p v-if="viewOptions.noDataCommentOn && tutorials.length == 0">{{ viewOptions.noDataComment }}</p>

        <ul class="teammember-list">
            <li v-for="tutorial in tutorials" :key="tutorial.id" class="tutorial-item crumina-module crumina-teammembers-item teammember-item--author-in-round">
                <div class="teammembers-thumb">
                    <img :src="tutorial.thumbnail ? tutorial.thumbnail : thumbnailDefault" alt="team member">
                </div>

                <div class="teammember-content">
                    <div class="teammembers-item-prof">{{progressStatus[tutorial.progress_status]}}</div>
                    <a href="#" class="h5 teammembers-item-name">{{ tutorial.title}}
                    </a>

                    <div class="action-button-group c-gray" style="top:0; right:0; margin-bottom:10px;">
                        <a v-if="viewOptions.editBtn" class="edit-button" title="수정" >
                            <i class="fas fa-pen-square"></i>
                        </a>
                        <a v-if="viewOptions.deleteBtn" class="delete-button" title="삭제">
                            <i class="fas fa-minus-square"></i>
                        </a>
                    </div>
                    <div class="tutorial-updated">
                        <i class="fas fa-calendar-alt"></i> {{ moment(tutorial.updated_at.date).format("MMM Do YYYY") }}
                    </div>

                    <p>
                        <i class="fas fa-play-circle"></i> {{ tutorial.totalVideos }} 비디오&nbsp;
                        <i class="fas fa-clock"></i> {{ transVideoPlayTime(tutorial.totalVideoPlayTime) }}&nbsp;
                        <i class="fas fa-swimmer"></i> {{ tutorial.totalRegisterd }} 명
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <template v-if="loadFlag && 'last_page' in pagination && pagination.last_page > 1">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <pagination :for="compName" :pagination="pagination" />
        </div>

    </template>
</div>

</template>

<script>
import eventHub from '../../event.js'
import Pagination from '../Pagination'

export default {
    data () {
        return {
            tutorials:[],
            meta:null,
            links:null,
            pagination: {
                    'current_page':null,
                    'first':null,
                    'from':null,
                    'last':null,
                    'last_page':null,
                    'next':null,
                    'path':null,
                    'per_page':null,
                    'prev':null,
                    'to':null,
                    'total':null
                },
            loadFlag:false,
            backgroundColors:null,
            progressStatus:null,
            viewOptions:{
                deleteBtn:false,
                editBtn:false,
                viewType:'block',
                noDataCommentOn:false,
                noDataComment:'',
                gridClass:'col-lg-6 col-md-6',
            },
            orderType:null,
            category:null,
        }
    },
    computed: {

    },
    components: {
        Pagination
    },
    props: {
        backgroundColorsProp: {
            required: true,
            type: String
        },
        progressStatusProp:{
            required:true
        },
        urlPath: {
            required: true,
            type: String
        },
        compName:{
            required:true,
            type:String
        },
        viewOptionsProp:{
            type:Object
        },
        thumbnailDefault: {
            type: String
        },
        channelLogoDefault: {
            type: String
        },
    },
    updated: function () {
        let self = this
        this.$nextTick(function () {
            //console.log('this is updated')
            if(self.viewOptions.viewType == 'block'){
                $('.curriculum-event[data-mh="'+self.compName+'"]').matchHeight()
            }
        })
    },
    mounted(){
        this.backgroundColors = JSON.parse(this.backgroundColorsProp)
        this.progressStatus = JSON.parse(this.progressStatusProp)

        let self = this
        if(this.viewOptionsProp){
            _.forEach(this.viewOptionsProp, function(value, key) {
                Vue.set(self.viewOptions, key, value)
            });
        }

        this.initLoadTutorials(1)

        eventHub.$on(this.compName+'-pagination', this.pageChange)

        eventHub.$on(this.compName+'-list-view', this.listViewChange)

        eventHub.$on('orderByChange', this.orderByChange)

        eventHub.$on(this.compName+'-cateroy-change', this.interestCategoryChange)
    },
    methods:{
        interestCategoryChange(category){
            //console.log(category)
            this.category = category
            this.loadTutorials(1)
        },
        orderByChange(type){
            //console.log(type)
            this.orderType = type
            this.loadTutorials(1)
        },
        transVideoPlayTime(tseconds){
            let timeString = ''
            let hours = Math.floor(tseconds / 3600)
            let minutes =  Math.floor( (tseconds - (hours * 3600)) / 60 )
            //let seconds = tseconds % 60
            if(hours > 0 ){ // hour
                timeString += hours + ' 시간 '
            }
            if(minutes > 0){
                timeString += minutes + ' 분'
            }
            return timeString
        },
        listViewChange(type){
            if(type != this.viewOptions.viewType){
                this.viewOptions.viewType = type
            }
        },
        classObject: function (index, type) {
            let color = ''
            if(type == 'background'){
                return color = 'c-' + (this.backgroundColors[index % 12]['background'])
            } else if(type=='text'){
                return color = 'c-' + (this.backgroundColors[index % 12]['text'])
            } else if(type== 'overlay'){
                return color = 'overlay--' + (this.backgroundColors[index % 12]['overlay'])
            }
        },
        async initLoadTutorials() {
            await this.loadTutorials(1)
        },
        async loadTutorials(page = 1) {
            let tutorials
            let url = this.urlPath+'?page='+page
            if(this.orderType){
                url = url+'&order='+this.orderType
            }
            if(this.category){
                url = url+'&category='+this.category
            }
            
            tutorials = await axios.get(url)

            if('channel' in tutorials.data){
                _.forEach(tutorials.data.data, function(value, key) {
                    tutorials.data.data[key]['channel'] = tutorials.data.channel
                });
            }
            this.tutorials = tutorials.data.data
            this.meta = tutorials.data.meta
            this.links = tutorials.data.links

            this.paginationSet()
        },
        paginationSet(){
                Vue.set(this.pagination, 'current_page', this.meta.current_page)
                Vue.set(this.pagination, 'first', this.links.first)
                Vue.set(this.pagination, 'from', this.meta.from)
                Vue.set(this.pagination, 'last', this.links.last)
                Vue.set(this.pagination, 'last_page', this.meta.last_page)
                Vue.set(this.pagination, 'next', this.links.next)
                Vue.set(this.pagination, 'path', this.meta.path)
                Vue.set(this.pagination, 'per_page', this.meta.per_page)
                Vue.set(this.pagination, 'prev', this.links.prev)
                Vue.set(this.pagination, 'to', this.meta.to)
                Vue.set(this.pagination, 'total', this.meta.total)
                this.loadFlag = true
        },
        pageChange(page, path){
            this.loadTutorials(page)
        }
    }
}
</script>
