<template>
    <div class="" id="pwd-container">
        <div class="form-group" style="margin-top:30px; margin-bottom:0;" >
            <label for="password">비밀번호</label>
            <input v-model="password" class="password" type="password" id="password" style="margin-bottom:10px;" />
        </div>

        <div v-show="password.length" class="form-group" >
            <span class="font-bold pwstrength_viewport_verdict"></span>
            <span class="pwstrength_viewport_progress"></span>
        </div>

        <div class="form-group" style="margin-top:30px;">
            <label for="password_confirm">비밀번호 확인</label>
            <input type="password" v-model.trim="password_confirm" />
        </div>

        <a @click.prevent="updatePassword" href="" class="btn btn-small btn--green btn--with-shadow " style="width: 200px;"><span class="text">변경하기</span></a>
        <a @click.prevent="previousPageView" href="" class="btn btn-small btn--secondary btn--with-shadow " style="width: 200px;"><span class="text">돌아가기</span></a>

        <div v-if="this.errorMessage != ''" class="summit-message" style="margin-top:50px;">
            <p class="summit-error" v-html="this.errorMessage"></p>
        </div>
    </div>
</template>

<script>
import eventHub from '../../event.js'

export default {
    data(){
        return {
            password:'',
            password_confirm:null,
            errorMessage:''
        }
    },
    props:{
        urlPath: {
            required: true,
            type: String
        },
    },
    updated(){
        let self = this
        this.$nextTick(function () {

        })
    },
    mounted(){
        this.passwordStrength()
    },
    methods:{
        initForm(){
            this.password = ''
            this.password_confirm = null
        },
        setInvalidWord(){
            // name split
            let username = user.name
            let useremail = user.email

            var separators = [' ','.','@', '+', '(', ')', '*', '\\/', ':', '?', '-']//[' ', '\\\+', '-', '\\\(', '\\\)', '\\*', '/', ':', '\\\?', '.' , '@']
            var usernameArray = username.split(new RegExp('[' + separators.join('') + ']', 'g'))
            var useremailArray = useremail.split(new RegExp('[' + separators.join('') + ']', 'g'))

            let invalidWord = _.flatten([usernameArray, useremailArray])
            return invalidWord
        },
        passwordStrength(){
            let invalidWord = this.setInvalidWord()

            let options = {};
            options.ui = {
                container: "#pwd-container",
                viewports: {
                    progress: ".pwstrength_viewport_progress",
                    verdict: ".pwstrength_viewport_verdict"
                }
            };
            options.common = {
                zxcvbn: true,
                zxcvbnTerms: invalidWord
            };
            $('.password').pwstrength(options);
        },
        previousPageView(){
            eventHub.$emit('changeView')
        },
        async updatePassword(){
            this.errorMessage = ''
            //validate check
            if(this.password == ''){
                this.errorMessage = '비밀번호를 입력해주세요'
                return false
            }
            if(this.password_confirm == ''){
                this.errorMessage = '비밀번호 확인을 입력해주세요'
                return false
            }
            if(!confirmPassword(this.password, this.password_confirm)){
                this.errorMessage = '비밀번호가 동일하지 않습니다.'
                return false
            }

            let check = checkPassword(this.password, ['numbers', 'characters'], 6, 20)
            if(!check) {
                this.errorMessage = '비밀번호는 최소 6자이상 20자 이하로 숫자와 문자가 혼합되어야 합니다'
                return false
            }

            let result = await axios.post(this.urlPath, {password: this.password})

            if(result.data.result == 'success'){
                this.errorMessage = '비밀번호가 변경되었습니다'
            } else {
                this.errorMessage = '비밀번호 변경에 실패하였습니다'
            }

            this.initForm()
        }
    }

}
</script>
