<template>
<div class="">
    <div class="form-group" style="margin-top:30px;">
        <label for="title">아이디 변경</label>
        <input type="text" v-model="name" />
        <p class="help-block">아이디 변경시 페이지가 다시 열립니다</p>
    </div>


    <div class="form-group">
        <label for="headImage">프로필 상단 이미지</label>
        <div class="img-container">
            <img :src="getHeadImage()" class="crop-image">
        </div>
        <div class="btn-group image-button-group">
            <a @click.prevent="imageCancel(0)" class="btn btn-small btn--orange-light" style="margin-bottom: 10px; ">이미지 취소
            </a>
            <label title="Upload image file" for="headImage" class="btn btn-small btn--primary">
                <input type="file" accept="image/*" name="headImage" id="headImage" class="hide input-image-file">
                이미지 선택
            </label>
        </div>
        <p class="help-block">옵션사항입니다. 미지정 시 기본 이미지가 보여집니다.</p>
    </div>

    <div class="form-group" style="margin-top:30px;">
        <label for="title">프로필 상단 메세지</label>
        <input type="text" v-model="statusMessage" />
    </div>

    <div class="form-group" style="margin-top:30px;">
        <label for="photoImage">프로필 이미지</label>
        <div class="img-container">
            <img :src="getPhotoImage()" class="crop-image">
        </div>
        <div class="btn-group image-button-group">
            <a @click.prevent="imageCancel(1)" class="btn btn-small btn--orange-light" style="margin-bottom: 10px; ">이미지 취소
            </a>
            <label title="Upload image file" for="photoImage" class="btn btn-small btn--primary">
                <input type="file" accept="image/*" name="photoImage" id="photoImage" class="hide input-image-file">
                이미지 선택
            </label>
        </div>
        <p class="help-block">옵션사항입니다. 미지정 시 기본 이미지가 보여집니다.</p>
    </div>

    <div class="form-group" style="margin-top:30px;">
        <label for="aboutme">기본 소개</label>
        <div class="with-icon comment-text-div">
            <textarea @keyup="textLimit" v-model="aboutme" autofocus="autofocus" name="message" class="comment-text" required="" placeholder="Your Message" style="min-height: 160px;"></textarea>
            <svg class="utouch-icon utouch-icon-edit"><use xlink:href="#utouch-icon-edit"></use></svg>
            <span>{{ aboutmeLen }} / {{ maxLen }}</span>
            <p style="font-size:14px;">마크다운(Markdown <i class="fab fa-markdown"></i>) 지원합니다. # ~ ######: 헤더 h1 ~ h6, >: 인용 Blockquotes, ~~~ 코드블록 ~~~, ` 인라인 코드 블럭 `, * 기울여쓰기(italic) *, ** 굵게쓰기(bold) **, --- 수평선, [Google](http://www.google.co.kr “구글”) : 인라인 링크, &lt;http://google.com/&gt;: URl 링크, 1. list item : 리스트, * list item : 리스트, ![alt text](image_URL): 링크 이미지</p>
        </div>
    </div>

    <div class="form-group" style="margin-top:30px;">
        <label for="job">담당 업무/직무</label>
        <p style="margin-bottom:10px;">Designer, Developer, Web Developer ... </p>
        <input type="text" v-model="job" />
    </div>

    <a @click.prevent="updateProfile" href="" style="width: 200px;" class="btn btn-small btn--green btn--with-shadow "><span class="text">업데이트</span></a>
    <a @click.prevent="previousPageView" href="" style="width: 200px;" class="btn btn-small btn--secondary btn--with-shadow "><span class="text">돌아가기</span></a>

    <div v-if="this.errorMessage != ''" class="summit-message" style="margin-top:50px;">
        <p class="summit-error" v-html="this.errorMessage"></p>
    </div>
</div>
</template>

<script>
import eventHub from '../../event.js'

export default {
    data(){
        return {
            name:null,
            aboutme:null,
            statusMessage:null,
            photo:null,
            job:null,
            headImage:null,
            images:[],
            croppers:[],
            inputImage:[],
            defaultImage:[],
            waveHeadImage:null,
            waveProfileImage: null,
            cropOptions: {},
            getOptions:{},
            cropperImages:['waveHeadImage', 'wavePhotoImage'],
            headDefault: '/img/profile/wave-top-image.jpg',
            photoDefault: '/img/profile/default.png',
            maxLen: 500,
            aboutmeLen:null,
            errorMessage:null,
            cropperLoad:false
        }
    },
    props: {
        userInfo:{
            required:true,
            type:Object
        },
        urlPath: {
            required: true,
            type: String
        }
    },
    updated: function() {
        let self = this
        this.$nextTick(function () {
            self.runCropInit()
        })
    },
    mounted(){
        let self = this
        this.name = this.userInfo.name
        this.aboutme = this.userInfo.aboutme
        this.statusMessage = this.userInfo.status_message
        this.job = this.userInfo.job
        this.photo = this.userInfo.photo
        this.headImage = this.userInfo.head_image
        if(this.userInfo.head_image)
            this.defaultImage.push(this.userInfo.head_image)
        else
            this.defaultImage.push(this.headDefault)
        if(this.userInfo.photo)
            this.defaultImage.push(this.userInfo.photo)
        else
            this.defaultImage.push(this.photoDefault)

        // Images get
        this.images = document.querySelectorAll('.crop-image')
        // get Imput images
        this.inputImage = document.querySelectorAll('.input-image-file')
        // set options
        this.getOptions = {
            waveHeadImage :{
                width: 1920,
                height: 358,
                minWidth: 150,
                minHeight: 150,
                maxWidth: 2000,
                maxHeight: 1000,
                imageSmoothingEnabled: false,
                imageSmoothingQuality: 'high'
            },
            wavePhotoImage: {
                width: 120,
                height: 120,
                minWidth: 30,
                minHeight: 30,
                maxWidth: 500,
                maxHeight: 500,
                imageSmoothingEnabled: false,
                imageSmoothingQuality: 'high'
            }
        }
        this.cropOptions = { waveHeadImage: {
              aspectRatio: 5.363,
              viewMode: 2,
              highlight:true,
              modal:false,
              autoCropArea: 1,
              minCanvasWidth:100,
              minCanvasHeight:100,
              minCropBoxWidth:100,
              minCropBoxHeight:100,
              ready: function (e) {
                  self.getImageCrop(0, self.getOptions['waveHeadImage'])
              },
              cropstart: function (e) {},
              cropmove: function (e) {},
              cropend: function (e) {
                  self.getImageCrop(0, self.getOptions['waveHeadImage'])
              },
              crop: function (e) {},
              zoom: function (e) {}
          },
          wavePhotoImage: {
              aspectRatio: 1,
              viewMode: 2,
              highlight:true,
              modal:false,
              autoCropArea: 1,
              minCanvasWidth:30,
              minCanvasHeight:30,
              minCropBoxWidth:30,
              minCropBoxHeight:30,
              ready: function (e) {
                  self.getImageCrop(1, self.getOptions['wavePhotoImage'])
              },
              cropstart: function (e) {},
              cropmove: function (e) {},
              cropend: function (e) {
                  self.getImageCrop(1, self.getOptions['wavePhotoImage'])
              },
              crop: function (e) {},
              zoom: function (e) {}
          }
        }
    },
    methods: {
        previousPageView(){
            eventHub.$emit('changeView')
        },
        getHeadImage(){
            return this.userInfo.head_image ? this.userInfo.head_image : this.headDefault
        },
        getPhotoImage(){
            return this.userInfo.photo ? this.userInfo.photo : this.photoDefault
        },
        formValid(){
            var errorChk = true
            this.errorMessage = ''

            this.name = _.trim(this.name)
            if(this.name == '' ){
                errorChk = false
                this.errorMessage = '아이디를 작성해주세요'
                return false
            }

            if(this.name.length < 2 || this.name.length > 20 ){
                errorChk = false
                this.errorMessage = '아이디는 2자 이상 20자 이하로 입력해주세요'
                return false
            }
            this.statusMessage = _.trim(this.statusMessage)
            this.aboutme = _.trim(this.aboutme)

            this.errorMessage = '업데이트 중 ...'
            return errorChk
        },
        async updateProfile(){
            this.errorMessage = ''
            if(!this.formValid()){
                return false
            }

            let data = new FormData();
            data.append('name', this.name)
            data.append('status_message', this.statusMessage)
            data.append('aboutme', this.aboutme)
            data.append('job', this.job)
            // image set
            if(this.inputImage[0].value && this.waveHeadImage != null){ //head image
                data.append('head_image', this.waveHeadImage)
            }

            if(this.inputImage[1].value && this.waveProfileImage != null){ //logo image
                data.append('photo', this.waveProfileImage)
            }

            let response = await axios.post(this.urlPath+'/edit', data, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            })

            this.afterUpdate(response)
        },
        afterUpdate(response){
            if(response.data.result == 'success'){
                if(this.name != this.userInfo.name){
                    this.errorMessage = '업데이트 완료. 페이지가 다시 열립니다. 기다려주세요.'
                    setTimeout(function(){ window.location.href = "/wave/"+ response.data.user.slug}, 1500);
                } else {
                    this.errorMessage = '업데이트 완료'
                    // 업데이트 이벤트 발생
                    eventHub.$emit('profileUpdate', response.data.user)
                }
            } else if(response.data.result == 'error') {
                this.errorMessage = '업데이트 실패. 다시 시도해 주세요.'

                if('errors' in response.data){
                  this.errorMessage = ''
                  let message = ''
                  _.forEach(response.data.errors, function(value, key) {
                        message += value
                        message += '<br>'
                   });
                   this.errorMessage = message
                }
            }
        },
        textLimit(){
            if(this.aboutme.length > this.maxLen)
                this.aboutme = this.aboutme.substring(0, this.maxLen)

            this.aboutmeLen = this.aboutme.length
        },
        runCropInit(){
            let self = this
            // cropper set
            let length = this.images.length

            for (let i = 0; i < length; i++) {
                //this.croppers.push(new Cropper(this.images[i], this.cropOptions[this.cropperImages[i]]));

                if(!this.cropperLoad){
                    this.croppers[i] = new Cropper(this.images[i], this.cropOptions[this.cropperImages[i]]);
                }

                this.inputImage[i].onchange = function () {
                  let files = this.files;
                  let file;
                  let URL = window.URL || window.webkitURL;

                  if (self.croppers[i] && files && files.length) {
                        file = files[0];

                        if (/^image\/\w+/.test(file.type)) {
                            console.log(file.size)
                            console.log(file.size / (1024 * 1024))
                          self.images[i].src = URL.createObjectURL(file);
                          self.croppers[i].destroy();
                          self.croppers[i] = new Cropper(self.images[i], self.cropOptions[self.cropperImages[i]]);
                          //self.croppers[i].getCroppedCanvas(self.getOptions[self.cropperImages[i]]);
                        } else {
                          window.alert('이미지 파일을 선택해 주세요.');
                        }
                  }
              }
              //this.croppers[i].getCroppedCanvas(this.getOptions[this.cropperImages[i]]);
            }
            this.cropperLoad = true
        },
        getImageCrop(index, option){
            let self = this
            this.croppers[index].getCroppedCanvas(option).toBlob(function (blob) {
                if(index == 0)
                    self.waveHeadImage = blob
                else
                    self.waveProfileImage = blob
            })
        },
        imageCancel (num) {
            this.resetInputImage(num)
        },
        resetInputImage(num){
            this.images[num].src = this.defaultImage[num];
            this.croppers[num].destroy();
            this.croppers[num] = new Cropper(this.images[num], this.cropOptions[this.cropperImages[num]]);
            //this.croppers[num].getCroppedCanvas(this.getOptions[this.cropperImages[num]]);
            this.inputImage[num].value = null;
            if(num == 0)
                this.waveHeadImage = null
            else
                this.waveProfileImage = null
        },

    }

}
</script>
