<template>
    <div class="">
        <div v-if="viewOptions.noDataCommentOn && projectsProp.length == 0">
            <p>{{ viewOptions.noDataComment }}</p>
        </div>

        <ul class="project-list" style="margin-top:30px;">
            <li v-for="(project, index) in projects" :key="index" class="crumina-module crumina-teammembers-item teammember-item--author-in-round">
                <div class="row">
                    <div class="col-md-2">
                        <div class="project-title">
                            {{ project.name }}
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="project-description">
                            {{project.description}}
                        </div>

                        <div class="project-roles">
                            {{project.roles}}
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="project-tags">
                            {{project.tags}}
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="project-period">
                            {{project.start}} {{project.end}}
                        </div>

                        <div class="project-action-buttons" v-if="owner">
                            <a v-bind:id="'editBtn'+index" v-if="viewOptions.editBtn" @click.prevent="editTech(project, index)" title="수정" class="c-gray">
                                <i class="fas fa-pen-square"></i>
                            </a>
                            <a v-if="viewOptions.deleteBtn" @click.prevent="deleteTech(project)" title="삭제" class="c-gray">
                                <i class="fas fa-window-close"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </li>
        </ul>

        <a v-if="owner && loaded" @click.prevent="addProjectFormView" href="" class="btn btn-small btn--yellow btn--with-shadow" style="width: 250px; margin-top:30px;"><i class="fas fa-plus"></i> 기술 추가</a>

        <div v-if="owner && loaded" class="add-form" style="display:none;">
            <div class="form-group" style="margin-top:50px;">
                <label for="title">기술 선택</label>
                <v-select @input="projectSelected" v-model="projectSelect" :options="options" multiple taggable label="name" >
                    <template slot="option" slot-scope="option">
                        <span v-if="option.name != '기타'" :class="'devicon-'+option.name+'-'+option.versions.font[0] + ' colored'"></span>
                        <span v-else :class="option.versions.font[0]"></span>
                        {{ option.name }}
                    </template>
                </v-select>
            </div>

            <div v-if="techNameView" class="form-group" style="margin-top:30px;">
              <label for="title">기술명</label>
              <input type="text" v-model="techName" />
            </div>

            <div class="form-group" style="margin-top:30px;">
              <label for="title">기술 수준</label>
              <input type="text" id="tech-slider" name="tech-slider" value="" />
              <p style="margin-top:10px;">{{techLevelDesc}}</p>
            </div>

            <a @click.prevent="addTech" href="" class="btn btn-small btn--green-light btn--with-shadow" style="width: 200px;">저 장 </a>
            <a @click.prevent="addTechCancel" href="" class="btn btn-small btn--secondary btn--with-shadow" style="width: 200px; margin-left:10px;">취 소</a>

            <p v-if="addTechMessage != ''" style="margin-top:20px;">{{addTechMessage}}</p>
        </div>


    </div>
</template>

<script>
import eventHub from '../../event.js'

export default {
    data () {
        return {
            projects:[],
            viewOptions:{
                editBtn:true,
                deleteBtn:true,
                noDataCommentOn:false,
                noDataComment:''
            },
            loaded:false,
            options: [],
            projectSelect:null,
        }
    },
    computed:{

    },
    props: {
        viewOptionsProp:{
            type:Object
        },
        owner:{
            type:Boolean
        },
        urlPath: {
            required: true,
            type: String
        },
        projectsProp: {
            required: true,
            type: Object
        }
    },
    mounted(){
        let self = this
        if(this.viewOptionsProp){
            _.forEach(this.viewOptionsProp, function(value, key) {
                Vue.set(self.viewOptions, key, value)
            });
        }

        // get projects
        _.forEach(this.projectsProp, function(value, key) {
            self.projects.unshift(value)
        });

        axios.get('/plugins/devicon/devicon.json')
        .then(res => {
            this.options = res.data//JSON.parse(res.data)
            this.loaded = true
        })
        .catch(e => {
            console.log(e)
        })

    },
    methods: {
        addProjectCancel(){
            $('.add-form').css('display', 'none')
            this.initComponent()
        },
        addProjectFormView(){
            $('.add-form').css('display', 'block')
        },
        projectSelected(obj){

        }
    }

}
</script>
