<template>
    <div class="">
        <div class="description-toggle" style="margin-top:30px;">
			<div class="description-toggle-content">
				<div class="h6">개인 연락처 정보 보이기</div>
				<p>이메일, 전화번호 및 사이트 정보가 보여집니다</p>
			</div>

			<div class="togglebutton">
				<label>
					<input v-model="settings.contacts" type="checkbox" checked=""><span class="toggle"></span>
				</label>
			</div>
		</div>

        <div class="description-toggle" style="margin-top:30px;">
			<div class="description-toggle-content">
				<div class="h6">개인 메세지 수신 기능</div>
				<p>개인적인 메세지를 받아볼 수 있습니다</p>
			</div>

			<div class="togglebutton">
				<label>
					<input v-model="settings.messageForm" type="checkbox" checked=""><span class="toggle"></span>
				</label>
			</div>
		</div>

        <div class="description-toggle" style="margin-top:30px;">
			<div class="description-toggle-content">
				<div class="h6">개인 SNS 링크 보이기</div>
				<p>내가 등록한 SNS 리스트가 보여집니다</p>
			</div>

			<div class="togglebutton">
				<label>
					<input v-model="settings.sns" type="checkbox" checked=""><span class="toggle"></span>
				</label>
			</div>
		</div>

        <div class="description-toggle" style="margin-top:30px;">
			<div class="description-toggle-content">
				<div class="h6">운영 채널 보이기</div>
				<p>내가 운영중인 채널의 리스트가 보여집니다</p>
			</div>

			<div class="togglebutton">
				<label>
					<input v-model="settings.mychannels" type="checkbox" checked=""><span class="toggle"></span>
				</label>
			</div>
		</div>

        <div class="description-toggle" style="margin-top:30px;">
			<div class="description-toggle-content">
				<div class="h6">운영 강좌 보이기</div>
				<p>내가 운영중인 강좌의 리스트가 보여집니다</p>
			</div>

			<div class="togglebutton">
				<label>
					<input v-model="settings.mytutorials" type="checkbox" checked=""><span class="toggle"></span>
				</label>
			</div>
		</div>

        <div class="description-toggle" style="margin-top:30px;">
			<div class="description-toggle-content">
				<div class="h6">구독 채널 보이기</div>
				<p>내가 구독중인 채널의 리스트가 보여집니다</p>
			</div>

			<div class="togglebutton">
				<label>
					<input v-model="settings.subscribedChannels" type="checkbox" checked=""><span class="toggle"></span>
				</label>
			</div>
		</div>

        <div class="description-toggle" style="margin-top:30px;">
			<div class="description-toggle-content">
				<div class="h6">등록 강좌 보이기</div>
				<p>내가 등록하여 시청중인 강좌의 리스트가 보여집니다</p>
			</div>

			<div class="togglebutton">
				<label>
					<input v-model="settings.registeredTutorials" type="checkbox" checked=""><span class="toggle"></span>
				</label>
			</div>
		</div>

        <div class="description-toggle" style="margin-top:30px;">
			<div class="description-toggle-content">
				<div class="h6">관심 강좌 보이기</div>
				<p>내가 관심 강좌로 등록한 강좌의 리스트가 보여집니다</p>
			</div>

			<div class="togglebutton">
				<label>
					<input v-model="settings.interestTutorials" type="checkbox" checked=""><span class="toggle"></span>
				</label>
			</div>
		</div>


        <div class="description-toggle" style="margin-top:30px;">
			<div class="description-toggle-content">
				<div class="h6">보유 기술 보이기</div>
				<p>내가 등록한 보유 기술이 보여집니다</p>
			</div>

			<div class="togglebutton">
				<label>
					<input v-model="settings.tech" type="checkbox" checked=""><span class="toggle"></span>
				</label>
			</div>
		</div>

        <div class="description-toggle" style="margin-top:30px;">
			<div class="description-toggle-content">
				<div class="h6">팔로우 유저 보이기</div>
				<p>내가 팔로우 중인 유저 리스트가 보여집니다</p>
			</div>

			<div class="togglebutton">
				<label>
					<input v-model="settings.follows" type="checkbox" checked=""><span class="toggle"></span>
				</label>
			</div>
		</div>


        <div class="description-toggle" style="margin-top:30px;">
			<div class="description-toggle-content">
				<div class="h6">채널 관리자 보이기</div>
				<p>내가 속한 채널의 관리자들이 페이지에 나타납니다</p>
			</div>

			<div class="togglebutton">
				<label>
					<input v-model="settings.chAdmins" type="checkbox" checked=""><span class="toggle"></span>
				</label>
			</div>
		</div>

        <a @click.prevent="updateSettings" href="" class="btn btn-small btn--green btn--with-shadow " style="width: 200px;"><span class="text">변경하기</span></a>
        <a @click.prevent="previousPageView" href="" class="btn btn-small btn--secondary btn--with-shadow " style="width: 200px;"><span class="text">돌아가기</span></a>

        <div v-if="this.errorMessage != ''" class="summit-message" style="margin-top:20px;">
            <p class="summit-error" v-html="this.errorMessage"></p>
        </div>
    </div>
</template>

<script>
import eventHub from '../../event.js'

export default {
    data () {
        return {
            settings:{
                careers:true,
                chAdmins:true,
                contacts:true,
                follows:true,
                messageForm:true,
                mychannels:true,
                mytutorials:true,
                project:true,
                registeredTutorials:true,
                sns:true,
                subscribedChannels:true,
                tech:true,
                interestTutorials:true
            },
            errorMessage:''
        }
    },
    props:{
        urlPath: {
            required: true,
            type: String
        },
        settingsProp:{
            required:true
        }
    },
    mounted(){
        let self = this

        //let settings = JSON.parse(user.options)

        _.forEach(this.settingsProp, function(value, key) {
            Vue.set(self.settings, key, value)
        });
    },
    methods:{
        previousPageView(){
            eventHub.$emit('changeView')
        },
        async updateSettings(){
            this.errorMessage = ''

            let result = await axios.post(this.urlPath, this.settings)
            let self = this
            if(result.data.result == 'success'){
                this.errorMessage = '설정이 변경되었습니다'

                eventHub.$emit('userSettingsUpdate', this.settings)

                setTimeout(function(){ self.errorMessage = '' }, 5000);
            } else {
                this.errorMessage = '설정 변경에 실패하였습니다'
            }
        }
    }
}
</script>
