<template>
    <div class="">
        <div v-if="viewOptions.noDataCommentOn && techs.length == 0">
            <p>{{ viewOptions.noDataComment }}</p>
        </div>

        <div v-show="mainView == 'tech-tags'" class="w-tags tech-tags">
            <ul class="tags-list">
                <li v-for="(tech, index) in techs" :key="tech.name">
                    <a v-bind:title="'레벨: ' + tech.level"><i class="" v-bind:class="tech.class"></i> {{tech.name}}</a>
                </li>
            </ul>
        </div>


        <ul v-show="mainView == 'tech-detail'" class="tech-list tech-detail" style="margin-top:30px; display:none;">
            <li v-for="(tech, index) in techs" :key="tech.name" class="crumina-module crumina-teammembers-item teammember-item--author-in-round">
                <div class="row">
                    <div class="col-md-2">
                        <div class="tech-icon-image" :title="tech.name">
                            <i class="" v-bind:class="tech.class"></i>
                        </div>
                    </div>

                    <div class="" v-bind:class="{'col-md-4': owner && (viewOptions.editBtn || viewOptions.deleteBtn), 'col-md-6': !owner && !viewOptions.editBtn && !viewOptions.deleteBtn}">
                        <div class="tech-tags">
                            <span>{{tech.name}}</span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div v-show="index != techEditIndex" class="tech-content skills-item">
                            <div class="skills-item-info">
                                <span class="skills-item-title">{{tech.level}}</span>
                                <span class="skills-item-count"><span class="count-animate" data-speed="1000" data-refresh-interval="50" data-to="5" data-from="0"></span></span>
                            </div>
                            <div class="skills-item-meter">
                                <span class="skills-item-meter-active bg-yellow" v-bind:style="{width: tech.level * 20 + '%'}"></span>
                            </div>
                        </div>

                        <div v-show="index == techEditIndex" class="form-group" >
                            <input type="text" v-bind:id="'tech-slider'+index" name="tech-slider" value="" />
                            <div class="tech-edit-buttons">
                                <a @click.prevent="editRunTech(tech, index)" title="수정" class="btn btn-small btn--green-light btn--with-shadow">
                                    수정
                                </a>
                                <a @click.prevent="cancelEdit" title="삭제" class="btn btn-small btn--secondary btn--with-shadow">
                                    취소
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2 tech-action-buttons" v-if="owner">
                        <a v-bind:id="'editBtn'+index" v-if="viewOptions.editBtn" @click.prevent="editTech(tech, index)" title="수정" class="c-gray">
                            <i class="fas fa-pen-square"></i>
                        </a>
                        <a v-if="viewOptions.deleteBtn" @click.prevent="deleteTech(tech)" title="삭제" class="c-gray">
                            <i class="fas fa-window-close"></i>
                        </a>
                    </div>
                </div>

            </li>
        </ul>

        <a v-if="owner && loaded" @click.prevent="addTechFormView" href="" class="btn btn-small btn--yellow btn--with-shadow" style="width: 250px; margin-top:30px;"><i class="fas fa-plus"></i> 기술 추가</a>

        <div v-if="owner && loaded" class="add-form" style="display:none;">
            <div class="form-group" style="margin-top:50px;">
                <label for="title">기술 선택</label>
                <v-select @input="techSelected" v-model="techSelect" :options="options" label="name" >
                    <template slot="option" slot-scope="option">
                        <span v-if="option.name != '기타'" :class="'devicon-'+option.name+'-'+option.versions.font[0] + ' colored'"></span>
                        <span v-else :class="option.versions.font[0]"></span>
                        {{ option.name }}
                    </template>
                    <template slot="selected-option" slot-scope="option">
                      <div class="selected d-center">
                          <span v-if="option.name != '기타'" :class="'devicon-'+option.name+'-'+option.versions.font[0] + ' colored'"></span>
                          <span v-else :class="option.versions.font[0]"></span>
                          {{ option.name }}
                      </div>
                    </template>
                </v-select>
            </div>

            <div v-if="techNameView" class="form-group" style="margin-top:30px;">
              <label for="title">기술명</label>
              <input type="text" v-model="techName" />
            </div>

            <div class="form-group" style="margin-top:30px;">
              <label for="title">기술 수준</label>
              <input type="text" id="tech-slider" name="tech-slider" value="" />
              <p style="margin-top:10px;">{{techLevelDesc}}</p>
            </div>

            <a @click.prevent="addTech" href="" class="btn btn-small btn--green-light btn--with-shadow" style="width: 200px;">저 장 </a>
            <a @click.prevent="addTechCancel" href="" class="btn btn-small btn--secondary btn--with-shadow" style="width: 200px; margin-left:10px;">취 소</a>

            <p v-if="addTechMessage != ''" style="margin-top:20px;">{{addTechMessage}}</p>
        </div>


    </div>
</template>

<script>
import eventHub from '../../event.js'


export default {
    data () {
        return {
            techs:[],
            viewOptions:{
                noDataCommentOn:false,
                noDataComment:''
            },
            options: [],
            loaded:false,
            techSelect:null,
            techLevelDesc:'',
            techLevSelect:2.5,
            techNameView:false,
            techName:null,
            techClass:null,
            addTechMessage:'',
            techEditIndex:null,
            valueArray: [
                1, 1.5,
                2, 2.5,
                3, 3.5,
                4, 4.5,
                5
            ],
            mainView:'tech-tags'
        }
    },
    components:{

    },
    computed:{

    },
    props: {
        techBrands:{
            type:String
        },
        viewOptionsProp:{
            type:Object
        },
        owner:{
            type:Boolean
        },
        urlPath: {
            required: true,
            type: String
        },
        techsProp: {
            required: true,
            type: Object
        }
    },
    updated: function () {
        let self = this
        let $progress_bar = $('.skills-item')

        this.$nextTick(function () {
            self.initTechSlider('', 3)

            $progress_bar.each(function () {
                jQuery(this).waypoint(function () {
                    $(this.element).find('.count-animate').countTo();
                    $(this.element).find('.skills-item-meter-active').fadeTo(300, 1).addClass('skills-animate');
                    this.destroy();
                }, {offset: '90%'});
            });
        })
    },
    mounted(){
        let self = this

        eventHub.$on('tech:changeView', this.changeView)

        if(this.viewOptionsProp){
            _.forEach(this.viewOptionsProp, function(value, key) {
                Vue.set(self.viewOptions, key, value)
            });
        }

        _.forEach(this.techsProp, function(value, key) {
            self.techs.unshift(value)
        });
        //this.techs = this.techsProp

        // get icons
        axios.get('/plugins/devicon/devicon.json')
        .then(res => {
            this.options = res.data//JSON.parse(res.data)
            this.loaded = true
        })
        .catch(e => {
            console.log(e)
        })
    },
    methods: {
        changeView(){
            if(this.mainView == 'tech-detail'){
                this.mainView = 'tech-tags'
                $('#detailTechViewButton').html('<i class="fas fa-glasses"></i> 상세 보기')
            } else {
                this.mainView = 'tech-detail'
                $('#detailTechViewButton').html('<i class="fas fa-glasses"></i> 간략히 보기')
            }
        },
        addTechCancel(){
            $('.add-form').css('display', 'none')
            this.initComponent()
        },
        addTechFormView(){
            $('.add-form').css('display', 'block')
        },
        initComponent(){
            this.techEditIndex = null
            this.techName = null
            this.techClass = null
            this.addTechMessage = ''

            // slider init
            var slider = $("#tech-slider").data("ionRangeSlider");
            slider.reset();
            this.techLevSelect = 2.5
        },
        cancelEdit(){
            this.techEditIndex = null
        },
        async deleteTech(tech){
            let response = await axios.post(this.urlPath+'/delete', {name: tech.name})

            this.techs.map((tech2, index) => {
                if(tech2.name === tech.name) {
                    this.techs.splice(index, 1)
                    return;
                }
            });

            this.initComponent()
        },
        async editRunTech(tech, index){
            let response = await axios.post(this.urlPath+'/edit', {name: tech.name, level:this.techLevSelect})

            let tech2 = this.techs.find((tech2) => {
                return tech2.name === tech.name
            })
            tech2.level = response.data.level

            this.initComponent()
        },
        editTech(tech, index){
            this.techEditIndex = index
            this.techLevSelect = tech.level
            let levelIndex = this.valueArray.indexOf(tech.level);
            this.initTechSlider(index, levelIndex)
        },
        existCheck(){
            let tech = _.find(this.techs, {name:this.techName})
            if(tech)
                return true
            else
                return false
        },
        addTech(){
            this.addTechMessage = ''

            if(this.existCheck()){
                this.addTechMessage = '이미 리스트에 있습니다'
                return false
            }

            if(_.trim(this.techName) == ''){
                this.addTechMessage = '기술명을 선택 또는 작성해주세요'
                return false
            }
            if(_.trim(this.techClass) == ''){
                this.addTechMessage = '오류가 발생하였습니다. 다시 시도해 주세요'
                return false
            }
            if(this.techLevSelect == ''){
                this.addTechMessage = '오류가 발생하였습니다. 다시 시도해 주세요'
                return false
            }

            this.sendTechToServer()
        },
        async sendTechToServer(){
            let response = await axios.post(this.urlPath, {name: this.techName, class:this.techClass, level:this.techLevSelect})

            this.techs.unshift(response.data)

            this.initComponent()

            this.addTechMessage = '추가되었습니다'
        },
        initTechSlider(index = '', level = 3){
            let self = this
            let index2 = index
            $("#tech-slider"+index).ionRangeSlider({
                grid: true,
                from: level,
                values: [
                    1, 1.5,
                    2, 2.5,
                    3, 3.5,
                    4, 4.5,
                    5
                ],
                onFinish: function (data) {
                    self.techLevSelect = data.from_value
                    if(index2 == ''){
                        if(self.techLevSelect == 1){
                            self.techLevelDesc = '이제 시작 했어요'
                        } else if(self.techLevSelect == 1.5){
                            self.techLevelDesc = '재밌게 배우고 있어요'
                        } else if(self.techLevSelect == 2){
                            self.techLevelDesc = '오호 기본은 이제 끝'
                        } else if(self.techLevSelect == 2.5){
                            self.techLevelDesc = '실제 적용도 조금씩'
                        } else if(self.techLevSelect == 3){
                            self.techLevelDesc = '편하게 사용 중'
                        } else if(self.techLevSelect == 3.5){
                            self.techLevelDesc = '프로젝트 적용 중'
                        } else if(self.techLevSelect == 4){
                            self.techLevelDesc = '심화 기능까지 능숙'
                        } else if(self.techLevSelect == 4.5){
                            self.techLevelDesc = '나는 전문가'
                        } else if(self.techLevSelect == 5){
                            self.techLevelDesc = '어밴져스~급'
                        }
                    }
                }
            })

        },
        techSelected(obj){
            if(obj.name == '기타'){
                this.techNameView = true
                this.techName = ''
                this.techClass = obj.versions.font[0]
            } else {
                this.techNameView = false
                this.techName = obj.name
                this.techClass = 'devicon-'+obj.name+'-'+obj.versions.font[0]+ ' colored'
            }

            console.log(obj)
        }
    }

}
</script>
