/*logo*/
.site-logo img{
width:220px;
}

/* footer */
.w-info p {
    margin: .5em 0;
}
.footer .site-logo img{
    margin-left: -30px;
    width: 250px;
}
.footer .w-follow{
    ul{
        li{
            margin-right: 7px;
            a{
                font-size: 30px;
                &:hover{
                    border-color: transparent;
                    -webkit-box-shadow: 5px 0 10px 0 rgba(0, 131, 255, 0.3);
                    box-shadow: 5px 0 10px 0 rgba(0, 131, 255, 0.3);
                }
            }
        }
    }
}

.primary-menu-menu > li > a {
    font-size: 16px;
}
a:focus, a:hover {
    text-decoration: none;
}
.btn.focus, .btn:focus, .btn:hover{
    /*color:#fff;*/
    opacity:0.7;
}
input[type=checkbox]{
  box-shadow: none;
}

.login-links .btn{
    padding-left: 10px;
    padding-right: 10px;
}

.or {
    position: relative;
    width: 100%;
    height: 1px;
    margin: 1rem 0 2rem;
    background-color: #e6ecf5;
}
.or:after {
    content: 'OR';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 0 25px;
    font-size: 10px;
    z-index: 5;
}
.or.none:after{
    content:'';
}
.or.social:after {
    content: 'SNS Login';
    font-size: 13px;
}
.or.notice:after {
    content: '새로운 알림';
    font-size: 13px;
}
/* overlay */
.curriculum-event{
    .overlay--dark{
        background-color: rgba(18, 25, 33, 0.5);
    }
}
/* 404 */
.page404 .site-logo{
    top:unset;
}
.page404-content{
    bottom:0;
}
/* social Button */
.btn-github {
    color: #fff;
    background-color: #444;
    border: 1px solid #d8e1ec;
    &:hover{
        background-color: #444;
    }
}
.btn-bitbucket {
    color: #fff;
    background-color: #205081;
    border: 1px solid #d8e1ec;
    &:hover{
        background-color: #205081;
    }
}
.btn-facebook {
    color: #fff;
    background-color: #3b5999;
    border: 1px solid #d8e1ec;
    &:hover{
        background-color: #3b5999;
    }
}
.btn-linkedin {
    color: #fff;
    background-color: #0077B5;
    border: 1px solid #d8e1ec;
    &:hover{
        background-color: #0077B5;
    }
}
.btn-twitter {
    color: #fff;
    background-color: #55acee;
    border: 1px solid #d8e1ec;
    &:hover{
        background-color: #55acee;
    }
}
.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border: 1px solid #d8e1ec;
    &:hover{
        background-color: #dd4b39;
    }
}
.btn-social {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-block {
    display: block;
    width: 100%;
}
.social-btn-group{
    .btn-social-icon {
        margin: 0 10px 0 0 !important;
    }
    .social-icon{
        width: 35px;
        height: 35px;
        font-size: 35px;
        line-height: 35px;
        &:not(:last-child){
            margin-right:10px;
        }
        &:hover {
            border-color: transparent;
            box-shadow: 5px 0 10px 0 rgba(0, 131, 255, 0.3);
        }
    }
}
.btn-social-icon {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
    width: 34px;
    padding: 0;
    &:hover {
        color: #fff;
        border-color: transparent;
        box-shadow: 5px 0 10px 0 rgba(0, 131, 255, 0.3);
    }
}
.btn-social-icon>:first-child {
    border: none;
    text-align: center;
    width: 100% !important;
}
.btn-social-icon>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    /*border-right: 1px solid rgba(0,0,0,0.2);*/
}

.share-product .social__item span{
    color:white;
    &.utouch-icon{
        height: 32px;
        line-height: 32px;
        width: 32px;
        font-size: 22px;
        fill: #fff;
    }
}
.socials.socials-share{
    &.socials--round {
        .social__item{
            width: 40px;
            height: 40px;
            line-height: 40px;
            border:none;
            &:hover{
                cursor: pointer;
            }
            span.utouch-icon{
                color: white;
                height: 40px;
                width: 40px;
                line-height: 40px;
                font-size: 23px;
            }
        }
    }
}


/* Button */
.btn-default{
    color:#333;
    &.btn{
        color:#333;
    }
}
.action-button-group{
    &:not(.normal){
        position: absolute;
        top: 5px;
        right: 5px;
        z-index:99;
    }
    a {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 30px;
        color: white;
        &:hover{
            opacity: 0.7;
            cursor: pointer;
        }
    }
    &.c-gray{
        a{
            color:#6987ab;
        }
    }
}

.channel-form .form-group{
    margin-bottom:50px;
}
.image-button-group {
    margin-top:10px;
}
.form-group label:not(.btn){
    font-size: 1.2em;
}

/* shine button */
.blinking{
-webkit-animation:blink 3s ease-in-out 3 alternate;
-moz-animation:blink 3s ease-in-out 3 alternate;
animation:blink 3s ease-in-out 3 alternate;
}
@-webkit-keyframes blink{
0% {opacity:0;}
100% {opacity:1;}
}
@-moz-keyframes blink{
0% {opacity:0;}
100% {opacity:1;}
}
@keyframes blink{
0% {opacity:0;}
100% {opacity:1;}
}

/* Search */
.search-full-screen .search-standard .close{
    opacity:1;
}

/* video embed */
.embed-container {
    position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}
#menu-hide{
    position:fixed;
    top: 47px;
    right: 30px;
    width: 45px;
    height: 45px;
    padding:0;
    font-size: 20px;
}
#menu-hide i{
    vertical-align: middle;
    line-height:45px;
}
.curriculum-list {
    .overlay-curriculum{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        background: #70e1f5;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        opacity:0.4;
        z-index: 0;
        .overlay-curriculum-first{
            height:100%;
            display: inline-block;
            float:left;
        }
        .overlay-curriculum-second{
            height:100%;
            display: inline-block;
            float:left;
            z-index: 1;
            background: #fff;
        }
    }
    li {
        padding-top:20px;
        padding-bottom:20px;
        .before{
            content: '';
            display: block;
            height: 100%;
            width: 6px;
            background-color: #0083ff;
            left: 0;
            top: 0;
            position: absolute;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            z-index: 3;
            opacity: 0;
        }
        &:hover{
            .before{
                opacity: 0.7;
                cursor: pointer;
                &:hover{
                    width: 20px;
                }
            }
        }
        &.curr-watch .before{
            content: '';
            display: block;
            height: 100%;
            width: 6px;
            background-color: rgba(1, 162, 160, 1);
            left: 0;
            top: 0;
            position: absolute;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            z-index: 3;
            opacity: 0.7;
            cursor: pointer;
        }
        &.curr-watch .before:hover{
            width: 20px;
        }
    }
    .lection, .lection-time{
        z-index:2;
    }
}
.curriculum-list-in-video{
    margin-top:30px;

    &.curriculum-list li{
        padding: 5px 7px;

        &.read:before{
            content: '';
            display: block;
            height: 100%;
            width: 6px;
            background-color: #01a23c;
            left: 0;
            top: 0;
            position: absolute;
            opacity: 1;
        }
    }
    &.curriculum-list .title {
        font-size: 14px;
        margin-right: 10px;
    }

    .lection-time{
        font-size: 13px;
    }

    i{
        margin-right: 5px;
    }
}

/* video vote */
.post__comments a.voted{
    color: #0083ff !important;
}

/* Friends overlay images */
.friends-harmonic {
    margin-bottom: 0;
    margin-top:0;
    overflow: hidden;
    li {
        float: left;
        padding-left: 0;
        &:first-child a {
            margin-left: 0;
        }
    }
    a {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        overflow: hidden;
        border: 2px solid #fff;
        display: block;
        margin-left: 5px;
        //margin-left: -12px;
    }
    img {
        max-width: 100%;
        height: auto;
        display: inline-block;
        vertical-align: middle;
    }
}

/* video comment */
.comment-text-div{
    margin-bottom:20px;
    textarea.comment-text{
        margin-bottom: 0;
        max-width: 100%;
    }
    span{
        text-align: right;
        display: block;
        &.reply-limit{
            float:right;
            display: inline-block;
        }
    }
    .reply-btn{
        padding:10px 28px;
        width:100px;
    }
}
.comments{
    .btn + .btn {
        margin-left:10px;
    }
    .reply.c-white{
        color:#fff;
    }
    pre {
        padding: 0;
        code {
            font-size: 15px;
        }
    }
}

/* subscription */
.subscription-btn{
    min-width:120px;
    display: inline-block;
    float:right;
    font-size: 14px;
}



#video-text-content{
    .author-info {
        a{
            display: inline-block;
        }
    }
}

/* Video description */
.video-description {
    pre {
        padding: 0;
    }
}

/* video lists */
.video-lists{
    .product-item {
      background-color: #ecf4fc;
    }
}
.curriculum-event-content {
    .icon-text-item.video-info {
        div:not(:last-child){
            margin-right: 10px;
        }
    }
}
.tutorial-lists {
    .action-button-group{
        position: absolute;
        top: 5px;
        right: 5px;
        z-index:99;
        a {
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 30px;
            color: white;
            &:hover{
                cursor: pointer;
            }
        }
        &.c-gray{
            a{
                color:#6987ab;
            }
        }
    }
    .teammember-list{
        li{
            position: relative;
            &.crumina-teammembers-item{
                position: relative;
            }
        }

    }
    .curriculum-event-content{
        &.tutorial-info{
            padding:30px 40px;
        }
        .tutorial-add-btn{
            position: absolute;
            top: 58%;
            left: 42%;
            font-size: 55px;
            &:hover{
                cursor: pointer;
                opacity: 0.5;
            }
        }
        .icon-text-item {
            margin-bottom:10px;
            &.video-info{
                div:not(:last-child) {
                    margin-right:10px;
                }
            }
        }
    }
    .teammember-content{
        .teammembers-item-prof{
            margin-bottom: 10px;
        }
        .teammembers-item-name{
            margin-top:0;
            margin-bottom:10px;
            display: inline-block;
        }
        .tutorial-updated{
            display: inline-block;
            float: right;
        }
    }

}

.channel-lists {
    .action-button-group{
        position: absolute;
        top: 5px;
        right: 5px;
        z-index:99;
        a {
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 30px;
            color: white;
            &:hover{
                cursor: pointer;
            }
        }
        &.c-gray{
            a{
                color:#6987ab;
            }
        }
    }
    .teammember-list{
        li{
            position: relative;
            &.crumina-teammembers-item{
                position: relative;
            }
        }

    }
    .curriculum-event-wrap .curriculum-event{
        height: 400px;
    }
    .curriculum-event-thumb{
        height:100%;
        > img {
            min-width: fit-content;
            width: auto;
            height: 100%;
        }
        .author-block{
            //margin-top:15px;
            .author-avatar{
                width:80px;
                height:80px;
            }
        }
        .author-prof{
            margin-bottom:5px;
        }

        .curriculum-event-content {
            top:55px;
            bottom:unset;
            .text{
                margin-bottom: 5px;
            }
            .channel-info {
                margin-top:20px;
            }
            .channel-admins{
                margin-top:20px;
            }
        }

        .subscription-btn {
            position: absolute;
            top: 10px;
            z-index: 2;
            right: 6px;
            min-width: unset;
        }

        .channel-add-btn{
            position: absolute;
            left: 40%;
            top: 40%;
            font-size: 65px;
            z-index: 3;
            color: white;

            &:hover {
                cursor: pointer;
                opacity: 0.5;
            }
        }

    }

    .teammember-content{
        .teammembers-item-prof{
            margin-bottom: 10px;
        }
        .teammembers-item-name{
            margin-top:0;
            margin-bottom:10px;
        }
        p {
            margin-bottom:15px;
        }
    }
}
.curriculum-event-thumb .category-link
{
    &.progress-status{
        left:unset;
        right:40px;
    }
}
/* pagination */
.navigation {
    a:not(.current):not(.disabled){
        cursor: pointer;
    }
}

.w-category .category-list li a.active{
    color:$primary-color;
    .cat-count {
        color: $white-color;
        background-color: $primary-color;
    }
    &:before{
        background-color: $primary-color;
    }
}

.list-style-group{
    display: inline-block;
    font-size: 24px;
    line-height: 1.3em;
    float: right;
    margin: .5em 0;
    span:not(:last-child){
        margin-right:5px;
    }
    a:hover{
        opacity: 0.7;
        box-shadow: 5px 0 10px 0 rgba(0, 131, 255, 0.3);
    }
}
.crumina-teammembers-item .teammember-content{
    padding-top:0;
}
.crumina-teammembers-item .teammembers-thumb{
    background-color: rgba(255, 255, 255, 0);
}
.teammember-item--author-in-round .teammembers-thumb{
    width:120px;
    height:unset;
    img {
        width:100%;
    }
}
.tutorial-lists {
    .teammember-item--author-in-round .teammembers-thumb img{
        border-radius: 8%;
    }
}
.w-author .testimonial-img-author img {
    width:100%;
}
/* user list */
.user-list{
    .user-image-thumb{
        img {
            width:120px;
        }
    }
    .crumina-teammembers-item {
        .teammembers-item-prof{
            margin-bottom:5px;
        }
    }
}
/* contact */
.contact-item{
    word-break: break-all;
    .contact-icon{
        color: #0083ff;
        fill: #0083ff;
        margin-right:10px;
        &.fa-mobile-alt {
            font-size: 22px;
            margin-right:11px;
        }
        &.fa-archway{
            font-size: 14px;
        }
    }
}
/* tech icon & list */
.tech-list{
    li:not(:last-child){
        margin-bottom:30px;
        border-bottom: 1px solid #d8e1eccc;
    }
}
.tech-icon-image {
    line-height: 50px;
    font-size: 50px;
}
.tech-tags{
    line-height: 50px;
    span{
        margin-right:5px;
    }
}
.tech-content {
    &.skills-item{
        margin-bottom: 0;
    }
}

/* tutorial page */
/* tutorial show */
.course-details-control {
    .tab-control {
        a.voted, a.interested{
            color:#0083ff;
        }
    }
}

/* star rate */
.rate-stars{
    li{
        margin-right:2px;
        display: inline-block;
        a{
            color: #FECF39;
        }
    }
}
select.star-rate{
    font-family: 'Font Awesome 5 Free';
}
/* review */
#review-form{
    .v-select {
        input {
            padding: 10px 40px;
            border: 1px solid transparent;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            font-size: 16px;
            color: #273f5b;
            //margin-bottom: 20px;
            border-radius: 50px;
            background-color: #fff;
            -webkit-box-shadow: 0 0 30px 0 rgba(18, 25, 33, 0.15);
            box-shadow: 0 0 30px 0 rgba(18, 25, 33, 0.15);
            width: 100% !important;
            outline: none;
            height: auto !important;
        }
        .dropdown-toggle{
            border:none;
            .clear{
                top: 10px !important;
            }
        }
        .open-indicator{
            top: 23px;
        }
        &.single .selected-tag{
            position: absolute;
            z-index: 999;
            top: 10px;
            left: 40px;
            i {
                color:#FECF39;
            }
        }
    }
}

/* v-select */
.v-select .dropdown-toggle .clear{
    bottom:6px !important;
}
.v-select .open-indicator{
    //bottom:9px !important;
}
.v-select input[type=search], .v-select input[type=search]:focus{
    line-height: 35px !important;
    //font-size: 1.2em !important;
    height: 35px !important;
}
.v-select .selected-tag{
    line-height: 40px !important;
    //font-size: 1.2em !important;
    height: 40px !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
}
.sns-lists .v-select .dropdown-toggle .clear{
    bottom:0px !important;
}

.tech-form-button{
    position: absolute;
    top: 15px;
    right: 20px;
    a{
        margin-left: 10px;
        cursor: pointer;
        &:hover{
            opacity:0.7;
        }
    }
}
.tech-action-buttons, .project-action-buttons, .sns-action-buttons{
    text-align: right;
    a{
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 30px;
        &:hover{
            opacity: 0.7;
            cursor: pointer;
        }
    }
}
.tech-edit-buttons, .sns-edit-buttons
{
    margin-top:20px;
    a {
        width: 48%;
        height: 30px;
        line-height: 30px;
        padding: 0;
    }
    .btn + .btn {
        margin-left:0;
    }
}
.tags-list{
    li{
        a{
            i{
                font-size: 15px;
                vertical-align: middle;
                font-weight: bold;
            }
        }
    }
}
/* user profile */
.wave-user-profile {
    .tabs-with-line .tab-control {
        width:auto;
    }
}
/* user profile SNS */
.sns-lists{
    .sns-icon{
        font-size: 30px;
    }
    .sns-title {
        font-size: 16px;
    }
    .sns-link {
        font-size: 16px;
    }
    span{
        line-height: 40px;
    }
}



/* Header */
.stunning-header-content{
    .category-link{
        font-size: 20px;
    }
}

/* froala editor */
.fr-popup{
    .fr-buttons{
        #imageManager-1, #imageManager-2, #videoUpload-1, #videoUpload-2{
            display: none;
        }
    }
}
img{
    &.fr-dib{
        margin: 5px auto;
        display: block;
        float: none;
        vertical-align: top;
        &.fr-fil{
            margin-left: 0;
            text-align: left;
        }
        &.fr-fir{
            margin-left: 0;
            text-align: right;
        }
    }
}
.fr-view img {
  width: auto;
  max-width: 100%;
}
.fr-popup .fr-layer.fr-active.fr-image-progress-bar-layer{
    display:none !important;
}

/* modal */
.modal-backdrop {
    z-index: 21;
    background-color: rgba(0, 130, 215, 0.5);
}
.modal-backdrop.in{
    opacity: 0.4 !important;
}

/* global */
.line-block{
    display: inline-block;
}
.Glow {
    text-shadow: -1px 1px 0.2em rgba(255,255,255,.4), 1px -1px 0.4em rgba(255,255,255,.4);
}
