.stream {

  position: relative;
  padding: 10px 0;

  &:first-child .stream-badge:before {
    top: 10px;
  }

  &:last-child .stream-badge:before {
    height: 30px;
  }

  .stream-badge {
    width: 50px;

    i {
      border: 1px solid $border-color;
      border-radius: 50%;
      padding: 6px;
      color: lighten($body-font-color, 10%);
      position: absolute;
      background-color: #ffffff;
      left: 8px;

      &.fa-circle {
        color: lighten($body-font-color, 40%);
      }

      &.bg-success {
        color: #ffffff;
        background-color: $blue;
        border-color: $blue;
      }

      &.bg-primary {
        color: #ffffff;
        background-color: $grey;
        border-color: $grey;
      }

      &.bg-warning {
        color: #ffffff;
        background-color: $yellow;
        border-color: $yellow;
      }

      &.bg-info {
        color: #ffffff;
        background-color: $peach;
        border-color: $peach;
      }

      &.bg-danger {
        color: #ffffff;
        background-color: $red;
        border-color: $red;
      }

    }

    &:before {
      content: '';
      width: 1px;
      background-color: $border-color;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 20px;

    }

  }

  .stream-info {
    font-size: 14px;
    margin-bottom: 5px;
    img {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin-right: 2px;
      margin-top: 0px;
    }

    .date {
      color: lighten($body-font-color, 20%);
      font-size: 80%;
    }

  }

  .stream-panel {
    margin-left: 55px;

    .by-user{
        img{
            border-radius: 50%;
            width: 25px;
            height: 25px;
            margin-right:5px;
        }
        a{
            cursor: pointer;
            color:$blue;
        }
    }
  }

}

.stream-small {
  margin: 10px 0;

  .label {
    padding: 2px 6px;
    margin-right: 2px;
  }
}
.notification-footer {
    margin-top:30px;
    .navigation{
        margin:0;
        .page-numbers{
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 12px;
        }
    }
}
