<template>
    <div class="modal fade" tabindex="-1" role="dialog" v-bind:id="modalId ? modalId : 'confirmModal'">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ content.title }}</h4>
          </div>
          <div class="modal-body">
            <p>{{ content.body }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{content.cancel}}</button>
            <button type="button" class="btn btn-primary" @click.prevent="confirm">{{content.submit}}</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>

<script>
import eventHub from '../../event.js'

export default {
    data() {
        return {
            content:{
                title:null,
                body:null,
                cancel:'취소',
                submit:'확인'
            },
            receivedData:null
        }
    },
    props:{
        modalId:{
            type:String
        },
        contentProp:{
            type:Object
        },
        eventEmitName: {
            type: String
        },
        eventOnName: {
            type: String
        }
    },
    mounted(){
        let self = this
        if(this.contentProp){
            _.forEach(this.contentProp, function(value, key) {
                Vue.set(self.content, key, value)
            });
        }

        eventHub.$on(this.eventOnName, this.setData)
    },
    methods:{
        setData(data){
            this.receivedData = data
        },
        confirm(){
            eventHub.$emit(this.eventEmitName, {modalID: this.modalId, data: this.receivedData})
        }
    }
}
</script>
