<template>
    <div class="window-popup" v-bind:class="popupId">
    	<a href="#" class="popup-close js-popup-close cd-nav-trigger">
    		<svg class="utouch-icon utouch-icon-cancel-1"><use xlink:href="#utouch-icon-cancel-1"></use></svg>
    	</a>

    	<div class="send-message-popup">
    		<h5>Send a Message</h5>
    		<form class="contact-form">
                <div v-if="!userLogedin" class="">
                    <div class="with-icon">
        				<input v-model.trim="name" name="name" placeholder="Your Name" type="text" required="required">
        				<svg class="utouch-icon utouch-icon-user"><use xlink:href="#utouch-icon-user"></use></svg>
        			</div>

        			<div class="with-icon">
        				<input v-model.trim="email" name="email" placeholder="Email Adress" type="text" required="required">
        				<svg class="utouch-icon utouch-icon-message-closed-envelope-1"><use xlink:href="#utouch-icon-message-closed-envelope-1"></use></svg>
        			</div>
                </div>

    			<div class="with-icon">
    				<input v-model.trim="subject" class="with-icon" name="subject" placeholder="Subject" type="text" required="required">
    				<svg class="utouch-icon utouch-icon-icon-1"><use xlink:href="#utouch-icon-icon-1"></use></svg>
    			</div>

    			<div class="with-icon">
    				<textarea v-model.trim="message" name="message" required="" placeholder="Your Message" style="height: 180px;"></textarea>
    				<svg class="utouch-icon utouch-icon-edit"><use xlink:href="#utouch-icon-edit"></use></svg>
    			</div>

                <div style="text-align: initial;font-size: 13px;margin-bottom: 20px;">마크다운(Markdown <i class="fab fa-markdown"></i>) 지원합니다. # ~ ######: 헤더 h1 ~ h6, >: 인용 Blockquotes, ~~~ 코드블록 ~~~, ` 인라인 코드 블럭 `, * 기울여쓰기(italic) *, ** 굵게쓰기(bold) **, --- 수평선, [Google](http://www.google.co.kr “구글”) : 인라인 링크, &lt;http://google.com/&gt;: URl 링크, 1. list item : 리스트, * list item : 리스트, ![alt text](image_URL): 링크 이미지
                </div>

    			<button @click.prevent="sendMessage" class="btn btn--green btn--with-shadow full-width">
    				메세지 전송
    			</button>

                <div v-if="this.errorMessage != ''" class="summit-message" style="margin-top:20px;">
                    <p class="summit-error" v-html="this.errorMessage"></p>
                </div>

    		</form>
    	</div>
    </div>
</template>

<script>
import eventHub from '../../event.js'

export default {
    data () {
        return {
            name:'',
            email:'',
            subject:'',
            message:'',
            errorMessage:'',
        }
    },
    props:{
        popupId:{
            type:String
        },
        userLogedin:{
            type:Boolean,
            required:true
        },
        urlPath:{
            type:String,
            required:true
        },
        toUser:{
            type:String,
        }
    },
    mounted(){

    },
    methods:{
        async sendMessage(){
            let validte = this.validate()
            if(!validte){
                return false
            }
            let sendData
            if(this.userLogedin){
                sendData = {subject:this.subject, message:this.message}
            } else {
                sendData = {name:this.name, email:this.email, subject:this.subject, message:this.message}
            }

            let response = await axios.post(this.urlPath, sendData)

            let self = this
            this.errorMessage = '메세지 전송이 완료되었습니다'
            this.initForm()
            setTimeout(function(){
                self.errorMessage = ''
                $('.'+self.popupId).removeClass('open')
            }, 3000)
        },
        initForm(){
            this.name = ''
            this.email = ''
            this.subject = ''
            this.message = ''
        },
        validate(){
            this.errorMessage = ''
            let error = false
            if(!this.userLogedin){
                if(this.name == ''){
                    this.errorMessage = '이름을 작성해주세요'
                    return false
                }

                if(this.email == ''){
                    this.errorMessage = '이메일을 작성해주세요'
                    return false
                }
            }

            if(this.subject == ''){
                this.errorMessage = '제목을 작성해주세요'
                return false
            }

            if(this.message == ''){
                this.errorMessage = '메세지를 작성해주세요'
                return false
            }

            return true

        }
    }
}
</script>

<style lang="css">
</style>
