<template>
<div class="">

    <h6 class="line-block">비디오 대표 이미지</h6>
    <div v-if="enable" class="">
        <div v-if="thumbnail" class="thumbnail-default">
            <img :src="thumbnail" alt="">
        </div>

        <h6 class="line-block" style="margin-top:30px;">비디오 이미지 리스트</h6>
         <p>아래 이미지들중에 대표 이미지를 고르세요. 파란 테두리가 있는 것이 현재 대표 이미지입니다. 빨간 테두리의 이미지는 현재 선택을 나타냅니다. 이미지의 우측 상단 x를 클릭 하시면 이미지를 삭제하실 수 있습니다.</p>

        <div class="thumbnail-list">
            <a @click.prevent="selectThumbnail(thumb.uri, index)" href="" v-for="(thumb, index) in thumbnails" :class="{'selected' : thumbnail_url == thumb.uri, 'select-now' : thumb.uri == selectThumbUri}">
                <img :src="thumb.sizes[0]['link']" alt="">
                <a @click.prevent="deleteThumbnailConfirm(thumb, index)" href="">x</a>
            </a>
        </div>

        <a @click.prevent="setDefaultThumbnail" href="" class="btn btn-small btn--green-light btn--with-shadow" style="margin-top:30px; width: 200px;">대표 이미지 저장</a>
        <div v-if="this.errorDefaultMessage != ''" class="summit-message" style="margin-top:30px;">
            <p class="summit-error" v-html="this.errorDefaultMessage"></p>
        </div>

        <div v-if="embedUrl" class="">
            <hr />
            <h6 class="line-block">비디오 이미지 추가</h6>
            <div class="form-group">
                <label for="thumbImage">비디오 이미지 선택</label>
                <p>비디오를 원하는 이미지가 나오는 순간 플레이어를 멈춰주세요. 보이는 해당 화면의 이미지 저장을 원하시면 아래 이미지 추가 버튼을 눌러주세요.</p>
                <div class="embed-fit-size" v-if="embedUrl">
                    <div class='embed-container embed-thumbnail'>
                        <iframe :src="embedUrl" frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                    </div>
                </div>
            </div>

            <a @click.prevent="addThumbnail" href="" class="btn btn-small btn--green-light btn--with-shadow" style="margin-top:10px; width: 200px;">이미지 추가</a>
            <div v-if="this.errorAddMessage != ''" class="summit-message" style="margin-top:30px;">
                <p class="summit-error" v-html="this.errorAddMessage"></p>
            </div>
        </div>
    </div>

    <div v-else class="">
        <p>현재 비디오가 서버 업로드 및 트랜스코딩이 완료되어 있지 않습니다. 현재는 비디오 이미지 관련 처리를 할 수 없습니다. 기다려주시기 바랍니다.</p>
    </div>




</div>
</template>

<script>

import eventHub from '../../event.js'
export default {
    data(){
        return{
            thumbnail:null,
            thumbnail_url:null,
            thumbnails:[],
            selectThumbUri:null,
            selectThumbIndex:null,
            errorDefaultMessage:null,
            errorAddMessage:null,
            thumbTime:0,
            embedUrl:null,
            enable:null,
            player:''
        }
    },
    props:{
        videoProp:{
            type:Object,
            required:true
        }
    },
    updated(){
        let self = this
        this.$nextTick(function () {
            //console.log('updated')

            if(this.videoProp.enable && this.videoProp.vimeo_url){
                var iframe = document.querySelector('.embed-thumbnail iframe')
                this.player = new Vimeo.Player(iframe)

                // 일시 정지 시 타이머 정지
                this.player.on('pause', function(data){
                    //console.log('pause')
                    console.log(data)
                    self.thumbTime = data.seconds
                })
            }
        })
    },
    mounted(){
        eventHub.$on('deleteThumbnail', this.deleteThumbnail)

        this.thumbnail = this.videoProp.thumbnail
        this.thumbnail_url = this.videoProp.thumbnail_url

        if(this.videoProp.vimeo_url){
            let tempUrl = this.videoProp.vimeo_url
            this.embedUrl = 'https://player.vimeo.com/video/'+tempUrl.split('/').pop()
        }

        this.enable = this.videoProp.enable

        this.getThumbnails()
    },
    methods:{
        async addThumbnail(){
            if(this.thumbnails.length > 4){
                $('#alarm #title').text('비디오 이미지 추가')
                $('#alarm #content').html('비디오 이미지는 최대 5개까지 저장 됩니다')
                $('#alarm').modal('show')
                return false
            }

            let response = await axios.post('/video/'+this.videoProp.uid+'/addThumbnail', {time:this.thumbTime})
            this.thumbnails.unshift(response.data.body)
            this.thumbnail = response.data.body.sizes[2].link
            this.thumbnail_url = response.data.body.uri

            this.errorAddMessage = '대표 이미지 추가가 완료되었습니다'
            let self = this
            setTimeout(function(){ self.errorAddMessage = '' }, 3000)
        },
        async getThumbnails(){
            let response = await axios.post('/video/getVideoTumbnails', {type: 'all', thumbnailUrl: this.videoProp.vimeo_url+'/pictures'})
            //console.log(response)
            this.thumbnails = response.data.images
        },
        selectThumbnail(uri, index){
            this.selectThumbUri = uri
            this.selectThumbIndex = index
        },
        async setDefaultThumbnail(){
            if(this.selectThumbUri && this.selectThumbUri != this.thumbnail_url){
                let response = await axios.post('/video/'+this.videoProp.uid+'/setDefaultVideoTumbnail', {uri: this.selectThumbUri})
                //console.log(response)
                this.thumbnail = response.data.thumbnail
                this.thumbnail_url = response.data.thumbnail_url

                this.errorDefaultMessage = '대표 이미지 설정이 완료되었습니다'
                let self = this
                setTimeout(function(){ self.errorDefaultMessage = '' }, 3000)
            }
        },
        deleteThumbnailConfirm(thumb, index){
            $('#deleteVideoThumb').modal('show')
            eventHub.$emit('deleteThumbnailConfirm', {thumb: thumb, index:index})
        },
        async deleteThumbnail(resp){
            $('#deleteVideoThumb').modal('hide')
            if(this.thumbnails.length < 2){
                $('#alarm #title').text('비디오 이미지 삭제')
                $('#alarm #content').html('비디오 이미지는 최소 한개 이상이어야 합니다')
                $('#alarm').modal('show')
                return false
            }

            let delteThumbUri = resp.data.thumb.uri
            let index = resp.data.index

            let response = await axios.post('/video/'+this.videoProp.uid+'/delteVideoTumbnail', {uri: delteThumbUri})
            this.thumbnails.splice(index, 1)

            if(delteThumbUri == this.thumbnail_url){ // 기존 디폴트 썸네일을 삭제할 경우
                this.thumbnail_url = null
                this.thumbnail = null
                this.selectThumbUri = this.thumbnails[0]['uri']
                this.setDefaultThumbnail()
            }
        }
    }
}
</script>
