<template>
    <div class="" v-bind:class="{'sk-loading': uploadStatus=='uploading'}">
        <div class="sk-spinner sk-spinner-double-bounce">
          <div class="sk-double-bounce1"></div>
          <div class="sk-double-bounce2"></div>
        </div>

        <div v-if="enable && embedUrl" class="form-group" style="margin-bottom:50px;">
            <label for="name">업로드 된 비디오</label>
            <div class="embed-fit-size" v-if="embedUrl">
                <div class='embed-container'>
                    <iframe :src="embedUrl" frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>
            </div>
        </div>

        <div v-else-if="!enable && status == 'upload_error'" class="form-group" style="margin-bottom:50px;">
            <div class="alert alert-dismissable alert-danger" style="text-align:center;">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button" style="right:0; color:#fff; opacity:1;">×</button>
                비디오를 관리 서버로 업로드하는데 실패하였습니다. 비디오를 다시 업로드해 주세요.
            </div>
        </div>

        <div v-else-if="!enable && status == 'uploading'" class="form-group" style="margin-bottom:50px;">
            <div class="alert alert-dismissable alert-warning" style="text-align:center;">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button" style="right:0; color:#fff; opacity:1;">×</button>
                비디오가 서버에 업로드 중에 있습니다. 잠시만 기다려 주세요.
            </div>
        </div>

        <div v-else-if="!enable && status != 'available'" class="form-group" style="margin-bottom:50px;">
            <div class="alert alert-dismissable alert-warning" style="text-align:center;">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button" style="right:0; color:#fff; opacity:1;">×</button>
                비디오가 관리 서버에 업로드 및 트랜스 코딩중에 있습니다. 잠시만 기다려 주세요.
            </div>
        </div>



        <div class="form-group">
            <label for="name">비디오 파일 선택</label>
            <input :disabled="status!='available' && status!='upload_error' && uploadStatus!='' && uploadStatus!='failed'" type="file" class="" id="video" placeholder="" name="video" @change="fileInputChange" >
            <div class="progress" v-if="uploadStatus == 'uploading' || uploadStatus == 'completed'">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                v-bind:style="{width: uploadPercentage + '%' }">
                    {{ uploadPercentage }} %
                </div>
            </div>
        </div>


        <a @click.prevent="uploadVideo" href="" class="btn btn-small btn--green-light btn--with-shadow" style="width: 200px;">비디오 업로드</a>
        <a @click.prevent="initComponent" href="" class="btn btn-small btn--secondary btn--with-shadow" style="width: 200px; margin-left: 10px;">취 소</a>
        <div v-if="this.errorMessage != ''" class="summit-message" style="margin-top:50px;">
            <p class="summit-error" v-html="this.errorMessage"></p>
        </div>
    </div>
</template>

<script>
var extensionLists = {}; //Create an object for all extension lists
extensionLists.video = ['mp4', 'avi', 'mov', 'wmv', 'flv'];  //'m4v', 'avi','mpg','mp4', 'webm'
extensionLists.image = ['jpg', 'gif', 'bmp', 'png'];

// One validation function for all file types
function isValidFileType(fName, fType) {
    return extensionLists[fType].indexOf(fName.split('.').pop()) > -1;
}

export default {
    data(){
        return {
            file:null,
            fileSize:null,
            errorMessage:'',
            uploadPercentage:0,
            uploadStatus:null,
            embedUrl:null,
            enable:null,
            status:null,
        }
    },
    props:{
        videoProp:{
            type:Object,
            required:true
        }
    },
    mounted(){
        if(this.videoProp.vimeo_url){
            let tempUrl = this.videoProp.vimeo_url
            this.embedUrl = 'https://player.vimeo.com/video/'+tempUrl.split('/').pop()
        }

        this.enable = this.videoProp.enable
        this.status = this.videoProp.status
        this.file = document.getElementById('video').files[0]

        // 업로딩 중에 페이지 이동을 하려고 할때 ...  경고 문구 발생 시키기
        window.onbeforeunload = () => {
            if(this.uploadStatus == 'uploading') {
                return '비디오 업로드 중입니다. 정말로 다른 페이지로 이동하시겠습니까?'
            }
        }
    },
    methods:{
        initComponent(){
            this.resetInputVideo()
        },
        formValid(){
            var errorChk = true
            this.errorMessage = ''

            if(this.file){
                if( !isValidFileType(this.file.name, 'video')) {
                    this.resetInputVideo()
                    errorChk = false
                    this.errorMessage = '비디오 형식의 파일을 선택해주세요'
                    return false
                }
            } else {
                errorChk = false
                this.errorMessage = '업로드할 비디오를 선택해주세요'
                return false
            }

            if(this.fileSize > 500 ) { // 500 MB 이상의 경우
                errorChk = false
                this.errorMessage = '파일 사이즈는 500MB이하만 업로드 가능합니다'
                return false
            } else if(this.fileSize == null || this.fileSize == '' || this.fileSize == 0){
                errorChk = false
                this.errorMessage = '파일을 선택해주세요'
                return false
            }

            this.errorMessage = '비디오 업로드 중 ...'
            return errorChk
        },
        fileInputChange(){

            this.file = document.getElementById('video').files[0]
            this.fileSize = this.file.size / (1024 * 1024)

            if(this.fileSize > 500 ) { // 500 MB 이상의 경우
                this.errorMessage = '파일 사이즈는 500MB이하만 업로드 가능합니다'
                this.resetInputVideo()
            } else if(this.fileSize == null || this.fileSize == '' || this.fileSize == 0){
                this.errorMessage = '유효한 파일이 아닙니다. 다시 시도해 주세요.'
                this.resetInputVideo()
            } else if( !isValidFileType(this.file.name, 'video')) {
                this.errorMessage = '비디오 파일을 선택해주세요. 지원 비디오 파일 형식: mp4, mov, wmv, avi, & flv'
                this.resetInputVideo()
            } else {
                this.errorMessage = ''
            }

        },
        resetInputVideo(){
            if(this.file){
                this.file = ''
                document.getElementById('video').value = ''
            }
        },
        uploadVideo(){

            if(this.formValid()){
                this.uploadStatus = 'uploading'

                let form = new FormData()
                form.append('video', this.file)
                //form.append('id', this.videoProp.id)
                //form.append('uid', this.videoProp.uid)

                axios.post('/video/'+this.videoProp.uid+'/replace', form, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress: function( progressEvent ) {
                      this.uploadPercentage = parseInt( Math.round( ( progressEvent.loaded * 100 ) / progressEvent.total ) );
                    }.bind(this)
                })
                .then(response => {
                    if(response.data.result == 'success'){
                          this.uploadStatus = 'completed'
                          this.errorMessage = '비디오 업로드에 성공하였습니다'
                          this.errorMessage += '<br>업로드된 비디오는 비디오관리 서버로 업로드되며 트랜스코딩이 진행됩니다. 파일 사이즈에 따라 서버 업로드 및 비디오 트랜스코딩 시간이 다릅니다. 대개의 경우 수분에서 수십분이 소요됩니다.'
                          this.initComponent()
                          this.enable = response.data.video.enable
                          this.status = response.data.video.status
                      } else if(response.data.result == 'error') {
                          this.uploadStatus = 'failed'
                          this.errorMessage = '비디오 업로드에 실패하였습니다. 다시 시도해 주세요.'
                          if('message' in response.data){
                              this.errorMessage = message
                          }
                      }
                })
                .catch(e => {
                    this.uploadStatus = 'failed'
                    this.errorMessage = '비디오 업로드에 실패하였습니다'
                    console.log(e)
                })

            }
        }
    }
}
</script>
