<template>
    <div class="" v-bind:class="{'sk-loading': status=='uploading'}" >

        <div class="sk-spinner sk-spinner-double-bounce">
          <div class="sk-double-bounce1"></div>
          <div class="sk-double-bounce2"></div>
        </div>

        <div class="form-group">
            <label for="channel">채널 선택</label>
            <select class="" name="channel" v-model="channel" v-on:change="channelSelect">
                <option value="">채널 선택</option>
                <option v-bind:value="channel.id" v-for="(channel, index) in channels" :key="channel.id">{{channel.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="tutorial">강좌 선택</label>
            <p>채널을 선택하시면 해당 채널내 운영하는 강좌를 선택하실 수 있습니다</p>
            <select class="" name="tutorial" v-model="tutorial" >
                <option value="" >강좌 선택</option>
                <option v-bind:value="tutori.id" v-for="(tutori, index) in tutorials" :key="tutori.id">{{tutori.title}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="name">비디오 타이틀</label>
            <input type="text" class="" placeholder="비디오 타이틀" v-model="title">
        </div>

        <div class="form-group">
            <label for="description">비디오 설명</label>
            <froala :tag="'textarea'" :config="froalaConfig" v-model="description"></froala>
        </div>

        <div class="form-group" style="margin-top:50px;">
            <label for="tag">태그</label>
            <p style="margin-bottom:5px;">특수 문자는 제외됩니다 &#40;&#38;&#91;&#92;&#93;
&#94;&#47;&#35;&#44;&#43;&#40;&#41;&#36;&#126;&#37;&#39;&#34;&#58;&#59;&#42;&#63;&#33;&#38;&#60;&#61;&#62;&#123;&#124;&#125;&#41;</p>
            <multiselect :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="false" :close-on-select="false" :options-limit="50" :limit="20" :limit-text="limitText" @search-change="asyncFind" id="ajax" v-model="tag" :options="tags" :taggable="true" @tag="addTag" tag-placeholder="새로운 태그를 추가하세요" :max="maxTags" placeholder="태그를 검색하세요">
                <template slot="maxElements">
                    최대 20개까지 태그를 입력하실 수 있습니다.
                </template>
            </multiselect>
      </div>

        <div class="form-group" style="margin-top:40px;">
            <label for="visibility">비디오 설정</label>
            <p>공개는 Public을 비공개는 Private으로 선택해주세요. 비공개로 작업하다 완성한 시 공개로 전환해도 좋습니다.</p>
            <select class="" name="visibility" v-model="visibility">
                <option value="">선택해주세요</option>
                <option value="private">Private</option>
                <option value="public">Public</option>
            </select>
        </div>

        <div class="form-group">
            <label for="preview">비디오 미리보기 설정</label>
            <p>미리보기는 강좌를 수강하지 않은 유저에게 강좌를 보여주는 기능입니다. 강좌에서 몇몇 비디오를 미리보기로 설정해주세요.</p>
            <select class="" name="preview" v-model="preview">
                <option value="">선택해주세요</option>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>
        </div>

        <div class="form-group">
            <label for="order">비디오 정렬 순서</label>
            <p>옵션사항입니다. 강좌 리스트가 보여질때 정렬 기준이 되며 낮은 숫자가 우선순위가 높습니다. <span style="color:red; font-weight:bold;">미 선택 시 기본값(255)으로 설정됩니다.</span> 비디오 정렬 우선순위는 정렬 순서, 비디오 타이틀 그리고 마지막으로 생성 시간 순 입니다.</p>
            <select class="" name="order" v-model="order">
                <option value="">선택해주세요</option>
                <option v-bind:value="n" v-for="(n, index) in 255">{{ n }}</option>
            </select>
        </div>

        <a @click.prevent="updateVideoInfo" href="" class="btn btn-small btn--green-light btn--with-shadow" style="width: 200px;">업데이트</a>
        <a @click.prevent="initComponent" href="" class="btn btn-small btn--secondary btn--with-shadow" style="width: 200px; margin-left: 10px;">취 소</a>
        <div v-if="this.errorMessage != ''" class="summit-message" style="margin-top:50px;">
            <p class="summit-error" v-html="this.errorMessage"></p>
        </div>
    </div>
</template>

<script>
import VueFroala from 'vue-froala-wysiwyg'
Vue.use(VueFroala)

import Multiselect from 'vue-multiselect'
Vue.component('multiselect', Multiselect)

export default {
    data(){
        return {
            channel:null,
            channels:[],
            tutorials:[],
            tutorial:null,
            title:null,
            order:null,
            description:null,
            visibility:null,
            preview:null,
            errorMessage:'',
            status:null,
            tag:tags,
            tags:tags,
            isLoading: false,
            maxTags:20,
            froalaConfig: {
                imageDefaultWidth:0,
                requestHeaders: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },
                saveInterval: 0,
                saveURL: '/video/updateDescription/'+this.videoProp.uid,
                saveParams: {id: this.videoProp.id},
                language: 'ko',
                imageUploadParam: 'imageFile',
                imageUploadURL: '/editor/uploadToS3',
                imageUploadMethod: 'POST',
                imageMaxSize: 2 * 1024 * 1024,
                imageUploadParams: {id: this.videoProp.id, type: 'videos', width:800, mode:'resize', limitWidth:1920, limitHeight:1000, fileSize:2},
                imageAllowedTypes: ['jpeg', 'jpg', 'png', 'gif', 'svg'],
                heightMin: 500,
                heightMax: 1000,
                fontFamily: {
                  'Arial,Helvetica,sans-serif': 'Arial',
                  'Georgia,serif': 'Georgia',
                  'Impact,Charcoal,sans-serif': 'Impact',
                  'Tahoma,Geneva,sans-serif': 'Tahoma',
                  "'Times New Roman',Times,serif": 'Times New Roman',
                  'Verdana,Geneva,sans-serif': 'Verdana',
                  'Helvetica,sans-serif':'Helvetica',
                  "'Helvetica Neue',sans-serif":'Helvetica Neue',
                  "'Roboto', sans-serif":'Roboto',
                  "'Nunito', sans-serif":  'Nunito',
                  "'Nunito Sans', sans-serif":'Nunito Sans',
                  "'Montserrat', sans-serif": 'Montserrat',
                  "'Oswald', sans-serif":'Oswald',
                  "'Raleway', sans-serif":'Raleway',
                  "'Nanum Gothic', sans-serif":'나눔 고딕 Nanum Gothic',
                  "'Nanum Myeongjo', serif":'나눔 명조 Nanum Myeongjo',
                  "'Nanum Pen Script', cursive":'나눔 펜 스크립트 Nanum Pen Script',
                  "'Nanum Gothic Coding', monospace":'나눔 고딕 코딩 Nanum Gothic Coding',
                  "'Nanum Brush Script', cursive":'나눔 브러쉬 스크립트 Nanum Brush Script',
                  "'Song Myung', serif":'송명 Song Myung',
                  "'Poor Story', cursive":'푸어 스토리 Poor Story',
                  "'Gugi', cursive":'구기 Gugi',
                  "'Gothic A1', sans-serif":'고딕 A1 Gothic A1',
                  "'Black Han Sans', sans-serif":'블랙 한글 Sans Black Han Sans',
                  "'Do Hyeon', sans-serif":'도현 Do Hyeon',
                  "'Hi Melody', cursive":'하이 멜로디 Hi Melody',
                  "'Sunflower', sans-serif":'썬프라워 Sunflower',
                  "'Jua', sans-serif":'주아 Jua',
                  "'Gamja Flower', cursive":'감자 플라워 Gamja Flower',
                  "'East Sea Dokdo', cursive":'동해 독도 East Sea Dokdo',
                  "'Gaegu', cursive":'개구 Gaegu',
                  "'Stylish', sans-serif":'스타일리쉬 Stylish',
                  "'Black And White Picture', sans-serif":'블랙 앤 화이트 픽쳐 Black And White Picture',
                  "'Kirang Haerang', cursive":'키랑 해랑 Kirang Haerang',
                  "'Cute Font', cursive":'큐트 폰트 Cute Font',
                  "'Yeon Sung', cursive":'연성 Yeon Sung',
                  "'Dokdo', cursive":'독도 Dokdo'
                },
                //fontFamilySelection: true,
                toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '|', 'insertLink', 'insertImage', 'insertVideo', 'insertTable', '|', 'emoticons', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'print', 'help', 'html', '|', 'undo', 'redo'],
                events : {
                    'froalaEditor.image.error': function (e, editor, error, response){
                        console.log(error)
                        console.log(response)
                        $('#alarm #title').text('이미지 업로드 에러')
                        $('#alarm #content').html('이미지 업로드에 실패하였습니다')
                        // Bad link.
                        if (error.code == 1) {
                            $('#alarm #content').html('유효한 링크가 아닙니다')
                        }

                        // No link in upload response.
                        else if (error.code == 2 || error.code == 3 || error.code == 4 || error.code == 7) {
                            $('#alarm #content').html('업로드 가능한 본문 이미지는<br>사이즈 2Mbytes 이하<br>폭 1920픽셀 이하<br>높이 1000픽셀 이하입니다')
                            if(response){
                                let re = JSON.parse(response)
                                if('message' in re){
                                    let message = ''
                                    _.forEach(re.message, function(value, key) {
                                          message += value
                                          message += '<br>'
                                     });
                                     $('#alarm #content').html(message)
                                }
                            }
                        }

                        // Image too text-large.
                        else if (error.code == 5) {
                            $('#alarm #content').html('업로드 가능한 본문 이미지의 사이즈는 2Mbytes 이하입니다')
                        }

                        // Invalid image type.
                        else if (error.code == 6) {
                            $('#alarm #content').html('업로드 가능한 이미지 타입은 jpeg, jpg, png, gif, svg 입니다')
                        }
                        $('#alarm').modal('show')
                    },
                    'froalaEditor.image.uploaded' : function (e, editor, response) {
                        // Image was uploaded to the server.
                        console.log('froalaEditor.image.uploaded')
                    },
                    'froalaEditor.image.inserted' : function (e, editor, $img, response) {
                      // Image was inserted in the editor.
                      console.log('froalaEditor.image.inserted')
                      editor.save.save()
                    },
                    'froalaEditor.image.replaced' : function (e, editor, $img, response) {
                      // Image was replaced in the editor.
                      console.log('froalaEditor.image.replaced')
                    },
                    'froalaEditor.image.removed' : async function (e, editor, $img) {
                        console.log('froalaEditor.image.removed')
                        let response = await axios.post('/editor/deleteImage', {src: $img.attr('src'), type:'s3'})
                        editor.save.save()
                    }
                }
            },
        }
    },
    props:{
        videoProp:{
            type:Object,
            required:true
        }
    },
    mounted(){
        this.channels = channels
        this.initComponent()
    },
    methods:{
        initComponent(){
            this.channel = this.videoProp.channel_id
            this.findTutorials()
            this.tutorial = this.videoProp.tutorial_id
            this.title = this.videoProp.title
            this.description = this.videoProp.description
            this.visibility = this.videoProp.visibility
            this.preview = this.videoProp.preview
            this.order = this.videoProp.order
            this.errorMessage = ''
            this.status = null
        },
        channelSelect(){
            if(this.channel != ''){
                this.findTutorials()
            } else {
                this.tutorials = []
                this.tutorial = ''
            }
        },
        findTutorials(){
            axios.post(`/getTutorialsByChannel`,
                {
                    channel:this.channel
                },
            )
            .then(response => {
                this.tutorials = response.data.tutorials
            })
            .catch(e => {
                console.log(e)
            })
        },
        async updateVideoInfo(){
            if(this.formValid()){
                this.status = 'uploading'
                let order = this.order
                if(order == '' || order == null){
                    order = 255
                }
                let response = await axios.post('/video/'+this.videoProp.uid+'/contentUpdate', {
                    title:this.title,
                    channel_id: this.channel,
                    tutorial_id:this.tutorial,
                    description:this.description,
                    visibility:this.visibility,
                    preview:this.preview,
                    order:order
                })

                if(response.data.result == 'success'){
                      this.errorMessage = '비디오 정보 업데이트를 완료하였습니다'
                } else if(response.data.result == 'error') {
                      this.errorMessage = '비디오 정보 업데이트를 실패하였습니다. 다시 시도해 주세요.'
                      if('errors' in response.data){
                        this.errorMessage = ''
                        let message = ''
                        _.forEach(response.data.errors, function(value, key) {
                              message += value
                              message += '<br>'
                         });
                         this.errorMessage = message
                      }
                }
                this.status = null
                let self = this
                setTimeout(function(){ self.errorMessage = '' }, 5000)
            } else {
                let self = this
                setTimeout(function(){ self.errorMessage = '' }, 5000)
            }
        },
        formValid(){
            var errorChk = true
            this.errorMessage = ''

            if(this.channel == ''){
                errorChk = false
                this.errorMessage = '채널을 선택해주세요'
                return false
            }

            if(this.tutorial == ''){
                errorChk = false
                this.errorMessage = '강좌를 선택해주세요'
                return false
            }

            this.title = _.trim(this.title)
            if(this.title == ''){
                errorChk = false
                this.errorMessage = '강좌 제목을 작성해주세요'
                return false
            }

            if(this.visibility == ''){
                errorChk = false
                this.errorMessage = '비디오 설정을 선택해주세요'
                return false
            }

            if(this.preview == ''){
                errorChk = false
                this.errorMessage = '비디오 미리보기 설정을 선택해주세요'
                return false
            }

            this.errorMessage = '비디오 컨텐츠 업데이트 중 ...'
            return errorChk
        },
        addTag (newTag) {
            newTag = _.trim(newTag)
            newTag = newTag.replace(/[&\/\\#,+()$~^%\['\]":;*?!&<=>{|}]/g,'')
            //console.log(newTag)

            this.tag.push(newTag)
            this.tags.push(newTag)
        },
        asyncFind (query) {
            let self =this
              this.isLoading = true
              axios.get('/search/tags?q=' +escape(query))
                .then(response => {
                    self.tags = []
                    _.forEach(response.data, function(value, key) {
                        self.tags.push(value.name)
                    })
                    this.isLoading = false
                    //console.log(response)
                })
                .catch(e => {
                    console.log(e)
                })
        },
        clearAll () {
            this.tag = []
        },
        limitText (count) {
          return `외 ${count} 태그들이 선택됨`
        },
    }
}
</script>
